<template>
    <div>
        <h5 class="fw-medium mb-0">
            Input Order
        </h5>
        <p class="mt-2 text-gray500">
            Form input order produk
        </p>
        <div class="box mt-3">
            <div class="row">
                <div class="col-md-3">
                    <label for="">No Order</label>
                    <input type="text" class="form-control" placeholder="Auto generate" disabled v-model="req.no_order">
                </div>
                <div class="col-md-9 m-mt-1">
                    <label for="">Nama Order</label>
                    <input type="text" class="form-control" placeholder="Ketik nama order atau nama pemesan" v-model="req.name">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['name']">
                            Nama order wajib diisi
                        </small>
                    </div>
                </div>
                <template v-for="(item, index) in req.items" :key="index">
                    <div class="col-md-4 mt-3">
                        <label for="">Nama Produk</label>
                        <select class="form-control" v-model="item.product">
                            <option value="">Pilih nama produk</option>
                            <template v-for="product in products" :key="product.id">
                                <option :value="product">{{ product.name }}</option>
                            </template>
                        </select>
                    </div>
                    <div class="col-md-2 mt-3">
                        <label for="">Stok</label>
                        <template v-if="item.product">
                            <template v-if="item.product.stock < 0">
                                <input type="number" class="form-control" placeholder="Auto generate" disabled value="0">
                                <div>
                                    <small class="text-danger size-12">
                                        Stok habis
                                    </small>
                                </div>
                            </template>
                            <template v-else>
                                <input type="number" class="form-control" placeholder="Auto generate" disabled v-model.number="item.product.stock">
                            </template>
                        </template>
                        <template v-else>
                            <input type="number" class="form-control" placeholder="Auto generate" disabled>
                        </template>
                    </div>
                    <div class="col-md-2 mt-3">
                        <label for="">Jumlah</label>
                        <input type="number" class="form-control" placeholder="Jumlah" min="0" @change="checkProductData(index)" v-model.number="item.qty">
                    </div>
                    <div class="col-md-2 mt-3">
                        <label for="">Harga Satuan</label>
                        <template v-if="item.product">
                            <template v-if="item.product.stock < 0">
                                <input type="number" class="form-control" placeholder="Auto generate" disabled value="0">
                            </template>
                            <template v-else>
                                <input type="number" class="form-control" placeholder="Auto generate" disabled v-model.number="item.product.price">
                            </template>
                        </template>
                        <template v-else>
                            <input type="number" class="form-control" placeholder="Auto generate" disabled>
                        </template>
                    </div>
                    <div class="col-md-2 mt-3">
                        <label for="">Total</label>
                        <template v-if="item.product.stock < 0">
                            <input type="number" class="form-control" placeholder="Auto generate" disabled value="0">
                        </template>
                        <template v-else>
                            <input type="number" class="form-control" placeholder="Auto generate" disabled v-model.number="item.sub_total">
                        </template>
                        <button class="btn btn-outline-orange btn-sm mt-2 btn-block" @click="removeItems(index)" v-show="index > 0">
                            Remove
                        </button>
                    </div>
                </template>
                <div class="col-md-10"></div>
                <div class="col-md-2 mt-3">
                    <button class="btn btn-orange btn-sm btn-block" @click="addItems()">
                        Tambah Item
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="line"></div>
                </div>
                <div class="col-md-3 mt-3">
                    <label for="">Biaya Tambahan</label>
                    <input type="number" class="form-control" placeholder="Jumlah biaya tambahan" min="0" v-model="req.additional_cost">
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Keterangan Biaya Tambahan</label>
                    <input type="text" class="form-control" placeholder="Keterangan biaya tambahan" v-model="req.additional_cost_desc">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['additional_cost_desc']">
                            Biaya tambahan wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <label for="">Potongan Harga</label>
                    <input type="number" class="form-control" placeholder="Jumlah potongan harga" min="0" v-model="req.discount">
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Metode Pembayaran</label>
                    <select class="form-control" @change="checkBankAccountData" v-model="req.pay_method">
                        <option value="">Pilih metode pembayaran</option>
                        <template v-for="account in bankAccounts" :key="account.id">
                            <option :value="account.id">{{ account.bank_name }} - {{account.name}}</option>
                        </template>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['pay_method']">
                            Metode pembayaran wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Status Pembayaran</label>
                    <select class="form-control" v-model="req.payment_status">
                        <option value="">Pilih status pembayaran</option>
                        <option value="1">Lunas</option>
                        <option value="2">Belum Lunas</option>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['payment_status']">
                            Status pembayaran wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <div class="box order">
                        <div class="flex align-items-center">
                            <div class="text-center">
                                <template v-if="bank_data != null">
                                    <img :src="bank_data.image" width="100" alt="">
                                    <h5 class="mt-3 mb-0 fw-medium">
                                        {{ bank_data.name }}
                                    </h5>
                                    <h6 class="mb-0 fw-normal mt-1 text-gray500">
                                        {{ bank_data.no_account }}
                                    </h6>
                                </template>
                                <template v-else>
                                    <img :src="noData" width="50" alt="">
                                    <h6 class="mb-0 fw-medium mt-2 text-gray500">
                                        Pilih Metode Pembayaran
                                    </h6>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Total Order</label>
                    <input type="number" class="form-control" placeholder="Auto generate" disabled v-model="req.total">
                    <p class="mb-0 text-gray400 size-12 mt-2">
                        <i>
                            Pastikan klik Order sebelum cetak Resi
                        </i>
                    </p>
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <button class="btn btn-orange btn-block" disabled>Cetak</button>
                        </div>
                        <div class="col-md-6 mt-3">
                            <button class="btn btn-primary btn-block" @click="saveProduct()">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import logoBri from '../../../assets/bank/bri.png';
	import noData from '../../../assets/no-data.png';
    import Swal from 'sweetalert2'
    import Api from '../../../api/Api';
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function productDetail(product) {
                router.push({
                    name: 'admin-product-detail',
                    params: {
                        id: product.id,
                        product: JSON.stringify(product)
                    }
                })
            }

            function productList() {
                router.push({
                    name: 'admin-orders',
                })
            }
            
            return {
                productList,
                noData,
                productDetail,
                logoBri,
            }
        },
        data() {
            return{
                req: {
                    no_order: 'ORD' + Math.ceil(Math.random()*10098020000),
                    name: '',
                    items: [],
                    additional_cost: 0,
                    additional_cost_desc: '',
                    discount: 0,
                    pay_method: '',
                    payment_status: '',
                    total: '',
                },
                products: [],
                bank_data: null,
                bankAccounts: [],
                total: 0,
                validation_errors: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getProducts()
            this.getBankAccount()
            this.req.items.push({ product: '', qty: 0, stock: 0, price: 0, sub_total: 0 });
        },
        watch: {
            'req.items': {
                handler(){
                    this.sum()
                },
                deep: true
            },
            'req.discount' : {
                handler(){
                    this.sum()
                }
            },
            'req.additional_cost': {
                handler(){
                    this.sum()
                }
            }
        },
        methods: {
            sum (){
                this.req.total = 0,
                this.req.items.forEach(item => {
                    if(item.product){
                        item.sub_total = item.qty * item.product.price
                        this.req.total = item.sub_total + this.req.total
                    }
                });

                this.req.total = this.req.total - this.req.discount
                
                this.req.total = this.req.total + this.req.additional_cost
            },
            addItems () {
                this.req.items.push({ product: '', qty: 0, stock: 0, price: 0, sub_total: 0 });
            },
            removeItems (index) {
                this.req.items.splice(index, 1);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            getProducts() {
                Api.get('product', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.products = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            getBankAccount() {
                Api.get('bank-account', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.bankAccounts = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            checkBankAccountData(e) {
                let index = e.target.selectedIndex-1;
                let bankAccountData = this.bankAccounts[index];

                this.bank_data = bankAccountData
            },
            checkProductData(index) {
                var itemData = this.req.items[index];

                if(itemData.product){
                    itemData.sub_total = itemData.qty * itemData.product.price
                }

            },
            saveProduct() {
                var items = []

                this.req.items.forEach(item => {
                    var object = {
                        product_id: item.product.id,
                        qty: item.qty,
                        price: item.product.price,
                        sub_total: item.sub_total,
                    }
                    items.push(object)
                });

                var data = {
                    no_order: this.req.no_order,
                    name: this.req.name,
                    additional_cost: this.req.additional_cost,
                    additional_cost_desc: this.req.additional_cost_desc,
                    discount: this.req.discount,
                    pay_method: this.req.pay_method,
                    payment_status: this.req.payment_status,
                    total: this.req.total,
                    items: items,
                }


                Api.post('order/store', data, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil disimpan!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Tutup',
                    })

                    if(response.success == true) {
                        return this.productList()
                    }
                })
                .catch((err) => {
                    this.validation_errors = err.response.data.data
                })
            },
        }
	}
</script>

<style lang="scss">
    .modern-table-boxed .d-table-row{
        box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 2%);
    }
</style>