<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <div class="d-flex align-items-center">
            <div class="mr-4">
                <router-link :to="{name: 'admin-orders'}" class="back-circle">
                    <i class="fa fa-chevron-left"></i>
                </router-link>
            </div>
            <div>
                <h5 class="fw-medium mb-0">
                    Detail Order
                </h5>
                <p class="mt-2 text-gray500">
                    Detail order yang anda mikiki
                </p>
            </div>
        </div>
        <div class="box mt-3">
            <div class="d-flex align-items-center">
                <div>
                    <div class="mb-0 text-gray400 fw-normal size-15">
                        No Order
                    </div>
                    <div class="mb-0 fw-medium size-16">
                        {{ details.no_order }} - {{ details.name }}
                    </div>
                </div>
                <div class="ml-auto">
                    <span :class="details.payment_status == 1 ? 'tag green' : 'tag red'" class="radius-tag size-16 px-4">
                        <template v-if="details.payment_status == 1">
                            Lunas
                        </template>
                        <template v-else>
                            Belum Lunas
                        </template>
                    </span>
                </div>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="col-md-6">
                    <template v-if="details.items == 0">
                        <div class="text-center mt-5">
                            <img :src="noData" width="80" alt="">
                            <h5 class="mb-0 fw-medium mt-2 text-gray500">
                                Data kosong
                            </h5>
                        </div>
                    </template>
                    <template v-else>
                        <template v-for="(item, index) in details.items" :key="index">
                            <div class="row">
                                <div class="col-md-5 mt-3">
                                    <div :id="'carouselExampleIndicators' + index" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <template v-for='(image, index) in item.images' :key="image.id">
                                                <li :data-target="'#carouselExampleIndicators' + index" :data-slide-to="index" :class="index == 0 ? 'active' : ''"></li>
                                            </template>
                                        </ol>
                                        <div class="carousel-inner">
                                            <template v-for='(image, index) in item.images' :key="image.id">
                                                <div class="carousel-item" :class="index == 0 ? 'active' : ''">
                                                    <div class="order-image" :style="{'background-image': 'url(' + image.image + ')'}"></div>
                                                </div>
                                            </template>
                                        </div>
                                        <a class="carousel-control-prev" :href="'#carouselExampleIndicators' + index" role="button" data-slide="prev">
                                            <div class="circle-slide">
                                                <i class="fa fa-angle-left size-20"></i>
                                            </div>
                                        </a>
                                        <a class="carousel-control-next" :href="'#carouselExampleIndicators' + index" role="button" data-slide="next">
                                            <div class="circle-slide">
                                                <i class="fa fa-angle-right size-20"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 mt-3">
                                    <div class="mb-0 fw-normal size-14">
                                        {{ item.product_name }}
                                    </div>
                                    <h5 class="mb-0 fw-bold mt-1">
                                        Rp. {{ formatPrice(item.price) }}
                                    </h5>
                                    <div class="text-gray400 mt-4">
                                        Jumlah: {{ item.qty }}
                                    </div>
                                    <div class="fw-medium mt-1">
                                        Total: {{ formatPrice(item.total) }}
                                    </div>
                                </div>
                            </div>
                            <div class="line mt-product"></div>
                        </template>
                    </template>
                </div>
                <div class="col-md-6">
                    <div class="box border-order mt-3">
                        <div>
                            <div class="fw-normal text-gray500">Keterangan Biaya Tambahan</div>
                            <div class="fw-bold mt-1">
                                {{ details.additional_cost_desc }}
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="fw-normal text-gray500">Biaya Tambahan</div>
                            <div class="fw-bold mt-1">
                                Rp. {{ formatPrice(details.additional_cost) }}
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="fw-normal text-gray500">Potongan Harga</div>
                            <div class="fw-bold mt-1">
                                Rp. {{ formatPrice(details.discount) }}
                            </div>
                        </div>
                        <div class="box bank-order mt-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-5">
                                    <img :src="bcaLogo" width="100" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-0 fw-bold">
                                        Bank BCA
                                    </h5>
                                    <h6 class="mb-0 fw-bold mt-3">
                                        Muhamad Cori Zikrin
                                    </h6>
                                    <div class="mt-2 text-gray400 fw-medium">
                                        090989-9898989-978787
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-4">
                        <h5 class="mb-0 fw-bold">
                            Total Order:
                        </h5>
                        <h5 class="mb-0 fw-bold ml-auto">
                            Rp. {{ formatPrice(details.total) }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import noData from '../../../assets/no-data.png';
	import bcaLogo from '../../../assets/bca.png';
    import Api from '../../../api/Api';

	export default {
        props: ['id'],

		setup() {
            return {
                bcaLogo,
                noData,
            }
        },
        data() {
            return{
                details: {},
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getOrderDetails()
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            getOrderDetails() {
                Api.get(`order/${this.id}`, {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.details = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
        }
	}
</script>

<style lang="scss">
    .modern-table-boxed .d-table-row{
        box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 2%);
    }
    .carousel-control-prev{
        left: 10px;
    }
    .carousel-control-next{
        right: 10px;
    }
    .mt-product{
        margin-top: 40px;
    }
    .order-image{
        width: 100%;
        height: 130px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        border: 2px solid #e9ecef;
    }
    .box.border-order{
        background: #ffffff;
        border: 3px solid #f8f9fa;
        border-radius: 10px;
    }
    .carousel-indicators li{
        width: 18px;
        height: 2px;
    }
    .radius-tag{
        border-radius: 30px;
    }
    .box.bank-order{
        border-radius: 20px;
        background: #f8f9fa;
    }
    .back-circle{
        padding: 10px;
        background: #F3A032;
        color: #fff;
        border-radius: 40px;
    }
</style>