<template>
    <div>
        <div class="row">
            <div class="col-md-10">
                <h5 class="fw-medium mb-0">
                    Data Order
                </h5>
                <p class="mt-2 text-gray500">
                    Data order yang telah di input
                </p>
            </div>
            <div class="col-md-2 mt-3 m-mt-0">
                <router-link :to="{name: 'admin-orders-create'}" class="btn btn-orange btn-block">
                    Tambah Order
                </router-link>
            </div>
        </div>
        <div class="box mt-3 overflow-auto">
            <template v-if="orders.length > 0">
                <div class="modern-table-boxed">
                    <div class="d-table-row header">
                        <div class="d-table-cell">
                            No Order
                        </div>
                        <div class="d-table-cell">
                            Nama Order
                        </div>
                        <div class="d-table-cell">
                            Tanggal
                        </div>
                        <div class="d-table-cell">
                            Status
                        </div>
                        <div class="d-table-cell">
                            Total
                        </div>
                        <div class="d-table-cell">
                            Aksi
                        </div>
                    </div>
                    <div class="d-table-row" v-for="order in orders" :key="order.id">
                        <div class="d-table-cell">
                            {{ order.no_order }}
                        </div>
                        <div class="d-table-cell">
                            {{ order.name }}
                        </div>
                        <div class="d-table-cell">
                            {{ date(order.created_at) }}
                        </div>
                        <div class="d-table-cell">
                            <span :class="order.payment_status == 1 ? 'text-green' : 'text-orange'">
                                <template v-if="order.payment_status == 1">
                                    Lunas
                                </template>
                                <template v-else>
                                    Belum Lunas
                                </template>
                            </span>
                        </div>
                        <div class="d-table-cell">
                            Rp.{{ formatPrice(order.total) }}
                        </div>
                        <div class="d-table-cell shrink">
                            <a href="javascript:void(0)" class="btn btn-outline-orange btn-sm" @click="orderDetails(order)">
                                Lihat Detail
                            </a>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="text-center mt-4 mb-4">
                    <img :src="noData" width="80" alt="">
                    <h5 class="mb-0 fw-medium mt-2 text-gray500">
                        Data kosong
                    </h5>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import * as moment from "moment/moment"
	import noData from '../../../assets/no-data.png';
    import Api from '../../../api/Api';
    import { useRouter } from 'vue-router'


	export default {
		setup() {
            const router = useRouter()

            function orderDetails(order) {
                router.push({
                    name: 'admin-orders-detail',
                    params: {
                        id: order.id,
                        order: JSON.stringify(order)
                    }
                })
            }
            return {
                noData,
                orderDetails,
            }
        },
        data() {
            return{
                orders: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getOrders()
        },
        methods: {
            date: function (date) {
                return moment(date).format('DD MMMM YYYY');
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            getOrders() {
                Api.get('order', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.orders = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
        }
	}
</script>

<style lang="scss">
    .modern-table-boxed .d-table-row{
        box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 2%);
    }
</style>