<template>
    <div>
        <div class="row">
            <div class="col-md-10">
                <h5 class="fw-medium mb-0">
                    Lis Marketing
                </h5>
                <p class="mt-2 text-gray500">
                    Daftar database marketing
                </p>
            </div>
            <div class="col-md-2 mt-3 m-mt-0">
                <button class="btn btn-orange btn-block">Export Excel</button>
            </div>
        </div>
        <div class="box mt-3 overflow-auto">
            <div class="modern-table-boxed">
                <div class="d-table-row header">
                    <div class="d-table-cell" style="width: 60px">
                        No
                    </div>
                    <div class="d-table-cell">
                        Email/Phone
                    </div>
                    <div class="d-table-cell">
                        Kategori
                    </div>
                    <div class="d-table-cell">
                        Aksi
                    </div>
                </div>
                <div class="d-table-row">
                    <div class="d-table-cell">
                        1.
                    </div>
                    <div class="d-table-cell">
                        imandede008@gmail.com
                    </div>
                    <div class="d-table-cell">
                        Email!!
                    </div>
                    <div class="d-table-cell shrink">
                        <a href="" class="text-red size-16">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="d-table-row">
                    <div class="d-table-cell">
                        2.
                    </div>
                    <div class="d-table-cell">
                        0988787877778
                    </div>
                    <div class="d-table-cell">
                        Phone
                    </div>
                    <div class="d-table-cell shrink">
                        <a href="" class="text-red size-16">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="d-table-row">
                    <div class="d-table-cell">
                        3.
                    </div>
                    <div class="d-table-cell">
                        imandede008@gmail.com
                    </div>
                    <div class="d-table-cell">
                        Email!!
                    </div>
                    <div class="d-table-cell shrink">
                        <a href="" class="text-red size-16">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import trashIcon from '../../../assets/trash.png';

    export default {
		setup() {
			return{
                trashIcon:trashIcon,
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>