<template>
    <div class="modal fade" id="trackOrder" tabindex="-1" aria-labelledby="trackOrderLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="trackOrderLabel">Lacak Pesanan</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8 pr-4 border-end">
                <h5 class="mb-3">Alamat Pengiriman</h5>
                <h6 class="text-blue">Hendry Nugroho <span class="font-weight-regular">- 089999999999</span></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proi
                </p>
              </div>
              <div class="col-md-4 pl-4">
                <h5 class="mb-3">Kurir</h5>
                <p>
                  JNE - Reguler (Rp9000)
                  <br>
                  Estimasi tiba 3 - 4 Hari
                </p>
              </div>
            </div>
            <div class="track-order my-4">
              <div class="track-list">
                <div class="track-time">
                  10:05
                  <br>
                  13 Juli 2021
                </div>
                <div class="track-detail">
                  <div class="track-title">
                    Paket Diterima Kurir
                  </div>
                  <div class="track-subtitle">
                    Kurir (Ari) membawa ke lokasi pembeli
                  </div>
                </div>
              </div>
              <div class="track-list">
                <div class="track-time">
                  05:05
                  <br>
                  12 Juli 2021
                </div>
                <div class="track-detail">
                  <div class="track-title">
                    Paket sudah di hub
                  </div>
                  <div class="track-subtitle">
                    Hub JKT-BGR Jakarta Selatan
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-blue"
              data-bs-dismiss="modal"
            >
              Tutup
            </button>
          </div>
        </div>
      </div>
    </div>
</template>

<style lang="scss" scoped>
.track-order{
  .track-list{
    display: flex;
    margin-bottom: .75rem;
    position: relative;
    &::after{
      height: 100%;
      width: 2px;
      content: '';
      position: absolute;
      top: 10px;
      left: 75px;
      background: var(--grey);
      z-index: 1040;
    }
    .track-time{
      font-size: 10px;
      color: var(--dark-soft);
      text-align: right;
      width: 50px;
    }
    .track-detail{
      margin-left: 3rem;
      position: relative;
      &::after{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: white;
        border: var(--dark-soft) solid 2px;
        content: '';
        position: absolute;
        top: 10px;
        left: -27px;
        z-index: 1050;
      }
      .track-title{
        font-size: 14px;
        font-weight: 600;
      }
      .track-subtitle{
        font-size: 12px;
        color: var(--dark-soft);
      }
    }
    &:first-child{
      .track-detail{
        &::after{
          border: var(--blue) solid 2px;
        }
        .track-title{
          color: var(--blue)
        }
      }
    }
  }
}
</style>