<template>
    <div class="modal fade" id="doneOrder" tabindex="-1" aria-labelledby="doneOrderLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="doneOrderLabel">Pesanan Sudah Diterima</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body py-4 text-center">
            <template v-if="done_tab == 'rate'">
              <h5>
                Berikan Rating & Ulasan Produk
              </h5>
              <div class="rating mt-4">
                <a href="javascript:void(0)">
                  <i :class="{'fa-star': true, 'far': rate < 1, 'fas': rate >= 1}" @click="rate = 1"></i>
                </a>
                <a href="javascript:void(0)">
                  <i :class="{'fa-star': true, 'far': rate < 2, 'fas': rate >= 2}" @click="rate = 2"></i>
                </a>
                <a href="javascript:void(0)">
                  <i :class="{'fa-star': true, 'far': rate < 3, 'fas': rate >= 3}" @click="rate = 3"></i>
                </a>
                <a href="javascript:void(0)">
                  <i :class="{'fa-star': true, 'far': rate < 4, 'fas': rate >= 4}" @click="rate = 4"></i>
                </a>
                <a href="javascript:void(0)">
                  <i :class="{'fa-star': true, 'far': rate < 5, 'fas': rate >= 5}" @click="rate = 5"></i>
                </a>
              </div>
              <textarea name="ulasan" id="ulasan" cols="30" rows="4" class="form-control mt-4" placeholder="Ulas produk yang kamu beli sekarang"></textarea>
            </template>
            <template v-else>
              <h5>
                Berikan Informasi Masalah Barang
              </h5>
              <textarea name="complaint" id="complaint" cols="30" rows="4" class="form-control mt-4" placeholder="Deskripsikan masalah sedetil mungkin"></textarea>
            </template>
          </div>
          <div class="modal-footer">
            <button class="btn btn-white mr-auto" @click="done_tab = 'complaint'" v-if="done_tab == 'rate'">
              Komplain Barang
            </button>
            <button class="btn btn-white mr-auto" @click="done_tab = 'rate'" v-else>
              Batal Komplain
            </button>
            <button
              type="button"
              class="btn btn-outline-blue"
              data-bs-dismiss="modal"
            >
              Tutup
            </button>
            <button type="button" class="btn btn-blue" v-if="done_tab == 'rate'">
              Barang Sudah Diterima
            </button>
            <button type="button" class="btn btn-blue" v-else>
              Komplain Barang
            </button>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  components: {

  },
  setup() {
    return{

    }
  },
  data() {
    return {
      rate: 0,
      done_tab: 'rate',
    }
  }
}
</script>
<style lang="scss" scoped>
.rating{
  font-size: 24px;
  a{
    margin: 4px;
    color: var(--yellow);
  }
}
</style>