<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <h5 class="fw-medium mb-0">
            Tambah Slide
        </h5>
        <p class="mt-2 text-gray500">
            Silahkan isi form untuk menambahkan slide header
        </p>
        <div class="box mt-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="">Nama Slide Header</label>
                    <input type="text" class="form-control" placeholder="Ketik nama slide header" v-model="req.name">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['name']">
                            Nama slide wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 m-mt-1">
                    <label for="">Pilih Gambar</label>
                    <input type="file" id="image" class="form-control">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['image']">
                            Gmabar wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Status</label>
                    <select name="" class="form-control" v-model="req.status">
                        <option value="">Pilih Status</option>
                        <option value="1">Aktif</option>
                        <option value="0">Tidak Aktif</option>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['status']">
                            Status wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Deskripsi</label>
                    <textarea name="" id="" cols="30" rows="8" class="form-control textarea" placeholder="Ketik deskripsi singkat untuk header" v-model="req.desc"></textarea>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['desc']">
                            Deskripsi wajib diisi
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <router-link :to="{name: 'admin-slider'}" class="btn btn-outline-orange btn-block">
                    Kembali
                </router-link>
            </div>
            <div class="col-md-2">
                <button class="btn btn-orange btn-block" @click="saveSlider()">Simpan</button>
            </div>
        </div>
    </div>
</template>
  
<script>
    import $ from 'jquery'
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function sliderList() {
                router.push({
                    name: 'admin-slider',
                })
            }
            
            return {
                sliderList,
            }
        },
        data() {
            return{
                req: {
                    name: '',
                    desc: '',
                    status: '',
                    image: ''
                },
                validation_errors: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
        },
        methods: {
            saveSlider() {
                var file = $('#image')[0].files[0]
                var data = new FormData()

                data.append('name', this.req.name)
                data.append('image',file)
                data.append('desc', this.req.desc)
                data.append('status', this.req.status)

                Api.post('slideheaders/store', data, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil disimpan!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Tutup',
                    })

                    if(response.success == true) {
                        return this.sliderList()
                    }
                })
                .catch((err) => {
                    this.validation_errors = err.response.data.data
                })
            },
        }
	}
</script>

<style lang="scss" scoped>
</style>