<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <h5 class="fw-medium mb-0">
            Tambah Artikel
        </h5>
        <p class="mt-2 text-gray500">
            Tambah artikel dengan cara melengkapi form dibawah
        </p>
        <div class="box mt-3">
            <div class="row">
                <div class="col-md-12">
                    <label for="">Judul Artikel</label>
                    <input type="text" class="form-control" placeholder="Ketik judul artikel" v-model="req.title">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['title']">
                            Judul wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Gambar</label>
                    <input type="file" id="image" class="form-control">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['image']">
                            Gambar wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Status</label>
                    <select class="form-control" v-model="req.status">
                        <option value="">Pilih status</option>
                        <option value="1">Aktif</option>
                        <option value="0">Tidak Aktif</option>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['status']">
                            Status wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Isi Artikel</label>
                    <textarea id="content"></textarea>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['content']">
                            Isi artikel wajib diisi
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <router-link :to="{name: 'admin-article'}" class="btn btn-outline-orange btn-block">
                    Kembali
                </router-link>
            </div>
            <div class="col-md-2 m-mt-1">
                <button class="btn btn-orange btn-block" @click="saveArticle()">
                    Publish
                </button>
            </div>
            <div class="col-md-9"></div>
        </div>
    </div>
</template>
  
<script>
    import $ from 'jquery'
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function articleList() {
                router.push({
                    name: 'admin-article',
                })
            }
            
            return {
                articleList,
            }
        },
        data() {
            return{
                req: {
                    title: '',
                    image: '',
                    status: '',
                },
                validation_errors: [],
            }
        },
        mounted(){
            $('#content').summernote({
                placeholder: 'Silahkan tulis artikel',
                tabsize: 2,
                height: 230
            });
        },
        methods: {
            saveArticle() {
                var file = $('#image')[0].files[0]
                var data = new FormData()
                var content = $('#content').summernote('code')

                data.append('title', this.req.title)
                data.append('status', this.req.status)
                data.append('image',file)
                data.append('content',content)

                Api.post('article/store', data, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil disimpan!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Tutup',
                    })

                    if(response.success == true) {
                        return this.articleList()
                    }
                })
                .catch((err) => {
                    this.validation_errors = err.response.data.data
                })
            },
        }
	}
</script>

<style lang="scss">
</style>