<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <h5 class="fw-medium mb-0">
            Detail Artikel
        </h5>
        <p class="mt-2 text-gray500">
            Detail artikel yang sudah terpublish
        </p>
        <div class="box mt-3">
            <div class="image-article" :style="{'background-image': 'url(' + (details.image) + ')'}"></div>
            <div class="mt-4">
                <small :class="details.status == 1 ? 'green' : 'red'" class="tag">
                    <template v-if="details.status == 1">
                        Aktif
                    </template>
                    <template v-else>
                        Tidak Aktif
                    </template>
                </small>
            </div>
            <h5 class="mb-0 fw-medium mt-1">
                {{ details.title }}
            </h5>
            <p class="mt-3" v-html="details.content"></p>
        </div>
    </div>
</template>

<script>
    import Api from '../../../api/Api';

	export default {
        props: ['id'],

		setup() {
            return {
            }
        },
        data() {
            return{
                details: {},
                req: {
                    id: '',
                }
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getArticleDetail()
        },
        methods: {
            getArticleDetail() {
                Api.get(`article/${this.id}`, {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.details = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
        }
	}
</script>

<style lang="scss">
    .modern-table-boxed .d-table-row{
        box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 2%);
    }
</style>