<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <div class="row">
            <div class="col-md-8">
                <h5 class="fw-medium mb-0">
                    Lis Artikel
                </h5>
                <p class="mt-2 text-gray500">
                    Daftar artikel yang sudah terpublish
                </p>
            </div>
            <div class="col-md-4 mt-3 m-mt-0 pull-right">
                <router-link :to="{name: 'admin-article-create'}" class="btn btn-orange">
                    Ketik Artikel
                </router-link>
            </div>
        </div>
        <div class="box mt-3 overflow-auto">
            <template v-if="articles.length > 0">
                <div class="modern-table-boxed">
                    <div class="d-table-row header">
                        <div class="d-table-cell" style="width: 60px">
                            No
                        </div>
                        <div class="d-table-cell">
                            Judul Artikel
                        </div>
                        <div class="d-table-cell">
                            Status
                        </div>
                        <div class="d-table-cell">
                            Aksi
                        </div>
                    </div>
                    <div class="d-table-row" v-for="(article, index) in articles" :key="article.id">
                        <div class="d-table-cell">
                            {{ index+1 }}.
                        </div>
                        <div class="d-table-cell">
                            {{ article.title }}
                        </div>
                        <div class="d-table-cell">
                            <span :class="article.status == 1 ? 'text-green' : 'text-orange'">
                                <template v-if="article.status == 1">
                                    Aktif
                                </template>
                                <template v-else>
                                    Tidak Aktif
                                </template>
                            </span>
                        </div>
                        <div class="d-table-cell shrink">
                            <a href="javascrit:void(0)" class="text-red size-16 mr-3" @click="deleteArticle(article.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="javascript:void(0)" class="size-16" @click="articleDetail(article)">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="text-center mt-4 mb-4">
                    <img :src="noData" width="80" alt="">
                    <h5 class="mb-0 fw-medium mt-2 text-gray500">
                        Data kosong
                    </h5>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
	import noData from '../../../assets/no-data.png';
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function articleDetail(article) {
                router.push({
                    name: 'admin-article-detail',
                    params: {
                        id: article.id,
                        article: JSON.stringify(article)
                    }
                })
            }

            return {
                articleDetail,
                noData,
            }
        },
        data() {
            return{
                articles: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getArticle()
        },
        methods: {
            getArticle() {
                Api.get('article', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.articles = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            deleteArticle(id) {
                Api.delete(`article/${id}`, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil dihapus!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Ok',
                    })

                    if(response.success == true) {
                        this.getArticle()
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
            }
        }
	}
</script>

<style lang="scss">
    .modern-table-boxed .d-table-row{
        box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 2%);
    }
</style>