<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <h5 class="fw-medium mb-0">
            Tentang Kami
        </h5>
        <p class="mt-2 text-gray500">
            Tambah atau edit deskripsi website anda
        </p>
        <div class="box mt-3">
            <div class="row">
                <div class="col-md-12">
                    <label for="">Judul</label>
                    <input type="text" name="title" class="form-control" placeholder="Ketik judul" v-model="req.title">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['title']">
                            Judul wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Status</label>
                    <select name="status" class="form-control" v-model="req.status">
                        <option value="">Pilih Status</option>
                        <option value="1">Aktif</option>
                        <option value="0">Tidak Aktif</option>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['status']">
                            Status wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Deskripsi</label>
                    <textarea name="desc" cols="30" rows="8" class="form-control textarea" placeholder="Ketik deskripsi tentang website anda" v-model="req.desc"></textarea>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['desc']">
                            {{ validation_errors['desc'][0] }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2 m-mt-1">
                <button class="btn btn-orange btn-block" @click="saveAbout()">
                    Udate
                </button>
            </div>
        </div>
    </div>
</template>
  
<script>
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function aboutList() {
                router.push({
                    name: 'admin-about-us',
                })
            }
            
            return {
                aboutList,
            }
        },
        data() {
            return{
                req: {
                    title: '',
                    desc: '',
                    status: ''
                },
                validation_errors: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getAbout()
        },
        methods: {
            getAbout() {
                Api.get('aboutus/show', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.req = data
                })
                .catch((err) => {
                    console.log(err)
                })
            },
            saveAbout() {
                var data = new FormData()

                data.append('title', this.req.title)
                data.append('desc', this.req.desc)
                data.append('status', this.req.status)

                Api.post('aboutus/store', data, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil disimpan!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Tutup',
                    })

                    if(response.success == true) {
                        return this.aboutList()
                    }
                })
                .catch((err) => {
                    this.validation_errors = err.response.data.data
                })
            },
        }
	}
</script>

<style lang="scss" scoped>
</style>