<template>
  <div class="page-all bg-light">
    <div class="container pt-5 pb-3 py-md-5">
      <div class="row">
        <div class="col-md-12">
          <h1>Elektronik</h1>
          <h6 class="breadcumb"
            ><router-link to="" class="breadcumb-active">Category</router-link> / 
            Elektronik
          </h6>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="d-block d-md-none">
            <button class="btn btn-outline-blue btn-block mb-4" @click="Filter = !Filter">
              <i class="fas fa-filter mr-2"></i>
              Filter
              <i class="fas fa-angle-up ml-2" v-if="Filter"></i>
              <i class="fas fa-angle-down ml-2" v-else></i>
            </button>
          </div>
          <div :class="{'d-md-block': true, 'd-none': !Filter, 'd-block': Filter}">
            <h5 class="mb-4">Filter</h5>
            <div class="card">
              <div class="card-body">
                <h5 class="text-blue font-weight-regular mb-3">Kategori</h5>
                <router-link to="" class="category-link">Handohone</router-link><br/>
                <router-link to="" class="category-link">Kamera</router-link><br/>
                <router-link to="" class="category-link">Laptop</router-link><br/>
                <router-link to="" class="category-link">Elektronik</router-link><br/>
                <router-link to="" class="category-link">Keyboard</router-link><br/>
                <hr class="my-4"/>
                <h5 class="text-blue font-weight-regular mb-3">Kategori</h5>
                <div class="form-group">
                  <label class="control-label">Harga Minimum</label>
                  <input type="number" class="form-control" id="min"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Harga Maksimum</label>
                  <input type="number" class="form-control" id="max"/>
                </div>
                <hr class="my-4"/>
                <h5 class="text-blue font-weight-regular mb-3">Merk</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Apple">
                  <label class="form-check-label" for="Apple">
                    Apple
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Samsung">
                  <label class="form-check-label" for="Samsung">
                    Samsung
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Asus">
                  <label class="form-check-label" for="Asus">
                    Asus
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Logitech">
                  <label class="form-check-label" for="Logitech">
                    Logitech
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Lainnya">
                  <label class="form-check-label" for="Lainnya">
                    Lainnya
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="d-flex align-items-center mb-2">
            <div>
              <h6 class="mb-0">
                Menampilkan 20 dari 120 Product
              </h6>
            </div>
            <div class="ml-auto">
              <h6 class="mb-0">
                Urutkan
              </h6>
            </div>
            <div class="ml-3">
              <select name="sort" id="sort" class="form-control sort-select">
                <option value="populer">
                  Produk Populer
                </option>
                <option value="max_price">
                  Harga Tertinggi
                </option>
                <option value="min_price">
                  Harga Terendah
                </option>
                <option value="latest">
                  Terbaru
                </option>
                <option value="oldest">
                  Terlama
                </option>
              </select>
            </div>
          </div>
          <Product class="mb-3"/>
          <Product class="mb-3"/>
          <Product class="mb-3"/>
          <Product class="mb-3"/>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9 d-flex justify-content-center py-4">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><img :src="ArrowLeft"/></a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#"><img :src="ArrowRight"/></a></li>
            </ul>
          </nav>  
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h6>Beli Elektronik hanya di Coolstore</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis magna etiam. Ullamcorper a lacus vestibulum sed. Aliquam purus sit amet luctus venenatis lectus. Aenean sed adipiscing diam donec adipiscing tristique risus nec. A pellentesque sit amet porttitor. Condimentum vitae sapien pellentesque habitant morbi tristique. Tortor dignissim convallis aenean et tortor at. Facilisis sed odio morbi quis commodo odio aenean sed. Vestibulum morbi blandit cursus risus at ultrices mi tempus. Est pellentesque elit ullamcorper dignissim. Massa massa ultricies mi quis hendrerit dolor magna. Amet purus gravida quis blandit turpis cursus. Cras pulvinar mattis nunc sed blandit libero. Gravida quis blandit turpis cursus in hac habitasse platea. At tellus at urna condimentum mattis.
          </p>
          <p>
            Euismod elementum nisi quis eleifend quam. Mauris vitae ultricies leo integer malesuada nunc vel. Nulla facilisi etiam dignissim diam. Velit euismod in pellentesque massa placerat duis ultricies. Semper viverra nam libero justo laoreet. Mauris commodo quis imperdiet massa. Enim blandit volutpat maecenas volutpat blandit. Neque sodales ut etiam sit amet nisl purus in. Turpis egestas sed tempus urna et. Commodo nulla facilisi nullam vehicula ipsum a arcu. Magna eget est lorem ipsum dolor sit amet consectetur adipiscing. Eget mi proin sed libero enim. Ipsum dolor sit amet consectetur adipiscing elit. Quam quisque id diam vel quam elementum pulvinar. Magna eget est lorem ipsum. Tincidunt augue interdum velit euismod in pellentesque massa. Quis viverra nibh cras pulvinar mattis. Ut morbi tincidunt augue interdum velit euismod in pellentesque.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Product from '../home/Product.vue';
import ArrowLeft from '../../assets/icons/arrow-left.svg';
import ArrowRight from '../../assets/icons/arrow-right.svg';

export default{
  components: {
    Product,
  },
  setup() {
    return{
      ArrowLeft: ArrowLeft,
      ArrowRight: ArrowRight,
    }
  },
  data() {
    return{
      Filter: false
    }
  }
}
</script>

<style scoped>
.category-link{
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #3F3F3F;
  text-decoration: none;
  transition: 0.3s;
}
.category-link:hover, .category-link:focus{
  color: var(--blue);
}

.sort-select{
  background: white;
}
</style>
