<template>
    <div>
        <h6 class="breadcumb">
            <router-link :to="{name: 'reseller-discussion'}" class="breadcumb-active">Diskusi</router-link> / 
            Buat Forum
        </h6>
        <div class="card mt-3 shadow-sm">
            <div class="card-header align-items-center d-flex">
                <h5 class="my-0">
                    Buat Forum
                </h5>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" id="title" placeholder="Judul diskusi"/>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Warna</label>
                            <select name="" id="" class="form-control">
                                <option value="">
                                    Pilih Warna
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Gambar</label>
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
                <textarea name="content" id="content" cols="30" rows="20" class="form-control mt-3"></textarea>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-outline-blue">
                        Simpan Draft
                    </button>
                    <button class="btn btn-blue ml-2 px-5">
                        Post
                    </button>
                </div>
            </div>
        </div>
    </div>   
</template>
<script>

export default {
    setup() {
        
    },
}
</script>

<style scoped>
    .card-table-title{
        font-size: 12px;
        font-weight: 600;
        color: var(--dark-soft);
    }
    .color-side{
        border-left: 2px solid var(--blue);
        padding-left: .75rem;
    }
</style>