<template>
    <div>
        <div class="card shadow-sm">
            <div class="card-header">
            <h5 class="my-0">
                List Bank
            </h5>
            </div>
            <div class="card-body">
            <div class="banks">
                <div class="d-flex bank-list">
                <div class="bank-image">
                    <img :src="BCA">
                </div>
                <div class="ml-3">
                    <p class="mb-0">
                    PT. BCA (BANK CENTRAL ASIA) TBK
                    </p>
                    <div class="font-weight-bold mb-1">
                    140429748
                    </div>
                    <h6>
                    a.n Hendry Nugroho
                    </h6>
                </div>
                <div class="ml-auto align-self-center pl-2">
                    <img :src="Delete" height="14">
                </div>
                </div>
                <div class="d-flex bank-list">
                <div class="bank-image">
                    <img :src="BNI">
                </div>
                <div class="ml-3">
                    <p class="mb-0">
                    PT. BNI (BANK NEGARA INDONESIA) TBK
                    </p>
                    <div class="font-weight-bold mb-1">
                    140429748
                    </div>
                    <h6>
                    a.n Hendry Nugroho
                    </h6>
                </div>
                <div class="ml-auto align-self-center pl-2">
                    <img :src="Delete" height="14">
                </div>
                </div>
            </div>
            <div class="mt-4">
                <button class="btn btn-sm btn-outline-blue btn-block" data-bs-toggle="modal" data-bs-target="#addBankModal">
                Tambah Rekening
                </button>
            </div>
            </div>
        </div>
        <div class="modal fade" id="addBankModal" tabindex="-1" aria-labelledby="addBankModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBankModalLabel">Tambah Rekening</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label class="control-label">Nama Bank</label>
                    <select name="bank" id="bank" class="form-control">
                    <option value="">Pilih Bank</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Nomor Rekening</label>
                    <input type="text" class="form-control" id="account" placeholder="Masukan nomor rekening"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Atas Nama</label>
                    <input type="text" class="form-control" id="name" placeholder="Masukan nama"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-blue" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-blue">Simpan Rekening</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
  import Money from '../../assets/icons/money-blue.svg';
  import Delete from '../../assets/icons/delete.svg';
  import BCA from '../../assets/logo/bca.png';
  import BNI from '../../assets/logo/bni.png';
  import BRI from '../../assets/logo/bri.png';

  export default {
    setup() {
      return {
        Money: Money,
        Delete: Delete,
				BCA: BCA,
				BNI: BNI,
				BRI: BRI,
      }
    },
  }
</script>

<style lang="scss" scoped>
  .money-logo{
    background: var(--soft-blue);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 20px;

    }
  }  
  .banks{
    .bank-list{
      border-bottom: solid 1px var(--grey);
      padding: .5rem;
      &:last-child{
        border-bottom: solid 1px transparent;
      }
    }
  }
  .bank-image{
    align-self: center;
    flex: 60px 0 0;
    img{
      max-width: 60px;
      max-height: 60px;
    }
  }
  .btn{
    input{
      visibility: hidden;
      position: absolute;
    }
  }
</style>