<template>
  <div class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-12 py-4">
          <h1>Cart</h1>
        </div>
        <div class="col-md-9">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center h-100">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Apple">
                  </div>
                  <img :src="Phone" class="img-cart"/>
                  <div class="px-3">
                    <h6 class="mb-0">Iphone 12 Pro Max</h6>
                    <h5>Rp 16.000.000</h5>
                    <p class="text-grey mb-0">Catatan:</p>
                    <p type="text" class="text-grey bg-grey p-1 rounded w-100" style="cursor:pointer">
                      Warna Merah ya, kalo ga ada biru juga boleh.
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="">
                    <button v-on:click="decrement()" class="btn btn-blue btn-sm mx-1 w-100">-</button>
                  </div>
                  <div class="text-center w-25 px-2 pl-3">
                    <input type="text" class="form-control qty-form" v-model="counter" @keypress="isNumber($event)"/>
                  </div>
                  <div class="">
                    <button v-on:click="increment()" class="btn btn-blue btn-sm mx-1 w-100">+</button>
                  </div>
                  <div class="px-4">
                    <button class="btn" @click="checkout()">
                      <img :src="Delete"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="mb-3">Sub Total</h5>
              <div class="d-flex justify-content-between text-side-card">
                <p>Jumlah Barang</p>
                <p class="font-weight-bold">2</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Total Harga</p>
                <p class="font-weight-bold">Rp. 36.000.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Diskon</p>
                <p class="font-weight-bold">-Rp. 20.000</p>
              </div>
              <hr class="my-3"/>
              <div class="d-flex justify-content-between text-side-card mb-3">
                <h5 class="font-weight-bold">Total</h5>
                <h5>Rp. 35.980.000</h5>
              </div>
              <router-link :to="{name: 'reseller-checkout'}" class="btn btn-blue btn-lg w-100">
                Beli Sekarang
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Phone from '../../assets/product/phone.png';
import Delete from '../../assets/icons/delete.svg';

export default {
  setup() {
    return{
      Phone: Phone,
      Delete: Delete,
      counter: 1,
    }
  },
  methods: {
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault()
      } else {
        return true;
      }
    },
    increment: function() {
      this.counter = this.counter + 1
      return true
    },
    decrement: function() {
      if(this.counter === 0) {
        this.counter = 1
      } else {
        this.counter = this.counter - 1
      }
    }
  },
}
</script>


<style scoped>
.img-cart{
  width: 80px;
  border-radius: 10px;
  border: 0.5px solid #CBCBCB;
}
.qty-form{
  text-align: center;
  transform: translateX(5px);
}
</style>
