<template>
  <div class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-12 py-4">
          <h1>Checkout</h1>
        </div>
        <div class="col-md-9">
          <div class="card shadow-sm">
            <div class="card-body p-4">
              <h5 class="mb-3">Alamat Pengiriman</h5>
              <h6>Hendry Nugroho <span class="font-weight-regular">- 089999999999</span></h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proi
              </p>
              <button class="btn btn-outline-blue mt-2" data-bs-toggle="modal" data-bs-target="#changeAddress">
                Ubah Alamat Pengiriman
              </button>
              <hr class="my-4"/>
              <h5 class="mb-3">Detail Barang</h5>
              <div class="row">
                <div class="col-md-6">
                  <div class="d-flex align-items-center w-100">
                    <img :src="Phone" class="img-cart"/>
                    <div class="px-3">
                      <h6 class="mb-0">Iphone 12 Pro Max</h6>
                      <h5 class="mb-0">Rp 16.000.000</h5>
                      <p class="mb-0">Total Berat 1 Kg</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center w-100">
                    <img :src="Phone" class="img-cart"/>
                    <div class="px-3">
                      <h6 class="mb-0">Iphone 12 Pro Max</h6>
                      <h5 class="mb-0">Rp 16.000.000</h5>
                      <p class="mb-0">Total Berat 1 Kg</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4"/>
              <h5 class="mb-3">Pilih Kurir</h5>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                <label class="form-check-label mt-1" for="inlineRadio1">
                  Manual Ongkir
                </label>
              </div>
              <div class="form-check form-check-inline ml-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label mt-1" for="inlineRadio2">
                  Raja Ongkir
                </label>
              </div>
              <div class="row mt-3">
                <div class="col-md-9">
                  <select class="form-control">
                    <option>Pilih Kurir</option>
                  </select>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                  <h6>
                    Kurir Pilihan
                  </h6>
                  <p class="mb-0">
                    JNE - Reguler (Rp. 9000)
                  </p>
                  <p>
                    Estimasi tiba 1 - 2 Hari
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="mb-3">Sub Total</h5>
              <div class="d-flex justify-content-between text-side-card">
                <p>Jumlah Barang</p>
                <p class="font-weight-bold">2</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Total Harga</p>
                <p class="font-weight-bold">Rp. 36.000.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Diskon</p>
                <p class="font-weight-bold">-Rp. 20.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Ongkos Kirim</p>
                <p class="font-weight-bold">Rp. 9.000</p>
              </div>
              <hr class="my-3"/>
              <div class="d-flex justify-content-between text-side-card mb-3">
                <h5 class="font-weight-bold">Total</h5>
                <h5>Rp. 35.980.000</h5>
              </div>
              <router-link :to="{name: 'reseller-payment'}" class="btn btn-blue btn-lg w-100">
                Pembayaran
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="changeAddress" tabindex="-1" aria-labelledby="changeAddressLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeAddressLabel">Ganti Alamat</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
              <div v-for="data in Address" :key="data.id" class="card bg-light mb-3" v-bind:class="{ 'active': data.status == 1}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="justify-content-start align-self-center">
                        <div class="d-flex align-items-center mb-2">
                          <h6 class="text-blue mb-0">{{ data.address_as }}</h6>
                          <div class="badge badge-status bg-blue mx-2 " v-if="data.status === 1">Alamat Utama</div>
                        </div>
                        <h5 class="mb-0">{{ data.name }}</h5>
                        <p>{{ data.phone}}</p>
                        <p class="mb-0 address-detail">{{ data.address }}</p>
                      </div>
                    </div>
                    <div class="col-md-3 align-self-center">
                      <button class="btn btn-outline-blue btn-block mt-3 mt-md-0">
                        Pilih
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-blue"
              data-bs-dismiss="modal"
            >
              Batal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Phone from '../../assets/product/phone.png';

const addressData = [
  {
    "id": 1,
    "address_as": "Alamat Rumah",
    "name": "Hendry Nugroho",
    "phone": "089999999999",
    "address": "Jalan Gatot Subroto No.8, Kelurahan Pasar Minggu, Kecamatan Pasar Minggu Jakarta Selatan, DKI Jakarta, Kode POS: 12260",
    "status": 1,
  },
  {
    "id": 2,
    "address_as": "Alamat Orang Tua",
    "name": "Deddy Mahendra",
    "phone": "089999998888",
    "address": "Jalan Gatot Subroto No.9, Kelurahan Pasar Minggu, Kecamatan Pasar Minggu Jakarta Selatan, DKI Jakarta, Kode POS: 12260",
    "status": 2,
  },
  {
    "id": 3,
    "address_as": "Alamat Pacar",
    "name": "Hanny Sabrina",
    "phone": "089999997777",
    "address": "Jalan Gatot Subroto No.10, Kelurahan Pasar Minggu, Kecamatan Pasar Minggu Jakarta Selatan, DKI Jakarta, Kode POS: 12260",
    "status": 2,
  },
]

export default {
  setup() {
    return{
      Phone: Phone,
      counter: 1,
      Address: addressData,
    }
  },
  methods: {
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault()
      } else {
        return true;
      }
    },
    increment: function() {
      this.counter = this.counter + 1
      return true
    },
    decrement: function() {
      if(this.counter === 0) {
        this.counter = 1
      } else {
        this.counter = this.counter - 1
      }
    }
  },
}
</script>


<style scoped>
.img-cart{
  width: 80px;
  border-radius: 10px;
  border: 0.5px solid #CBCBCB;
}
.qty-form{
  text-align: center;
  transform: translateX(5px);
}
</style>
