<template>
    <div>
        <h6 class="breadcumb">
            <router-link :to="{name: 'reseller-discussion'}" class="breadcumb-active">Diskusi</router-link> / 
            IPad Stok Tipis
        </h6>
        <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <div class="color-side">
                    <p class="my-0">
                        By Ahmad Dahlan
                    </p>
                    <router-link to="" class="text-dark font-weight-bold">
                        IPad Stok Tipis
                    </router-link>
                </div>
                <div class="separator my-3"></div>
                <div class="my-5">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam unde eius, at magnam repellendus molestiae voluptas, mollitia itaque, id earum optio eveniet vitae cupiditate eos illo blanditiis cumque? Ex, eligendi!
                    </p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <div>
                        <span class="badge bg-warning text-dark">
                            20 Komentar
                        </span>
                    </div>
                    <div class="ml-4">
                        <p class="my-0">
                            2 Hari Lalu
                        </p>
                    </div>
                    <div class="ml-auto">
                        <button class="btn-white">
                            <i class="fa fa-reply mr-1"></i>
                            Balas
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <h5 class="my-0">
                        Balas
                    </h5>
                    <div class="text-right ml-auto">
                        <button class="btn btn-outline-blue">
                            Batal
                        </button>
                        <button class="btn btn-blue ml-2 px-4">
                            Post
                        </button>
                    </div>
                </div>
                <div class="comment mt-3">
                    <div class="comment-avatar">
                    </div>
                    <div class="w-100">
                        <textarea name="" class="form-control" id="comment" cols="30" placeholder="Balas Disini" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <div class="comment">
                    <div class="comment-avatar">
                    </div>
                    <div>
                        <p class="my-0">
                            31-08-2010 00:25
                        </p>
                        <div class="comment-name">
                            Ali Ahmad
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam unde eius, at magnam repellendus molestiae voluptas, mollitia itaque, id earum optio eveniet vitae cupiditate eos illo blanditiis cumque? Ex, eligendi!
                    </p>
                </div>
            </div>
        </div>
    </div>   
</template>
<script>

export default {
    setup() {
        
    },
}
</script>

<style lang="scss" scoped>
    .card-table-title{
        font-size: 12px;
        font-weight: 600;
        color: var(--dark-soft);
    }
    .color-side{
        border-left: 2px solid var(--blue);
        padding-left: .75rem;
    }
    .comment{
        display: flex;
        // max-width: 80%;
        margin-bottom: 1rem;
        .comment-avatar{
            height: 40px;
            width: 40px;
            flex: 40px 0 0;
            border-radius: 50%;
            background: #f8f8f8;
            margin-right: 1rem;
        }
        .comment-name{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: .25rem;
        }
        .comment-content{
            background: #f8f8f8;
            border-radius: 1rem;
            padding: 1rem;
            .comment-text{
                font-size: 12px;
            }
        }
        .comment-detail{
            font-size: 10px;
            color: var(--dark-soft);
            margin-top: .25rem;
            margin-left: .25rem;
        }
        &.me{
            flex-direction: row-reverse;
            margin-left: 20%;
            .comment-avatar{
                margin-right: 0;
                margin-left: 1rem;
            }
            .comment-content{
                background: var(--soft-blue);
            }
            .comment-detail{
                text-align: right
            }
        }
    }
</style>