<template>
    <div>
        <div class="card shadow-sm">
            <div class="card-header align-items-center d-flex">
                <h5 class="my-0">
                    Forum
                </h5>
                <router-link :to="{name: 'reseller-add-discussion'}" class="btn btn-blue ml-auto">
                    Buat Forum
                </router-link>
            </div>
            <div class="card-body profile-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-10">
                                <div class="color-side">
                                    <p class="my-0">
                                        By Ahmad Dahlan
                                    </p>
                                    <router-link to="" class="text-dark font-weight-bold">
                                        IPad Stok Tipis
                                    </router-link>
                                </div>
                            </div>
                            <div class="col-md-2 my-3 my-md-0">
                                <router-link :to="{name: 'reseller-discussion-detail', params: {slug: 'hello'}}" class="btn btn-outline-blue btn-block">
                                    Buka Forum
                                </router-link>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <div>
                                <span class="badge bg-warning text-dark">
                                    20 Komentar
                                </span>
                            </div>
                            <div class="ml-4">
                                <p class="my-0">
                                    2 Hari Lalu
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center py-4">
                        <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><img :src="ArrowLeft"/></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><img :src="ArrowRight"/></a></li>
                        </ul>
                        </nav>  
                    </div>
                </div>
            </div>
        </div>
    </div>   
</template>
<script>

export default {
    setup() {
        
    },
}
</script>

<style scoped>
    .card-table-title{
        font-size: 12px;
        font-weight: 600;
        color: var(--dark-soft);
    }
    .color-side{
        border-left: 2px solid var(--blue);
        padding-left: .75rem;
    }
</style>