<template>
  <div>
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-7">
              <img :src="LoginIllustration" alt="login-iamge">
            </div>
            <div class="col-md-5">
                <router-link :to="{ name: 'reseller-login' }">
                    <div class="d-flex">
                        <img :src="Arrow">
                        <div class="ml-2 font-weight-bold">
                            Kembali
                        </div>
                    </div>
                </router-link>
                <!-- <div v-if="validation.message" class="mt-2 alert alert-danger">
                    {{ validation.message }}
                </div> -->
                <div class="card shadow-sm mt-3">
                  <div class="card-body py-4">
                    <h5 class="mb-4">
                        Lupa Password
                    </h5>
                    <form>
                        <div class="form-group">
                            <label class="control-label">Email Address</label>
                            <input type="email" class="form-control"
                                placeholder="Email Address">
                        </div>
                        <!-- <div v-if="validation.email" class="mt-2 alert alert-danger">
                            {{ validation.email[0] }}
                        </div> -->
                        <button type="submit" class="btn btn-blue btn-lg btn-block mt-3">Reset</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import LoginIllustration from '../../assets/global/login-illustration.svg';
import Arrow from '../../assets/icons/arrow-left.svg';

    export default {

        setup() {

            //return object
            return {
                LoginIllustration,
                Arrow
            }

        }

    }
</script>

<style lang="css">
  .mt-150 {
      margin-top: 150px;
  }

</style>