<template>
  <div>
    <div class="card shadow-sm">
      <div class="card-body">
          <img :src="GuideHeader" class="guide-header">
          <h5 class="mt-4 mb-3">
            Panduan Afiliasi
          </h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium molestiae minima vero! Ipsam doloribus recusandae nisi. Tenetur consequatur excepturi officia a, ad beatae doloremque magnam quibusdam fuga, laboriosam nihil adipisci!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium molestiae minima vero! Ipsam doloribus recusandae nisi. Tenetur consequatur excepturi officia a, ad beatae doloremque magnam quibusdam fuga, laboriosam nihil adipisci!
          </p>
      </div>
    </div>
  </div>
</template>

<script>
import GuideHeader from '../../assets/slider/slider-1.png';

export default {
  setup() {
    return{
      GuideHeader
    }
  },
}
</script>

<style scoped>
  .guide-header{
    width: 100%;
  }
</style>