<template>
    <div class="pt-5">
        <div class="container my-5 login-container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <img :src="Logo" class="img-fluid reseller-logo" />
                        </div>
                        <div class="reseller-mark ml-2">
                            Reseller
                        </div>
                    </div>
                    <div class="card shadow-sm mt-4">
                        <div class="card-header pb-0">
                            <ul class="nav nav-transaction px-4">
                                <li class="nav-item active mr-3">
                                    <router-link to="" class="link-item">Masuk</router-link>
                                </li>
                                <li class="nav-item mx-3">
                                    <router-link :to="{name: 'reseller-register'}" class="link-item">Daftar
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-light btn-block social-button">
                                        <div class="d-flex align-items-center">
                                            <img :src="Google">
                                            <div class="ml-3">
                                                Masuk Dengan Google
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-block social-button btn-blue">
                                        <div class="d-flex align-items-center">
                                            <img :src="Facebook">
                                            <div class="ml-3">
                                                Masuk Dengan Facebook
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="text-center my-3">
                                Atau
                            </div>
                            <form @submit.prevent="login">
                                <div class="mb-3">
                                    <div class="form-group mb-0">
                                        <label class="control-label">Email Address</label>
                                        <input type="email" v-model="user.email" class="form-control"
                                            placeholder="Email Address">
                                    </div>
                                    <template v-if="validation.error">
                                        <small v-if="validation.error.email" class="text-danger">
                                            {{ validation.error.email[0] }}
                                        </small>
                                    </template>
                                </div>
                                <div>
                                    <div class="form-group mb-0">
                                        <label class="control-label">Password</label>
                                        <input type="password" v-model="user.password" class="form-control"
                                            placeholder="Password">
                                    </div>
                                    <template v-if="validation.error">
                                        <small v-if="validation.error.password" class="text-danger">
                                            {{ validation.error.password[0] }}
                                        </small>
                                    </template>
                                </div>
                                <div class="d-flex mt-3">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Ingatkan Saya</label>
                                    </div>
                                    <div class="ml-auto">
                                        <router-link :to="{name: 'forgot'}">
                                            <p class="text-primary font-weight-bold">
                                                Lupa password?
                                            </p>
                                        </router-link>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-blue btn-lg btn-block mt-3">Masuk</button>
                            </form>
                        </div>
                    </div>
                    <div class="register mt-3 text-center">
                        <p>
                            Masuk sebagai customer? <router-link :to="{name: 'login'}">Masuk</router-link>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ref,reactive} from 'vue'
    import {useStore} from 'vuex'
    import {useRouter} from 'vue-router'
    import LoginIllustration from '../../assets/global/login-illustration.svg';
    import Facebook from '../../assets/icons/facebook-white.svg';
    import Google from '../../assets/icons/google.svg';
    import Logo from '../../assets/global/logo-blue.svg';

    export default {
        props: ['successRegister'],
        setup() {

            //user state
            const user = reactive({
                email: '',
                password: ''
            })

            //validation state
            const validation = ref([])

            //store vuex
            const store = useStore()

            //route
            const router = useRouter()

            //method login
            function login() {

                //define variable 
                let email = user.email
                let password = user.password
                let login_as = 'reseller'

                //panggil actions login dari module auth
                store.dispatch('auth/login', {
                        email,
                        password,
                        login_as
                    })
                    .then(() => {
                        //redirect ke dashboard
                        router.push({
                            name: 'reseller-edit-profile'
                        })
                    }).catch(error => {
                        //assign validaation message
                        validation.value = error.data;
                    })
            }

            //return object
            return {
                user,
                validation,
                login,
                LoginIllustration,
                Facebook,
                Google,
                Logo,
            }

        },
        created() {},
        methods: {
            loginGoogle() {
                this.$store.dispatch('auth/loginGoogle')
                    .then(() => {
                        //redirect ke dashboard
                    }).catch(error => {
                        //assign validaation message
                        console.log(error)
                    })
            }
        }

    }
</script>

<style lang="css">
    .login-container::after {
        height: 1400px;
        width: 1400px;
        content: '';
        border-radius: 50%;
        background: #f7f7f7;
        position: fixed;
        left: 50%;
        margin-left: -700px;
        bottom: -1000px;
        z-index: -1;
    }

    .reseller-mark {
        font-size: 21px;
        margin-top: 4px;
        font-weight: lighter;
    }

    .mt-150 {
        margin-top: 150px;
    }

    .nav-transaction li .link-item {
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #888888;
    }

    .nav-line {
        height: 6px;
        width: 100%;
        color: var(--blue) !important;
    }

    .nav-item {
        padding: 20px 0;
    }

    .nav-item.active,
    .nav-item:hover {
        border-bottom: 5px solid var(--blue);
    }

    .nav-item.active .link-item,
    .nav-item:hover .link-item {
        color: var(--blue);
    }

    .social-button {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .social-button img {
        height: 22px;
    }
</style>