<template>
    <div>
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row my-5 justify-content-center align-items-center">
                    <div class="col-md-5">
                        <img :src="Illustration">
                    </div>
                    <div class="col-md-5 text-center">
                        <h5>
                            Tingkatkan Penjualan Toko Kamu
                        </h5>
                        <p class="mt-2">
                            Dengan marketing kit kamu akan dituntun lebih baik dalam memasarkan produk yang kamu jual.
                        </p>
                        <button class="btn btn-outline-blue btn-lg px-5 mt-4">
                            Download Marketing Kit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import Illustration from '../../assets/global/contact-illustration.svg';

  export default {
      setup() {
        return{
          Illustration,
        }
      }
  }
</script>


<style lang="scss" scoped>

</style>