<template>
  <div>
    <div class="card shadow-sm">
      <div class="card-header bg-white p-0  d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <ul class="nav nav-transaction px-3 px-md-4">
            <li class="nav-item mx-2 mx-md-3">
              <router-link :to="{name: 'reseller-order-pay'}" class="link-item">Pembayaran</router-link>
            </li>
            <li class="nav-item active mx-2 mx-md-3">
              <router-link :to="{name: 'reseller-order-process'}" class="link-item">Proses</router-link>
            </li>
            <li class="nav-item mx-2 mx-md-3">
              <router-link :to="{name: 'reseller-order-send'}" class="link-item">Dikirim</router-link>
            </li>
            <li class="nav-item mx-2 mx-md-3">
              <router-link :to="{name: 'reseller-order-arrived'}" class="link-item">Sampai</router-link>
            </li>
            <li class="nav-item mx-2 mx-md-3">
              <router-link :to="{name: 'reseller-order-done'}" class="link-item">Selesai</router-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body px-3 profile-card">
        <div v-for="data in Order" :key="data.id" class="card border">
          <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <img :src="TransactionDetail"/>
              <span class="invoice">{{ data.invoice_number }} - {{ data.date }}</span>
            </div>
          </div>
          <div class="card-body d-block d-md-flex justify-content-between align-items-center py-4">
            <div class="d-flex justify-content-start align-items-center">
              <img :src="Example" class="img-fluid img-transaction-show" />
              <h4 class="product-name">
                IPhone 12 Pro Max - IPad Generasi 8
              </h4>
            </div>
            <div class="text-end ml-auto mt-3 mt-md-0">
              <div class="d-flex d-md-block align-items-center">
                <span class="total-payment">Total Belanja</span>
                <h4 class="price ml-auto mb-0">{{ data.total }}</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-white text-end">
            <button class="btn btn-white" data-bs-toggle="modal" data-bs-target="#detailOrder">
              Detail Pesanan
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="detailOrder" tabindex="-1" aria-labelledby="detailOrderLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailOrderLabel">Detail Pemesanan</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row my-3">
              <div class="col-6">
                <p class="my-0">No. Invoice</p>
                <h5 class="text-blue">O-1234520210120</h5>
              </div>
              <div class="col-6">
                <p class="my-0">No. Invoice</p>
                <h5 class="text-blue">20 Juni 2021</h5>
              </div>
            </div>
            <div class="separator"></div>
            <h5 class="mb-3">Detail Barang</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex align-items-center w-100">
                  <img :src="Example" class="img-cart" width="100" />
                  <div class="px-3">
                    <h6 class="mb-0">Iphone 12 Pro Max</h6>
                    <h5 class="mb-0">Rp 16.000.000</h5>
                    <p class="mb-0">Total Berat 1 Kg</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center w-100">
                  <img :src="Example" class="img-cart" width="100" />
                  <div class="px-3">
                    <h6 class="mb-0">Iphone 12 Pro Max</h6>
                    <h5 class="mb-0">Rp 16.000.000</h5>
                    <p class="mb-0">Total Berat 1 Kg</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="separator"></div>
            <div class="row">
              <div class="col-md-8 pr-4 border-end">
                <h5 class="mb-3">Alamat Pengiriman</h5>
                <h6 class="text-blue">Hendry Nugroho <span class="font-weight-regular">- 089999999999</span></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proi
                </p>
              </div>
              <div class="col-md-4 pl-4">
                <h5 class="mb-3">Kurir</h5>
                <p>
                  JNE - Reguler (Rp9000)
                  <br>
                  Estimasi tiba 3 - 4 Hari
                </p>
              </div>
            </div>
            <h5 class="mb-3">Pembayaran</h5>
            <table class="w-100 detail-price-modal">
              <tr>
                <td>
                  <p class="my-0">
                    Jumlah Barang
                  </p>
                </td>
                <td class="text-right">
                  <h5 class="my-0">
                    2
                  </h5>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="my-0">
                    Total Harga
                  </p>
                </td>
                <td class="text-right">
                  <h5 class="my-0">
                    Rp36.000.000
                  </h5>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="my-0">
                    Diskon
                  </p>
                </td>
                <td class="text-right">
                  <h5 class="my-0">
                    -Rp20.000
                  </h5>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="my-0">
                    Ongkos Kirim
                  </p>
                </td>
                <td class="text-right">
                  <h5 class="my-0">
                    Rp9.000
                  </h5>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="my-0">
                    Metode Pembayaran
                  </p>
                </td>
                <td class="text-right">
                  <h5 class="my-0">
                    Transfer Bank BCA
                  </h5>
                </td>
              </tr>
            </table>
            <div class="separator"></div>
            <table class="w-100 detail-price-modal">
              <tr>
                <td>
                  <h4 class="my-0 font-weight-bold">
                    Total
                  </h4>
                </td>
                <td class="text-right">
                  <h4 class="my-0 font-weight-bold text-blue">
                    Rp35.989.000
                  </h4>
                </td>
              </tr>
            </table>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-blue"
              data-bs-dismiss="modal"
            >
              Tutup
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
import Logo from '../../assets/icons/address-settings-active.svg';
import TransactionDetail from '../../assets/icons/transaction-detail.svg';

import Example from '../../assets/product/pad.png';

const orderData = [
  {
    "id": "1",
    "invoice_number": "O-1234520210120",
    "date": "20 Januari 2021",
    "ended_date": "21 Januari 2021",
    "courier": "JNE - Reguler (Rp. 9000) Estimasi tiba 1 - 2 Hari",
    "qty": 2,
    "total": "Rp.36.000.000",
    "ongkir": "Rp. 9.000",
    "discount": "Rp. 20.000",
    "payment_method": "Transfer Bank BCA",
    "product":[
      {
        "name": "Iphone 12 Pro Max",
        "price": "Rp. 16.000.000",
        "weight": "1",
        "image": require('@/assets/product/phone.png'),
      },
      {
        "name": "Macbook Air 2020",
        "price": "Rp. 20.000.000",
        "weight": "1",
        "image": require('@/assets/product/laptop.png'),
      },
    ]
  }
]

export default {
  components: {
  },
  setup() {
    return{
      Order: orderData,
      Logo,
      TransactionDetail,
      Example,
    }
  },
}
</script>

<style scoped>
.detail-price-modal tr td{
  padding: .25rem 0;
}
.nav-transaction li .link-item{
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #888888;
}
.nav-line{
  height: 6px;
  width: 100%;
  color: var(--blue) !important;
}
.nav-item{
  padding: 20px 0;
}
.nav-item.active, .nav-item:hover{
  border-bottom: 5px solid var(--blue);
}
.nav-item.active .link-item, .nav-item:hover .link-item{
  color: var(--blue);
}
.invoice{
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #666363;
  margin-left: 10px;
}
.cancel{
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #505050;
}
.cancel span{
  color: var(--blue);
}
.img-transaction-show{
  width: 80px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}
.product-name{
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  margin-left: 10px;
}
.total-payment{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
}
.price{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #4B4B4B;
}
</style>
