<template>
  <div class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-12 py-4">
          <h1>Pembayaran</h1>
        </div>
        <div class="col-md-9">
          <div class="card shadow-sm">
            <div class="card-body p-4">
              <h5 class="mb-4">Pembayaran</h5>
              <div v-for="data in payment" :key="data.id" class="row border-bottom">
                <div class="col-md-3 d-flex py-2">
                  <div class="justify-content-start align-self-center">
                    <img v-bind:src="data.image" />
                  </div>
                </div>
                <div class="col-md-8 d-flex">
                  <div class="justify-content-start align-self-center">
                    <h5 class="font-weight-regular">{{ data.name }}</h5>
                  </div>
                </div>
                <div class="col-md-1 d-flex">
                  <div class="justify-content-start align-self-center">
                    <button @click="choose(data.slug)" class="btn btn-blue btn-block w-100">
                      Pilih
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="mb-3">Sub Total</h5>
              <div class="d-flex justify-content-between text-side-card">
                <p>Jumlah Barang</p>
                <p class="font-weight-bold">2</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Total Harga</p>
                <p class="font-weight-bold">Rp. 36.000.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Diskon</p>
                <p class="font-weight-bold">-Rp. 20.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Ongkos Kirim</p>
                <p class="font-weight-bold">Rp. 9.000</p>
              </div>
              <hr class="my-3"/>
              <div class="d-flex justify-content-between text-side-card mb-3">
                <h5 class="font-weight-bold">Total</h5>
                <h5>Rp. 35.980.000</h5>
              </div>
              <div to="" class="btn btn-blue-disabled btn-lg w-100">
                Pembayaran
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'

const paymentMethod = [
  {
    "id": "1",
    "name": "Transfer Bank BCA",
    "slug": "bca",
    "image": require('@/assets/logo/bca.svg')
  },
  {
    "id": "2",
    "name": "Transfer Bank BNI",
    "slug": "bni",
    "image": require('@/assets/logo/bni.svg')
  },
  {
    "id": "3",
    "name": "Transfer Bank BRI",
    "slug": "bri",
    "image": require('@/assets/logo/bri.svg')
  },
  {
    "id": "4",
    "slug": "gopay",
    "name": "Pembayaran dengan Gopay",
    "image": require('@/assets/logo/gopay.svg')
  },
  {
    "id": "5",
    "slug": "indomaret",
    "name": "Pembayaran dengan Indomaret",
    "image": require('@/assets/logo/indomaret.svg')
  },
];

export default {
  setup() {
    const router = useRouter()

    function choose(slug) {
      router.push({
        name: 'reseller-payment-choose',
        params: {slug: slug},
      })
    }

    return{
      payment: paymentMethod,
      choose
    }
  },
}
</script>


<style scoped>
.img-cart{
  width: 80px;
  border-radius: 10px;
  border: 0.5px solid #CBCBCB;
}
.qty-form{
  text-align: center;
  transform: translateX(5px);
}
</style>
