<template>
  <div class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-12 py-4">
          <h1>Pembayaran</h1>
        </div>
        <div class="col-md-9">
          <div class="card shadow-sm">
            <div class="card-body p-4">
              <h5 class="mb-4">Pilih Metode Pembayaran</h5>
              <div class="row">
                <div v-for="data in payment" :key="data.slug" class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="font-weight-regular" v-if="data.slug === 'bca'">
                      {{ data.name }}
                    </h5>
                    <img :src="data.image" v-if="data.slug === 'bca'"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group py-2">
                    <label class="control-label">Nomor Rekening</label>
                    <input type="text" class="form-control" max-length="10" placeholder="xxxxxxxxxxxxxxxxx" @keypress="isNumber($event)">
                  </div>
                  <div class="form-group py-2">
                    <label class="control-label">Nama Pemilik Rekening</label>
                    <input type="text" class="form-control" placeholder="Contoh: Hendry Nugroho">
                  </div>
                  <div class="card bg-soft-blue mt-3">
                    <div class="card-body p-4">
                      <h5 class="text-blue font-weight-regular">Cara Pembayaran</h5>
                      <ul class="cara-pembayaran">
                        <li>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="mb-3">Sub Total</h5>
              <div class="d-flex justify-content-between text-side-card">
                <p>Jumlah Barang</p>
                <p class="font-weight-bold">2</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Total Harga</p>
                <p class="font-weight-bold">Rp. 36.000.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Diskon</p>
                <p class="font-weight-bold">-Rp. 20.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Ongkos Kirim</p>
                <p class="font-weight-bold">Rp. 9.000</p>
              </div>
              <div class="d-flex justify-content-between text-side-card">
                <p>Platform Fee</p>
                <p class="font-weight-bold">Rp. 1.000</p>
              </div>
              <hr class="my-3"/>
              <div class="d-flex justify-content-between text-side-card">
                <h5 class="font-weight-bold">Total</h5>
                <h5>Rp. 35.981.<strong class="text-danger">098</strong></h5>
              </div>
              <p class="text-danger text-bold mb-3 bg-grey rounded p-2">
                Mohon transfer hingga 3 digit terahir.
                <br> Untuk memudahkan dalam pengecekan.
              </p>
              <button class="btn btn-blue btn-lg w-100" @click="orderFinish()">
                Pesan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'

const paymentMethod = [
  {
    "id": "1",
    "name": "Transfer Bank BCA",
    "slug": "bca",
    "image": require('@/assets/logo/bca.svg')
  },
  {
    "id": "2",
    "name": "Transfer Bank BNI",
    "slug": "bni",
    "image": require('@/assets/logo/bni.svg')
  },
  {
    "id": "3",
    "name": "Transfer Bank BRI",
    "slug": "bri",
    "image": require('@/assets/logo/bri.svg')
  },
  {
    "id": "4",
    "slug": "gopay",
    "name": "Pembayaran dengan Gopay",
    "image": require('@/assets/logo/gopay.svg')
  },
  {
    "id": "5",
    "slug": "indomaret",
    "name": "Pembayaran dengan Indomaret",
    "image": require('@/assets/logo/indomaret.svg')
  },
];

export default {

  setup() {
    const router = useRouter()

    function orderFinish() {
      router.push({
        name: 'reseller-payment-success',
      })
    }
    return{
      payment: paymentMethod,
      orderFinish,
    }
  },
  methods: {
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault()
      } else {
        return true;
      }
    },
  },
}
</script>


<style scoped>
ul.cara-pembayaran li{
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: var(--black);
  margin-bottom: 10px;
}
</style>
