<template>
    <div>
        <div class="card shadow-sm">
            <div class="card-header">
                <h5 class="mb-0">Produk</h5>
            </div>
            <div class="card-body px-3 profile-card">
                <div class="row">
                    <template v-if="products.length > 0">
                        <div class="col-md-4" v-for="product in products" :key="product.id">
                            <div class="card">
                                <div class="card-body d-flex flex-column product-card">
                                    <div class="product-thumbnail">
                                        <div class="stock mt-3">
                                            Stok: {{ product.stocks }}
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        {{ product.title }}
                                    </div>
                                    <div class="product-prices mt-2">
                                        <div class="d-flex">
                                            <span class="badge bg-soft-blue text-blue mx-2">
                                                <template v-if="product.discount">
                                                    {{ product.discount }}%
                                                </template>
                                                <template v-else>
                                                    0%
                                                </template>
                                            </span>
                                            <div class="product-price">
                                                Rp. {{ product.price }}
                                            </div>
                                        </div>
                                        <div class="product-reseller-price">
                                            Rp. {{ product.reseller_price }}
                                        </div>
                                    </div>
                                    <div class="row mt-auto">
                                        <div class="col">
                                            <button class="btn btn-block btn-blue">
                                                Beli
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-block btn-outline-blue">
                                                Copy Link
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center py-4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#"><img :src="ArrowLeft"/></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><img :src="ArrowRight"/></a></li>
                                </ul>
                            </nav>  
                        </div>
                    </template>
                    <template v-else>
                        <div class="my-5 text-center">
                            <h4>
                                Produk Kosong
                            </h4>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>  
</template>

<script>

import Logo from '../../assets/icons/wishlist-active.svg';
import ArrowLeft from '../../assets/icons/arrow-left.svg';
import ArrowRight from '../../assets/icons/arrow-right.svg';

import Api from '../../api/Api';


export default {
    components: {
    },
    setup() {
        return{
            Logo,
            ArrowLeft: ArrowLeft,
            ArrowRight: ArrowRight,
        }
    },
    data() {
        return{
            products: [],
        }
    },
    computed: {
        token() {
            return this.$store.getters['auth/isLoggedIn']
        },
        user() {
            return this.$store.getters['auth/currentUser']
        }
    },
    created() {
        this.getCategories()
    },
    methods: {
        getCategories() {
            Api.get('reseller/products', {
                headers:{
                    'X-DOMAIN-MEMBER': this.user.domain,
                    'Authorization': `Bearer ${this.token}`
                }
            })
            .then((res) => {
                var data = res.data.data
                this.products = data.products
            })
            .catch((err) => {
                console.log(err)
            })                
        },
    }
}
</script>

<style lang="scss" scoped>
.image-text{
  background: #FDE512;
  border: 2px solid #3686E3;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20% 0;
}
.image-text h1{
  font-weight: bold;
  font-size: 129px;
  line-height: 176px;
  color: #1F5EA9;
}
  .product-thumbnail{
    width: 100%;
    height: 180px;
    background: #f8f8f8;
    border-radius: 1rem;
    position: relative;
    .stock{
        background: white;
        padding: 4px 8px;
        border-radius: 0 0 4px 4px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin-left: 1rem;
    }
  }
  .product-name{
    font-size: 12px;
    font-weight: 400;
    margin-top: .5rem;
    line-height: 28px;
  }
  .product-price{
      font-size: 13px;
      &.discounted{
          text-decoration: line-through;
          color: #919EAB;
      }
  }
  .product-reseller-price{
      font-weight: 600;
      margin-top: 4px;
  }
  .product-card{
    height: 350px;
    padding: .75rem;
  }
</style>
