<template>
  <div class="pt-5">
    <div class="container my-5 login-container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <img :src="Logo" class="img-fluid reseller-logo" />
            </div>
            <div class="reseller-mark ml-2">
              Reseller
            </div>
          </div>
          <div class="card shadow-sm mt-4">
            <div class="card-header pb-0">
              <ul class="nav nav-transaction px-4">
                <li class="nav-item mr-3">
                  <router-link :to="{ name: 'reseller-login' }" class="link-item">Masuk</router-link>
                </li>
                <li class="nav-item active mx-3">
                  <router-link to="" class="link-item">Daftar</router-link>
                </li>
              </ul>
            </div>
            <div class="card-body py-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-light btn-block social-button">
                    <div class="d-flex align-items-center">
                      <img :src="Google">
                      <div class="ml-3">
                        Daftar Dengan Google
                      </div>
                    </div>
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block social-button btn-blue">
                    <div class="d-flex align-items-center">
                      <img :src="Facebook">
                      <div class="ml-3">
                        Daftar Dengan Facebook
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="text-center my-3">
                Atau
              </div>
              <form @submit.prevent="register">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="form-group mb-0">
                      <label class="control-label">Nama Lengkap</label>
                      <input type="text" v-model="user.name" class="form-control" placeholder="Nama Lengkap" />
                    </div>
                    <template v-if="validation.error">
                      <small v-if="validation.error.name" class="text-danger">
                        {{ validation.error.name[0] }}
                      </small>
                    </template>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group mb-0">
                      <label class="control-label">Nomor Handphone</label>
                      <input type="text" v-model="user.phone_number" class="form-control"
                        placeholder="Nomor Handphone" />
                    </div>
                    <template v-if="validation.error">
                      <small v-if="validation.error.phone_number" class="text-danger">
                        {{ validation.error.phone_number[0] }}
                      </small>
                    </template>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group mb-0">
                      <label class="control-label">Email address</label>
                      <input type="email" v-model="user.email" class="form-control" placeholder="Email Address" />
                    </div>
                    <template v-if="validation.error">
                      <small v-if="validation.error.email" class="text-danger">
                        {{ validation.error.email[0] }}
                      </small>
                    </template>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="form-group mb-0">
                      <label class="control-label">Password</label>
                      <input type="password" v-model="user.password" class="form-control" placeholder="Password" />
                    </div>
                    <template v-if="validation.error">
                      <small v-if="validation.error.password" class="text-danger">
                        {{ validation.error.password[0] }}
                      </small>
                    </template>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group mb-0">
                      <label class="control-label">Konfirmasi Password</label>
                      <input type="password" v-model="user.password_confirmation" class="form-control"
                        placeholder="Konfirmasi Password" />
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-blue btn-lg btn-block mt-3">
                  Daftar
                </button>
              </form>
            </div>
          </div>
          <div class="register mt-3 text-center">
            <p>
              Daftar menjadi customer?
              <router-link :to="{ name: 'register' }">Daftar</router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Logo from '../../assets/global/logo-blue.svg';
  import {
    ref,
    reactive
  } from "vue";
  import {
    useStore
  } from "vuex";
  import {
    useRouter
  } from "vue-router";
  import LoginIllustration from "../../assets/global/login-illustration.svg";
  import Facebook from "../../assets/icons/facebook-white.svg";
  import Google from "../../assets/icons/google.svg";
  import Swal from 'sweetalert2'

  export default {
    setup() {
      //user state
      const user = reactive({
        name: "",
        email: "",
        phone_number: "",
        password: "",
        password_confirmation: "",
      });

      //validation state
      const validation = ref([]);

      //store vuex
      const store = useStore();

      //route
      const router = useRouter();


      //function register, fungsi ini di jalankan ketika form di submit
      function register() {
        //define variable
        let name = user.name;
        let email = user.email;
        let phone_number = user.phone_number;
        let password = user.password;
        let password_confirmation = user.password_confirmation;
        let register_as = 'reseller';

        //panggil actions register dari module auth
        store.dispatch("auth/register", {
            name,
            email,
            phone_number,
            password,
            password_confirmation,
            register_as,
          })
          .then(() => {
            //redirect ke dashboard
      
            Swal.fire({
              title: 'Register berhasil',
              icon: 'success',
              confirmButtonText: 'Login Sekarang',
              padding: '2rem',
              confirmButtonColor: '#3686E3'
            }).then((result) => {
              if (result.isConfirmed) {
                router.push({
                  name: "reseller-login",
                });
              }
            })

          })
          .catch((error) => {
            //show validaation message
            validation.value = error.data;
          });
      }

      //return a state and function
      return {
        Logo: Logo,
        user,
        validation,
        register,
        LoginIllustration,
        Facebook,
        Google,
      };
    },
  };
</script>

<style scoped>
  .login-container::after {
    height: 1400px;
    width: 1400px;
    content: '';
    border-radius: 50%;
    background: #f7f7f7;
    position: fixed;
    left: 50%;
    margin-left: -700px;
    bottom: -1000px;
    z-index: -1;
  }

  .reseller-mark {
    font-size: 21px;
    margin-top: 4px;
    font-weight: lighter;
  }

  .nav-transaction li .link-item {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #888888;
  }

  .nav-line {
    height: 6px;
    width: 100%;
    color: var(--blue) !important;
  }

  .nav-item {
    padding: 20px 0;
  }

  .nav-item.active,
  .nav-item:hover {
    border-bottom: 5px solid var(--blue);
  }

  .nav-item.active .link-item,
  .nav-item:hover .link-item {
    color: var(--blue);
  }

  .social-button {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .social-button img {
    height: 22px;
  }
</style>