<template>
    <div>
        <div class="card shadow-sm">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0">Pengaturan Alamat</h5>
                    <button class="btn btn-blue ml-auto" @click="addAddress()">
                        Tambah Alamat Baru
                    </button>
                </div>
            </div>
            <div class="card-body px-3 profile-card">
                <template v-if="addresses.length > 0">
                    <div v-for="address in addresses" :key="address.id" class="card bg-light mb-3"
                        :class="{ 'active': address.status == 1}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="justify-content-start align-self-center">
                                        <div class="d-flex align-items-center mb-2">
                                            <h6 class="text-blue mb-0">{{ address.label }}</h6>
                                            <!-- <div class="badge badge-status bg-blue mx-2 " v-if="address.status === 1">Alamat Utama</div> -->
                                        </div>
                                        <h5 class="mb-0">{{ address.penerima }}</h5>
                                        <p>{{ address.phone_number}}</p>
                                        <p class="mb-0 address-detail">
                                            {{ address.detail }}, {{ address.subdstrict }} - {{ address.city }} -
                                            {{ address.province }}
                                        </p>
                                        <div class="d-flex align-items-center">
                                            <button class="btn d-flex align-items-center mt-3"
                                                @click="editAddress(address)">
                                                <img :src="Edit" />
                                                <span class="text-blue footer-button">Ubah Alamat</span>
                                            </button>
                                            <button class="btn d-flex align-items-center mt-3 mx-4"
                                                @click="deleteAddress(address.id)">
                                                <img :src="Delete" />
                                                <span class="text-blue footer-button">Hapus Alamat</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex" v-if="address.status === 2">
                                    <div class="justify-content-end align-self-center w-100 text-end">
                                        <button class="btn btn-outline-blue">
                                            Jadikan Alamat Utama
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="my-5 text-center">
                        <h4>
                            Alamat Kosong
                        </h4>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import {useRouter} from 'vue-router'
    import Api from '../../api/Api';

    import Logo from '../../assets/icons/address-settings-active.svg';
    import ArrowLeft from '../../assets/icons/arrow-left.svg';
    import ArrowRight from '../../assets/icons/arrow-right.svg';
    import Edit from '../../assets/icons/edit.svg';
    import Delete from '../../assets/icons/delete.svg';

    export default {
        setup() {
            const router = useRouter()

            function addAddress() {
                router.push({
                    name: 'reseller-add-address',
                })
            }

            function editAddress(address) {
                router.push({
                    name: 'reseller-edit-address',
                    params: {
                        id: address.id,
                        address: JSON.stringify(address)
                    }
                })
            }

            return {
                addAddress,
                editAddress,
                Logo,
                ArrowLeft: ArrowLeft,
                ArrowRight: ArrowRight,
                Edit: Edit,
                Delete: Delete
            }
        },
        data() {
            return {
                addresses: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
            user() {
                return this.$store.getters['auth/currentUser']
            }
        },
        created() {
            this.getAddressess()
        },
        methods: {
            getAddressess() {
                Api.get('/reseller/address', {
                        headers: {
                            'X-DOMAIN-MEMBER': this.user.domain,
                            'Authorization': `Bearer ${this.token}`
                        }
                    })
                    .then((res) => {
                        var data = res.data.data
                        this.addresses = data.addresses
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            deleteAddress(id) {
                Api.delete(`/reseller/address/${id}`, {
                        headers: {
                            'X-DOMAIN-MEMBER': this.user.domain,
                            'Authorization': `Bearer ${this.token}`
                        }
                    })
                    .then((res) => {
                        var response = res.data

                        if(response.meta.status == 'success') {
                            this.getAddressess()
                        }
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        }
    }
</script>

<style scoped>
    .image-text {
        background: #FDE512;
        border: 2px solid #3686E3;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 20% 0;
    }

    .image-text h1 {
        font-weight: bold;
        font-size: 129px;
        line-height: 176px;
        color: #1F5EA9;
    }

    .badge-status {
        font-weight: 600;
        font-size: 6px;
        line-height: 8px;
        text-align: center;
        color: var(--white);
    }

    .address-detail {
        width: 80%;
    }

    .footer-button {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0;
        margin-left: 10px;
        transition: 0.5s;
    }

    .footer-button:hover {
        opacity: 0.8;
    }

    .profile-card .active {
        background: #F8FBFF !important;
        border: 2px solid var(--blue);
    }
</style>