<template>
  <div>
    <div class="card shadow-sm">
      <div class="card-header">
        <h5 class="mb-0">Pengaturan Password</h5>
      </div>
      <div class="card-body px-4 profile-card">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="justify-content-start align-self-center w-100">
              <div class="form-group mb-3">
                <label class="control-label">Password Lama</label>
                <input type="password" class="form-control" id="old-password" placeholder="Password lama anda"/>
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Password Baru</label>
                <input type="password" class="form-control" id="new-password" placeholder="Password baru anda"/>
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Konfirmasi Password Baru</label>
                <input type="password" class="form-control" id="confirm-new-password" placeholder="Konfirmasi password baru anda"/>
              </div>
              <div class="form-group text-end mb-5">
                <button class="btn btn-blue">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
import Logo from '../../assets/icons/password-settings-active.svg';

export default {
  components: {
  },
  setup() {
    return{
      Logo,
    }
  },
}
</script>

<style scoped>
.image-text{
  background: #FDE512;
  border: 2px solid #3686E3;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20% 0;
}
.image-text h1{
  font-weight: bold;
  font-size: 129px;
  line-height: 176px;
  color: #1F5EA9;
}
</style>
