<template>
  <div>
    <div class="card shadow-sm">
      <div class="card-header">
          <h5 class=" my-0">Pengaturan Toko</h5>
      </div>
      <div class="card-body px-4 profile-card">
          <div class="row">
            <div class="col-md-6 d-flex">
              <div class="justify-content-center text-center align-self-start w-100 pt-0 pt-md-4 pb-4 px-0 px-md-5">
                <div class="d-flex d-md-block align-items-center">
                  <div class="image-text d-flex justify-content-center align-items-center">
                    <h1>H</h1>
                  </div>
                  <div>
                    <button class="btn btn-light btn-lg mt-0 mt-md-4"> Ubah Foto Profil</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="justify-content-start align-self-center w-100">
                <div class="form-group mb-3">
                    <label class="control-label">Nama Toko</label>
                    <input type="text" class="form-control" id="name" placeholder="Nama toko"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Kontak Toko</label>
                    <input type="text" class="form-control" id="phone" placeholder="No handphone toko"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Warna Toko</label>
                    <input type="color" class="form-control form-control-color p-2" id="exampleColorInput" value="#563d7c" title="Choose your color">
                </div>
                <div class="form-group text-end mb-5">
                    <button class="btn btn-blue">Simpan</button>
                </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>  
</template>

<script>
import Logo from '../../assets/icons/edit-profile-active.svg';

export default {
  components: {
  },
  setup() {
    return{
      Logo,
    }
  },
}
</script>

<style scoped>
.image-text{
  background: #FDE512;
  border: 2px solid #3686E3;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20% 0;
}
.image-text h1{
  font-weight: bold;
  font-size: 129px;
  line-height: 176px;
  color: #1F5EA9;
}
@media screen and (max-width: 768px){
  .image-text{
    height: 100px;
    width: 100px;
    padding: 0;
    margin-right: 1.5rem;
  }
  .image-text h1{
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 0 !important;
  }
}
</style>
