<template>
  <div>
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="money-logo">
            <img :src="Money"/>
          </div>
          <div class="ml-3">
            <p class="mb-1">
              Total Saldo
            </p>
            <h5>
              Rp200.000,-
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="card-header pb-0 pt-2">
        <ul class="nav nav-transaction">
            <li class="nav-item mr-3">
              <router-link :to="{name: 'reseller-wallet-withdraw'}" class="link-item">Tarik Dana</router-link>
            </li>
            <li class="nav-item active ml-4">
              <router-link to="" class="link-item">Riwayat Penarikan</router-link>
            </li>
        </ul>
      </div>
      <div class="card-body profile-card mt-3">
        <div class="mb-3">
          <label for="radio-1" class="btn btn-blue mr-2">
            <input type="radio" id="radio-1">
            <div class="text">
              Semua
            </div>
          </label>
          <label for="radio-2" class="btn btn-outline-blue mr-2">
            <input type="radio" id="radio-2">
            <div class="text">
              Dana Masuk
            </div>
          </label>
          <label for="radio-3" class="btn btn-outline-blue">
            <input type="radio" id="radio-3">
            <div class="text">
              Dana Keluar
            </div>
          </label>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="font-weight-bold mb-1">
              Penarikan Saldo
            </div>
            <p class="mb-1">
              Tanggal: <b>5 Juni 2021</b>
              Pukul: <b>14:00</b>
            </p>
            <p>
              Penarikan (PT. BCA (BANK CENTRAL ASIA) TBK - 140429748 - Hendry Nugroho)
            </p>
          </div>
          <div class="col-md-5 text-right">
            <h5 class="text-danger">
              -Rp200.909
            </h5>
            <p>
              Sisa Saldo: <b>Rp0</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="font-weight-bold mb-1">
              Peghasilan Penjualan
            </div>
            <p class="mb-1">
              Tanggal: <b>3 Juni 2021</b>
              Pukul: <b>14:00</b>
            </p>
            <p>
              Transaksi: 1988JKK78K
            </p>
          </div>
          <div class="col-md-5 text-right">
            <h5 class="text-success">
              +Rp200.909
            </h5>
            <p>
              Sisa Saldo: <b>Rp200.909</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Money from '../../assets/icons/money-blue.svg';
  import Delete from '../../assets/icons/delete.svg';
  import BCA from '../../assets/logo/bca.png';
  import BNI from '../../assets/logo/bni.png';
  import BRI from '../../assets/logo/bri.png';

  export default {
    setup() {
      return {
        Money: Money,
        Delete: Delete,
				BCA: BCA,
				BNI: BNI,
				BRI: BRI,
      }
    },
  }
</script>

<style lang="scss" scoped>
  .money-logo{
    background: var(--soft-blue);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 20px;

    }
  }  
  .banks{
    .bank-list{
      border-bottom: solid 1px var(--grey);
      padding: .5rem;
      &:last-child{
        border-bottom: solid 1px transparent;
      }
    }
  }
  .bank-image{
    align-self: center;
    flex: 60px 0 0;
    img{
      max-width: 60px;
      max-height: 60px;
    }
  }
  .btn{
    input{
      visibility: hidden;
      position: absolute;
    }
  }
  .nav-transaction li .link-item{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #888888;
  }
  .nav-line{
    height: 6px;
    width: 100%;
    color: var(--blue) !important;
  }
  .nav-item{
    padding: 20px 0;
  }
  .nav-item.active, .nav-item:hover{
    border-bottom: 5px solid var(--blue);
  }
  .nav-item.active .link-item, .nav-item:hover .link-item{
    color: var(--blue);
  }
</style>
