<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="money-logo">
                <img :src="Money"/>
              </div>
              <div class="ml-3">
                <p class="mb-1">
                  Total Saldo
                </p>
                <h5>
                  Rp200.000,-
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow-sm">
          <div class="card-header pb-0 pt-2">
            <ul class="nav nav-transaction">
                <li class="nav-item active mr-3">
                  <router-link to="" class="link-item">Tarik Dana</router-link>
                </li>
                <li class="nav-item ml-4">
                  <router-link :to="{name: 'reseller-wallet'}" class="link-item">Riwayat Penarikan</router-link>
                </li>
            </ul>
          </div>
          <div class="card-body mt-3">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">
                  Pilih Bank Tujuan
                </label>
                <div class="banks">
                  <label for="bca" class="d-flex bank-list option">
                    <div class="bank-image">
                      <img :src="BCA">
                    </div>
                    <div class="ml-3">
                      <p class="mb-0">
                        PT. BCA (BANK CENTRAL ASIA) TBK
                      </p>
                      <div class="font-weight-bold mb-1">
                        140429748
                      </div>
                      <h6>
                        a.n Hendry Nugroho
                      </h6>
                    </div>
                    <div class="ml-auto align-self-center">
                      <input type="radio" id="bca" name="bank">
                    </div>
                  </label>
                  <label for="bni" class="d-flex bank-list option">
                    <div class="bank-image">
                      <img :src="BNI">
                    </div>
                    <div class="ml-3">
                      <p class="mb-0">
                        PT. BNI (BANK NEGARA INDONESIA) TBK
                      </p>
                      <div class="font-weight-bold mb-1">
                        140429748
                      </div>
                      <h6>
                        a.n Hendry Nugroho
                      </h6>
                    </div>
                    <div class="ml-auto align-self-center">
                      <input type="radio" id="bni" name="bank">
                    </div>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="justify-content-start align-self-center w-100">
                    <div class="form-group mb-3">
                      <label class="control-label">Jumlah Penarikan</label>
                      <input type="text" class="form-control" id="amount" placeholder="Masukan jumlah"/>
                    </div>
                    <div class="form-group text-end mb-5">
                      <button class="btn btn-outline-blue mr-2">Tarik Semua</button>
                      <button class="btn btn-blue">Tarik Saldo</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Money from '../../assets/icons/money-blue.svg';
	import BCA from '../../assets/logo/bca.png';
	import BNI from '../../assets/logo/bni.png';
	import BRI from '../../assets/logo/bri.png';
  export default {
    setup() {
      return {
        Money: Money,
				BCA: BCA,
				BNI: BNI,
				BRI: BRI,
      }
    },
  }
</script>

<style lang="scss" scoped>
  .money-logo{
    background: var(--soft-blue);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 20px;

    }
  }  
  .banks{
    .bank-list{
      border-bottom: solid 1px var(--grey);
      padding: .5rem;
      &:last-child{
        border-bottom: solid 1px transparent;
      }
      &.option{
        border: solid 2px var(--grey);
        padding: 1rem;
        border-radius: 1rem;
        input:checked ~ .option{
          border: solid 2px var(--blue)
        }
      }
    }
  }
  .bank-image{
    align-self: center;
    flex: 60px 0 0;
    img{
      max-width: 60px;
      max-height: 60px;
    }
  }
  .btn{
    input{
      visibility: hidden;
      position: absolute;
    }
  }
  .nav-transaction li .link-item{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #888888;
  }
  .nav-line{
    height: 6px;
    width: 100%;
    color: var(--blue) !important;
  }
  .nav-item{
    padding: 20px 0;
  }
  .nav-item.active, .nav-item:hover{
    border-bottom: 5px solid var(--blue);
  }
  .nav-item.active .link-item, .nav-item:hover .link-item{
    color: var(--blue);
  }
</style>
