<template>
  <div>
    <div class="card shadow-sm">
      <div class="card-header">
        <h5 class="mb-0">Wishlist</h5>
      </div>
      <div class="card-body px-3 profile-card">
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <router-link :to="{name: 'product'}" class="link-card">
              <div class="card">
                <img :src="Phone" class="card-img-top">
                <div class="card-body">
                  <h6>Iphone 12 Pro Max</h6>
                  <h5>Rp 16.000.000</h5>
                  <div class="row mt-3">
                    <div class="col-6">
                      <button class="btn btn-block btn-blue">
                        Beli
                      </button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-block btn-outline-blue">
                        Hapus
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </router-link>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center py-4">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><img :src="ArrowLeft"/></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><img :src="ArrowRight"/></a></li>
              </ul>
            </nav>  
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>

import Logo from '../../assets/icons/wishlist-active.svg';
import ArrowLeft from '../../assets/icons/arrow-left.svg';
import ArrowRight from '../../assets/icons/arrow-right.svg';
import Phone from '../../assets/product/phone.png';

export default {
  components: {
  },
  setup() {
    return{
      Logo,
      ArrowLeft: ArrowLeft,
      ArrowRight: ArrowRight,
      Phone: Phone,
    }
  },
}
</script>

<style scoped>
.image-text{
  background: #FDE512;
  border: 2px solid #3686E3;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20% 0;
}
.image-text h1{
  font-weight: bold;
  font-size: 129px;
  line-height: 176px;
  color: #1F5EA9;
}
</style>
