<template>
  <div class="page-all bg-light">
    <div class="container pb-5">
      <div class="card shadow-sm mt-5">
        <div class="card-body p-4">
          <h2>Term And Condition</h2>
          <h5 class="mt-4">
            Title
          </h5>
          <div class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus soluta et dolor, repudiandae id blanditiis quae repellendus sed alias saepe non ex numquam a, totam nulla vitae dicta? Recusandae, dolore!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus soluta et dolor, repudiandae id blanditiis quae repellendus sed alias saepe non ex numquam a, totam nulla vitae dicta? Recusandae, dolore!
          </div>
          <ol class="term-list mt-3">
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti incidunt asperiores enim dolor tenetur iure reiciendis. Exercitationem aliquam dolore illum accusantium. Debitis veniam, unde ipsum quam aliquam harum numquam.
            </li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti incidunt asperiores enim dolor tenetur iure reiciendis. Exercitationem aliquam dolore illum accusantium. Debitis veniam, unde ipsum quam aliquam harum numquam.
            </li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti incidunt asperiores enim dolor tenetur iure reiciendis. Exercitationem aliquam dolore illum accusantium. Debitis veniam, unde ipsum quam aliquam harum numquam.
            </li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti incidunt asperiores enim dolor tenetur iure reiciendis. Exercitationem aliquam dolore illum accusantium. Debitis veniam, unde ipsum quam aliquam harum numquam.
            </li> 
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .term-list{
    padding-left: 1.5rem;
  }
  .term-list li{ 
    margin-bottom: .5rem;
  }
</style>