<template>
    <div class="page-all bg-light">
        <div class="container py-4 d-none d-md-block">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="breadcumb">
                        <router-link to="" class="breadcumb-active">Category</router-link> /
                        <router-link to="" class="breadcumb-active">Elektronik</router-link> /
                        Iphone 12 Pro Max
                    </h6>
                </div>
            </div>
        </div>
        <div class="container bg-white product-radius mb-0 mb-md-5 mt-4 mt-md-0">
            <div class="row">
                <div class="col-md-4">
                    <swiper :style="{'--swiper-navigation-color': '#fff','--swiper-pagination-color': '#fff'}"
                        :spaceBetween="10" :thumbs="{ swiper: thumbsSwiper }" class="mySwiper2">
                        <swiper-slide>
                            <img :src="Phone" class="img-fluid" />
                        </swiper-slide>
                        <swiper-slide>
                            <img :src="Phone2" class="img-fluid" />
                        </swiper-slide>
                        <swiper-slide>
                            <img :src="Phone3" class="img-fluid" />
                        </swiper-slide>
                    </swiper>
                    <div class="d-none d-md-block">
                        <swiper @swiper="setThumbsSwiper" :spaceBetween="10" :slidesPerView="3" :freeMode="true"
                            :watchSlidesVisibility="true" :watchSlidesProgress="true" class="mySwiper">
                            <swiper-slide>
                                <img :src="Phone" />
                            </swiper-slide>
                            <swiper-slide>
                                <img :src="Phone2" />
                            </swiper-slide>
                            <swiper-slide>
                                <img :src="Phone3" />
                            </swiper-slide>
                        </swiper>
                    </div>
                </div>
                <div class="col-md-8 pt-3 pt-md-5 px-3 px-md-5">
                    <div class="d-flex justify-content-between align-self-center">
                        <div class="product-name">
                            <h2>I Phone 12 Pro Max</h2>
                            <h1>Rp. 16.000.000</h1>
                        </div>
                        <div>
                            <button class="btn btn-lg wishlist-button">
                                <img :src="WihlistBefore" />
                            </button>
                            <button class="btn btn-lg text-success whatsapp-button">
                                <img :src="Whatsapp" />
                            </button>
                        </div>
                            
                    </div>
                    <div class="d-flex pt-3 pb-0 pb-md-0 align-self-center">
                        <span class="badge bg-grey text-black font-weight-regular p-2 mr-3">HP</span>
                        <span class="badge bg-yellow text-black font-weight-regular p-2 mr-3">Secondary</span>
                        <span class="text-information px-3"><span class="font-weight-bold">40</span> Terjual</span>
                        <span class="text-information px-3"><span class="font-weight-bold">14</span> Komentar</span>
                    </div>
                    <div class="separator my-3 my-4"></div>
                    <div class="mb-4">
                        <p class="mb-2">Pilih Warna</p>
                        <button :class="{'btn btn-sm mx-1': true, 'btn-blue': varian == 'Navy', 'btn-light': varian != 'Navy'}" @click="varian = 'Navy'">
                            Navy
                        </button>
                        <button :class="{'btn btn-sm mx-1': true, 'btn-blue': varian == 'Biru', 'btn-light': varian != 'Biru'}" @click="varian = 'Biru'">
                            Biru
                        </button>
                        <button :class="{'btn btn-sm mx-1': true, 'btn-blue': varian == 'Coklat', 'btn-light': varian != 'Coklat'}" @click="varian = 'Coklat'">
                            Coklat
                        </button>
                    </div>
                    <div class="separator my-3 my-4"></div>
                    <div>
                        <p class="mb-2">Quantity</p>
                        <div class="row">
                            <div class="col-2 col-md-1">
                                <button @click="decrement()" class="btn btn-blue btn-qty btn-sm mx-1 btn-block">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <div class="col-4 col-md-2">
                                <input type="text" class="form-control qty-form" v-model="counter"
                                    @keypress="isNumber($event)" />
                            </div>
                            <div class="col-2 col-md-1">
                                <button @click="increment()" class="btn btn-blue btn-qty btn-sm mx-1 btn-block">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="separator my-3 my-4"></div>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <router-link :to="{name: 'cart'}" class="btn btn-outline-blue btn-lg btn-block btn-buy">
                                Tambah Keranjang
                            </router-link>
                        </div>
                        <div class="col-6 col-md-4">
                            <router-link :to="{name: 'checkout'}" class="btn btn-blue btn-lg btn-block btn-buy">
                                Beli Sekarang
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-0 py-md-5 mt-5 mt-md-0 px-0 px-md-4">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body p-0 p-md-4">
                            <ul class="nav nav-tabs tabs-product" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                        data-bs-target="#description" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">Deskripsi</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="term-tab" data-bs-toggle="tab" data-bs-target="#term"
                                        type="button" role="tab" aria-controls="profile" aria-selected="false">Term &
                                        Condition</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="ulasan-tab" data-bs-toggle="tab"
                                        data-bs-target="#ulasan" type="button" role="tab" aria-controls="ulasan"
                                        aria-selected="false">Ulasan</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="discution-tab" data-bs-toggle="tab"
                                        data-bs-target="#discution" type="button" role="tab" aria-controls="discution"
                                        aria-selected="false">Diskusi</button>
                                </li>
                            </ul>
                            <div class="tab-content p-4" id="myTabContent">
                                <div class="tab-pane fade show active" id="description" role="tabpanel"
                                    aria-labelledby="description-tab">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis
                                        magna etiam. Ullamcorper a lacus vestibulum sed. Aliquam purus sit amet luctus
                                        venenatis lectus. Aenean sed adipiscing diam donec adipiscing tristique risus
                                        nec. A pellentesque sit amet porttitor. Condimentum vitae sapien pellentesque
                                        habitant morbi tristique. Tortor dignissim convallis aenean et tortor at.
                                        Facilisis sed odio morbi quis commodo odio aenean sed. Vestibulum morbi blandit
                                        cursus risus at ultrices mi tempus. Est pellentesque elit ullamcorper dignissim.
                                        Massa massa ultricies mi quis hendrerit dolor magna. Amet purus gravida quis
                                        blandit turpis cursus. Cras pulvinar mattis nunc sed blandit libero. Gravida
                                        quis blandit turpis cursus in hac habitasse platea. At tellus at urna
                                        condimentum mattis.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis
                                        magna etiam. Ullamcorper a lacus vestibulum sed. Aliquam purus sit amet luctus
                                        venenatis lectus. Aenean sed adipiscing diam donec adipiscing tristique risus
                                        nec. A pellentesque sit amet porttitor. Condimentum vitae sapien pellentesque
                                        habitant morbi tristique. Tortor dignissim convallis aenean et tortor at.
                                        Facilisis sed odio morbi quis commodo odio aenean sed. Vestibulum morbi blandit
                                        cursus risus at ultrices mi tempus. Est pellentesque elit ullamcorper dignissim.
                                        Massa massa ultricies mi quis hendrerit dolor magna. Amet purus gravida quis
                                        blandit turpis cursus. Cras pulvinar mattis nunc sed blandit libero. Gravida
                                        quis blandit turpis cursus in hac habitasse platea. At tellus at urna
                                        condimentum mattis.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="term" role="tabpanel" aria-labelledby="term-tab">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis
                                        magna etiam. Ullamcorper a lacus vestibulum sed. Aliquam purus sit amet luctus
                                        venenatis lectus. Aenean sed adipiscing diam donec adipiscing tristique risus
                                        nec. A pellentesque sit amet porttitor. Condimentum vitae sapien pellentesque
                                        habitant morbi tristique. Tortor dignissim convallis aenean et tortor at.
                                        Facilisis sed odio morbi quis commodo odio aenean sed. Vestibulum morbi blandit
                                        cursus risus at ultrices mi tempus. Est pellentesque elit ullamcorper dignissim.
                                        Massa massa ultricies mi quis hendrerit dolor magna. Amet purus gravida quis
                                        blandit turpis cursus. Cras pulvinar mattis nunc sed blandit libero. Gravida
                                        quis blandit turpis cursus in hac habitasse platea. At tellus at urna
                                        condimentum mattis.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="ulasan" role="tabpanel" aria-labelledby="ulasan-tab">
                                    <div class="comments">
                                        <div class="comment-item">
                                            <div class="comment">
                                                <div class="comment-avatar">
                                                </div>
                                                <div>
                                                    <div class="comment-name rater">
                                                        Ali Ahmad
                                                    </div>
                                                    <small class="text-gray date">
                                                        3 Hari Lalu
                                                    </small>
                                                </div>
                                                <div class="ml-3">
                                                    <div class="star">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                    <div class="comment-content mt-1">
                                                        Barangnya bagus banget!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply my-3">
                                                <div class="reply-avatar">
                                                </div>
                                                <div>
                                                    <div class="reply-name">
                                                        Penjual
                                                    </div>
                                                    <div class="reply-content">
                                                        Terimaksih sudah membeli di toko kami!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="discution" role="tabpanel" aria-labelledby="discution-tab">
                                    <div class="comments">
                                        <div class="comment-item">
                                            <div class="comment">
                                                <div class="comment-avatar">
                                                </div>
                                                <div>
                                                    <div class="comment-name">
                                                        Ali Ahmad
                                                        <small class="text-gray ml-3">
                                                            3 Hari Lalu
                                                        </small>
                                                    </div>
                                                    <div class="comment-content">
                                                        Apa barang masih ada?
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply">
                                                <div class="reply-avatar">
                                                </div>
                                                <div>
                                                    <div class="reply-name">
                                                        Penjual
                                                    </div>
                                                    <div class="reply-content">
                                                        Ada gan, silahkan order
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="reply-form d-flex my-3">
                                                <input type="text" class="form-control" placeholder="Isi komenter disini">
                                                <button class="btn btn-blue ml-3">
                                                    Balas
                                                </button>
                                            </div>
                                        </div>
                                        <div class="comment-item">
                                            <div class="comment">
                                                <div class="comment-avatar">
                                                </div>
                                                <div>
                                                    <div class="comment-name">
                                                        Ali Ahmad
                                                        <small class="text-gray ml-3">
                                                            3 Hari Lalu
                                                        </small>
                                                    </div>
                                                    <div class="comment-content">
                                                        Apa barang masih ada?
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="reply-form d-flex my-3">
                                                <input type="text" class="form-control" placeholder="Isi komenter disini">
                                                <button class="btn btn-blue ml-3">
                                                    Balas
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="mt-3">
                                        <div class="mb-3">
                                            <textarea name="discussion" id="discussion" cols="30" rows="3" class="form-control" placeholder="Apa yang akan anda tanyakan tentang produk ini?"></textarea>
                                        </div>
                                        <div class="d-flex">
                                            <div class="ml-auto">
                                                <button class="btn btn-blue">
                                                    Kirim
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4 py-md-0">
            <h2 class="mb-2">Produk Serupa</h2>
            <Product />
        </div>
    </div>
</template>

<script>
    import {
        Swiper,
        SwiperSlide
    } from 'swiper/vue';
    import SwiperCore, {
        Thumbs
    } from 'swiper/core';

    import Product from '../home/Product';

    import 'swiper/swiper.scss';
    import "swiper/components/navigation/navigation.min.css";
    import "swiper/components/thumbs/thumbs.min.css";

    import Phone from '../../assets/product/phone.png';
    import Phone2 from '../../assets/product/phone-2.png';
    import Phone3 from '../../assets/product/phone-3.png';
    import WihlistBefore from '../../assets/icons/wishlist-before.svg';
    import Whatsapp from '../../assets/icons/whatsapp.svg';

    SwiperCore.use([Thumbs]);

    export default {
        components: {
            Swiper,
            SwiperSlide,
            Product,
        },
        setup() {
            return {}
        },
        data() {
            return {
                thumbsSwiper: null,
                counter: 1,
                Phone: Phone,
                Phone2: Phone2,
                Phone3: Phone3,
                WihlistBefore: WihlistBefore,
                Whatsapp: Whatsapp,
                varian: 'Navy'
            }
        },
        methods: {
            setThumbsSwiper(swiper) {
                this.thumbsSwiper = swiper;
            },
            isNumber: function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault()
                } else {
                    return true;
                }
            },
            increment() {
                this.counter = this.counter + 1
                return true
            },
            decrement() {
                if (this.counter === 1) {
                    this.counter = 1
                } else {
                    this.counter = this.counter - 1
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body {
        background: #000;
        color: #000;
    }

    .swiper-container {
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .mySwiper2 {
        height: auto;
        width: 100%;
    }

    .mySwiper {
        box-sizing: border-box;
        padding: 10px 0;
        margin-top: 10px;
    }

    .mySwiper .swiper-slide {
        width: 100%;
        height: 120px;
        opacity: 1;
        border-radius: 5px;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
        border: 4px solid var(--blue);
    }

    .swiper-slide {
        background: none;
    }

    .swiper-slide img {
        display: block;
        object-fit: cover;
        border-radius: 10px !important;
    }

    .product-radius {
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .product-name h1 {
        font-weight: bold;
        font-size: 42px;
        line-height: 57px;
        color: var(--black);
    }

    .product-name h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
        color: #626262;
        margin-bottom: 5px;
    }

    .text-information {
        font-size: 12px;
        line-height: 16px;
        color: #646464;
        margin-bottom: 0;
        transform: translateY(5px);
    }

    .qty-form {
        text-align: center;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        color: var(--blue);
        border-color: transparent;
    }

    .nav-tabs .nav-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        color: #979797;
    }

    .nav-tabs {
        border-bottom: transparent;
    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: transparent;
        isolation: isolate;
    }

    .btn-qty{
        font-size: 10px;
    }

    .comments{
        .comment-item{
            border-bottom: solid 2px var(--grey);
            .comment{
                display: flex;
                // max-width: 80%;
                padding-bottom: 1rem;
                padding-top: 1rem;
                .comment-avatar{
                    height: 40px;
                    width: 40px;
                    flex: 40px 0 0;
                    border-radius: 50%;
                    background: #f8f8f8;
                    margin-right: 1rem;
                }
                .comment-name{
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: .25rem;
                    &.rater{
                        margin-bottom: 0;
                    }
                }
                .comment-content{
                    font-size: 12px;
                }
                .star{
                    color: var(--yellow);
                }
                .date{
                    font-size: 11px;
                }
            }
            .comment-reply{
                background: var(--grey);
                padding: .5rem 1rem;
                border-radius: .5rem;
                display: flex;
                margin-left: 50px;
                margin-bottom: 1rem;
                .reply-avatar{
                    height: 40px;
                    width: 40px;
                    flex: 40px 0 0;
                    border-radius: 50%;
                    background: #fff;
                    margin-right: 1rem;
                }
                .reply-name{
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: .25rem;
                }
                .reply-content{
                    font-size: 12px;
                }
            }
            &:first-child{
                .comment{
                    padding-top: 0;
                }
            }
            &:last-child{
                border-bottom: none;
                .comment{
                    padding-bottom: 0;
                }
            }
        }
    }
    

    @media screen and (max-width: 768px){
        .product-name h1 {
            font-size: 28px;
            line-height: 36px;
        }

        .product-name h2 {
            font-size: 18px;
            line-height: 28px;
        }

        .wishlist-button{
            img{
                height: 24px;
            }
        }

        .whatsapp-button{
            img{
                height: 24px;
            }
        }

        .btn-buy{
            padding: 1rem;
        }
        
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link {
            font-size: 12px;
            line-height: 18px;
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            font-size: 12px;
            line-height: 18px;
        }

        .tabs-product{
            margin-top: 1rem;
            justify-content: center;
        }
    }
</style>