<template>
  <div class="page-all bg-light">
    <div class="container pb-5">
      <div class="card shadow-sm mt-5">
        <div class="card-body p-3 p-md-5">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="blog-image"></div>
            </div>
            <div class="col-md-6">
              <h2 class="big-title">
                Menjadi Reseller Berpengalaman Dalam Waktu 3 Minggu
              </h2>
              <div class="blog-date">
                12 Agustus 2021
              </div>
              <button class="btn btn-outline-blue mt-4">
                Baca Selengkapnya
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card shadow-sm">
            <div class="card-body d-flex flex-column blog-card">
              <div class="blog-thumbnail">
              </div>
              <div class="blog-title">
                Cara Cepat Mendapatkan Klien Lebih
              </div>
              <div class="blog-date mt-auto">
                12 Agustus 2021
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm">
            <div class="card-body d-flex flex-column blog-card">
              <div class="blog-thumbnail">
              </div>
              <div class="blog-title">
                Cara Memilih Barang Yang Cocok Untuk Jualan Kamu
              </div>
              <div class="blog-date mt-auto">
                12 Agustus 2021
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm">
            <div class="card-body d-flex flex-column blog-card">
              <div class="blog-thumbnail">
              </div>
              <div class="blog-title">
                Kenapa Daganganku Tidak Cepat Laku, Simak Tips Meningkatkannya?
              </div>
              <div class="blog-date mt-auto">
                12 Agustus 2021
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .big-title{
    line-height: 44px;
  }
  .blog-date{
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
  }
  .blog-image{
    width: 90%;
    height: 300px;
    background: #f8f8f8;
    border-radius: 1rem;
  }
  .blog-thumbnail{
    width: 100%;
    height: 200px;
    background: #f8f8f8;
    border-radius: 1rem;
  }
  .blog-title{
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 28px;
  }
  .blog-card{
    height: 350px;
  }
</style>