<template>
  <div class="page-all bg-light">
    <div class="container pb-5">
      <div class="card shadow-sm mt-5">
        <div class="card-body p-4 p-md-5">
            <h2 class="big-title">
                Menjadi Reseller Berpengalaman Dalam Waktu 3 Minggu
            </h2>
            <div class="blog-date">
                12 Agustus 2021
            </div>
            <div class="d-flex align-items-center mt-3">
                <div>
                    Share
                </div>
                <div class="ml-3">
                    <div class="d-flex">
                    <router-link to="" class="btn mr-3">
                        <img :src="Facebook">
                    </router-link>
                    <router-link to="" class="btn mr-3">
                        <img :src="Twitter">
                    </router-link>
                    <router-link to="" class="btn mr-3">
                        <img :src="Instagram">
                    </router-link>
                    </div>
                </div>
            </div>
            <div class="blog-image mt-4 mb-5"></div>
            <p class="blog-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
            </p>
            <p class="blog-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut expedita, mollitia consectetur nulla facere deserunt perspiciatis magni in et voluptatibus ex ad voluptatem! Explicabo corporis quaerat voluptates, veniam vitae non?
            </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
	import Facebook from '../../assets/icons/facebook.svg';
	import Twitter from '../../assets/icons/twitter.svg';
	import Instagram from '../../assets/icons/instagram.svg';

    export default {
        setup() {
            return{
                Facebook: Facebook,
                Twitter: Twitter,
                Instagram: Instagram,
            }
        }
    }
</script>


<style scoped>
  .big-title{
    line-height: 44px;
  }
  .blog-date{
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
  }
  .blog-image{
    width: 100%;
    height: 300px;
    background: #f8f8f8;
    border-radius: 1rem;
  }
  .blog-thumbnail{
    width: 100%;
    height: 200px;
    background: #f8f8f8;
    border-radius: 1rem;
  }
  .blog-title{
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 28px;
  }
  .blog-card{
    height: 350px;
  }
  .blog-body{
      font-size: 12px;
      line-height: 24px;
      text-align: justify;
  }
</style>