<template>
  <div>
      <div class="box">
          <div class="row">
              <div class="col-md-10">
                  <h6 class="fw-normal mb-0 text-gray500">
                      Nilai Penjualan
                  </h6>
                  <h3 class="fw-medium mb-0 mt-2">
                      Rp. {{ formatPrice(data.total) }}
                  </h3>
                  <p class="mt-2 text-gray500">
                      Diperbarui hari ini
                  </p>
              </div>
              <div class="col-md-2 mt-3">
                <button :class="is_weakly == true ? 'btn-orange' : 'btn-outline-orange'" class="btn btn-block mr-2 btn-sm mb-2" @click="getChartWeakly()">Minggu</button>
                <button :class="is_monthly == true && is_weakly == false ? 'btn-orange' : 'btn-outline-orange'" class="btn btn-block btn-sm mb-2" @click="getChartMonthly()">Bulan</button>
              </div>
          </div>
          <div class="m-mt-4 line"></div>
          <div class="chart-content">
              <ul class="chart mt-5 mb-4">
                  <li v-for="(chart, index) in data.chart" :key="index">
                      <span :style="{height: chart.customer + '%'}" :title="chart.name">
                          <div class="chart-point" data-toggle="tooltip" data-placement="top" title="Sunday">{{ chart.customer }}</div>
                      </span>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 mt-4">
              <div class="box">
                  <div class="d-flex align-items-center">
                      <div class="dashboard-box red mr-4">
                          <img :src="customer" width="20" alt="">
                      </div>
                      <div class="ml-1">
                          <h6 class="mb-0 fw-normal text-gray500">
                              Pelanggan
                          </h6>
                          <h2 class="fw-medium mb-0 mt-1">
                              {{ data.foot.customer }}
                          </h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mt-4">
              <div class="box">
                  <div class="d-flex align-items-center">
                      <div class="dashboard-box orange mr-4">
                          <img :src="productCount" width="20" alt="">
                      </div>
                      <div class="ml-1">
                          <h6 class="mb-0 fw-normal text-gray500">
                              Produk Terjual
                          </h6>
                          <h2 class="fw-medium mb-0 mt-1">
                              {{ data.foot.product }}
                          </h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mt-4">
              <div class="box">
                  <div class="d-flex align-items-center">
                      <div class="dashboard-box yellow mr-4">
                          <img :src="blogVisitor" width="20" alt="">
                      </div>
                      <div class="ml-1">
                          <h6 class="mb-0 fw-normal text-gray500">
                              Pengunjung Blog
                          </h6>
                          <h2 class="fw-medium mb-0 mt-1">
                              {{ data.foot.viewer }}
                          </h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
	import customer from '../../../assets/user.png';
	import productCount from '../../../assets/package.png';
	import blogVisitor from '../../../assets/visitor.png';
    import Api from '../../../api/Api';

    export default {
		setup() {
            return {
                customer:customer,
                productCount:productCount,
                blogVisitor:blogVisitor,
            }
        },
        data() {
            return{
                data: {
                    chart: [],
                    total: 0,
                    foot: {
                        customer: 0,
                        product: 0,
                        viewer: 0,
                    },
                    is_weakly: false,
                    is_monthly: false,
                },
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getChartWeakly()
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            getChartWeakly() {
                Api.get('dashboard?category=weekly', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data

                    this.is_weakly = true
                    this.data = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            getChartMonthly() {
                this.is_weakly = false
                Api.get('dashboard?category=monthly', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data

                    this.is_monthly = true
                    this.data = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
        }
	}
</script>

<style lang="scss" scoped>
</style>