<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <h5 class="fw-medium mb-0">
            Input Kas
        </h5>
        <p class="mt-2 text-gray500">
            Form input buku kas
        </p>
        <div class="box mt-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="">Nama</label>
                    <input type="text" class="form-control" placeholder="Ketik nama kas" v-model="req.name">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['name']">
                            Nama wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 m-mt-1">
                    <label for="">Kategori Uang</label>
                    <select class="form-control" v-model="req.category">
                        <option value="">Pilih kategori</option>
                        <option value="1">Uang Masuk</option>
                        <option value="2">Uang Keluar</option>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['category']">
                            Category wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Nominal</label>
                    <input type="number" min="0" class="form-control" placeholder="Ketik nominal uang" v-model="req.nominal">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['nominal']">
                            Nominal wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Metode Pembayaran</label>
                    <select class="form-control" v-model="req.pay_method">
                        <option value="">Pilih metode pembayaran</option>
                        <template v-for="account in bankAccounts" :key="account.id">
                            <option :value="account.id">{{ account.bank_name }}</option>
                        </template>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['pay_method']">
                            Metode pembayaran wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Deskripsi</label>
                    <textarea cols="30" rows="6" class="form-control textarea" placeholder="Ketik deskripsi kebutuhan" v-model="req.desc"></textarea>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['desc']">
                            Deskripsi wajib diisi
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <router-link :to="{name: 'admin-cash-book'}" class="btn btn-outline-orange btn-block">
                    Kembali
                </router-link>
            </div>
            <div class="col-md-2 m-mt-1">
                <button class="btn btn-orange btn-block" @click="saveCashBook()">
                    Simpan
                </button>
            </div>
            <div class="col-md-9"></div>
        </div>
    </div>
</template>
  
<script>
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'
    import { useRouter } from 'vue-router'

    export default {
        setup() {
            const router = useRouter()

            function cashBookList() {
                router.push({
                    name: 'admin-cash-book',
                })
            }
            
            return {
                cashBookList,
            }
        },
        data() {
            return{
                req: {
                    name: '',
                    nominal: '',
                    category: '',
                    pay_method: '',
                    desc: ''
                },
                bankAccounts: [],
                validation_errors: []
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getBankAccount()
        },
        methods: {
            getBankAccount() {
                Api.get('bank-account', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.bankAccounts = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            saveCashBook() {
                var data = new FormData()

                data.append('name', this.req.name)
                data.append('nominal', this.req.nominal)
                data.append('category', this.req.category)
                data.append('pay_method', this.req.pay_method)
                data.append('desc', this.req.desc)

                Api.post('cash-book/store', data, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil disimpan!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Tutup',
                    })

                    if(response.success == true) {
                        return this.cashBookList()
                    }
                })
                .catch((err) => {
                    this.validation_errors = err.response.data.data
                })
            },
        }
	}
</script>

<style lang="scss">
</style>