<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="fw-medium mb-0">
                    Laporan Keuangan Anda
                </h5>
                <p class="mt-2 text-gray500">
                    Kelola laporan keuangan anda
                </p>
            </div>
            <div class="col-md-4 mt-3">
                <div class="box">
                    <div class="d-flex align-items-center">
                        <div class="dashboard-box green mr-4">
                            <img :src="cashIn" width="25" alt="">
                        </div>
                        <div class="ml-1">
                            <h6 class="mb-0 fw-normal text-gray400 m-size-14">
                                Uang Masuk
                            </h6>
                            <h5 class="mb-0 fw-medium mt-1 m-size-16">
                                Rp.{{ formatPrice(cashFlow.uang_masuk) }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="box">
                    <div class="d-flex align-items-center">
                        <div class="dashboard-box orange mr-4">
                            <img :src="cashOut" width="20" alt="">
                        </div>
                        <div class="ml-1">
                            <h6 class="mb-0 fw-normal text-gray400 m-size-14">
                                Uang Keluar
                            </h6>
                            <h5 class="mb-0 fw-medium mt-1 m-size-16">
                                Rp.{{ formatPrice(cashFlow.uang_keluar) }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="box">
                    <div class="d-flex align-items-center">
                        <div class="dashboard-box blue mr-4">
                            <img :src="cash" width="20" alt="">
                        </div>
                        <div class="ml-1">
                            <h6 class="mb-0 fw-normal text-gray400 m-size-14">
                                Keuntungan
                            </h6>
                            <h5 class="mb-0 fw-medium mt-1 m-size-16">
                                Rp.{{ formatPrice(cashFlow.profit) }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <div class="row">
                    <div class="col-md-9">
                        <h6 class="mb-0 m-mt-1">
                            Buku Kas
                        </h6>
                        <p class="mb-0 text-gray500">
                            Pencatatan uang masuk dan keluar
                        </p>
                    </div>
                    <div class="col-md-3">
                        <router-link :to="{name: 'admin-cash-book-create'}" class="btn btn-orange btn-block m-mt-1 btn-sm">
                            Tambah Kas
                        </router-link>
                    </div>
                </div>
                <div class="box overflow-auto m-pt-0 mt-3 m-pr-unset">
                    <template v-if="cashData.length > 0">
                        <div class="modern-table-boxed">
                            <div class="d-table-row header none">
                                <div class="d-table-cell">
                                </div>
                                <div class="d-table-cell">
                                </div>
                                <div class="d-table-cell">
                                </div>
                                <div class="d-table-cell">
                                </div>
                                <div class="d-table-cell">
                                </div>
                                <div class="d-table-cell">
                                </div>
                            </div>
                            <div class="d-table-row" v-for="list in cashData" :key="list.id">
                                <div class="d-table-cell m-position-table">
                                    <template v-if="list.category == 1">
                                        <img :src="cashInCircle" class="m-mb-1" width="27" alt="">
                                    </template>
                                    <template v-else>
                                        <img :src="cashOutCircle" class="m-mb-1" width="27" alt="">
                                    </template>
                                </div>
                                <div class="d-table-cell m-position-table">
                                    {{ date(list.created_at) }}
                                </div>
                                <div class="d-table-cell m-position-table">
                                    {{ list.name }}<br>
                                    <span class="fw-normal text-gray300">
                                        {{ list.bank_name }}
                                    </span>
                                </div>
                                <div class="d-table-cell m-position-table">
                                    <span :class="list.category == 1 ? 'text-green' : 'text-orange'">
                                        <template v-if="list.category == 1">
                                            Uang Masuk
                                        </template>
                                        <template v-else>
                                            Uang Keluar
                                        </template>
                                    </span>
                                </div>
                                <div class="d-table-cell m-position-table">
                                    Rp.{{ formatPrice(list.nominal) }}
                                </div>
                                <div class="d-table-cell m-position-table">
                                    <a href="javascript:void(0)" @click="deleteList(list.id)" class="text-red size-16">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="text-center mt-4 mb-4">
                            <img :src="noData" width="80" alt="">
                            <h5 class="mb-0 fw-medium mt-2 text-gray500">
                                Data kosong
                            </h5>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="row">
                    <div class="col-8 col-md-9">
                        <h6 class="mb-0 m-mt-1">
                            Bank
                        </h6>
                        <p class="mb-0 text-gray500">
                            Saldo bank anda
                        </p>
                    </div>
                    <div class="col-4 col-md-3 m-mt-2">
                        <a href="javascript:void(0)" class="btn btn-orange btn-block btn-sm" data-toggle="modal" data-target="#addBank">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div :class="bankAccounts.length > 0 ? 'pb-0' : ''" class="box mt-3">
                    <template v-if="bankAccounts.length > 0">
                        <template v-for="account in bankAccounts" :key="account.id">
                            <div class="d-flex align-items-center m-block">
                                <div class="m-mb-2 mr-4">
                                    <img :src="account.image" width="75" alt="">
                                </div>
                                <div>
                                    <div class="mb-0 fw-bold size-18">
                                        Rp.{{ formatPrice(account.current_nominal) }}
                                    </div>
                                    <div class="size-14 fw-medium mt-1">
                                        {{ account.name }}
                                    </div>
                                    <div class="text-gray400 size-12">
                                        {{ account.no_account }}
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                        </template>
                    </template>
                    <template v-else>
                        <div class="text-center">
                            <img :src="noData" width="50" alt="">
                            <h6 class="mb-0 fw-medium mt-2 text-gray500">
                                Data kosong
                            </h6>
                        </div>
                    </template>
                </div>
            </div>
            <div class="modal" id="addBank">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form id="addcategory">
                                <div class="mb-4">
                                    <h5 class="mb-0 fw-medium">
                                        Tambah Bank
                                    </h5>
                                    <p class="mb-0 text-gray400">
                                        Form input bank atau metode bayar
                                    </p>
                                    <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Akun Atas Nama</label>
                                        <input type="text" class="form-control" placeholder="Masukkan atas nama rekening anda" v-model="req.name">
                                        <div>
                                            <small class="text-danger size-12" v-if="validation_errors['name']">
                                                Atas nama wajib diisi
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-mt-1">
                                        <label for="" class="form-label">Nomor Akun</label>
                                        <input type="number" class="form-control" min="0" placeholder="Masukkan no akun anda" v-model="req.no_account">
                                        <div>
                                            <small class="text-danger size-12" v-if="validation_errors['no_account']">
                                                Nomor akun wajib diisi
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label for="" class="form-label">Nominal Uang</label>
                                        <input type="number" class="form-control" placeholder="Masukkan nominal uang" v-model="req.current_nominal">
                                        <div>
                                            <small class="text-danger size-12" v-if="validation_errors['current_nominal']">
                                                Nominal uang wajib diisi
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label for="" class="form-label">Bank</label>
                                        <select class="form-control" v-model="req.bank_id">
                                            <option value="">Pilih bank atau metode pembayaran</option>
                                            <template v-for="bank in banks" :key="bank.id">
                                                <option :value="bank.id">{{ bank.name }}</option>
                                            </template>
                                        </select>
                                        <div>
                                            <small class="text-danger size-12" v-if="validation_errors['bank_id']">
                                                Bank wajib diisi
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer text-center">
                            <a href="javascript:void(0)" class="btn text-orange mr-2" data-dismiss="modal">
                                Batal
                            </a>
                            <button class="btn btn-orange" @click="saveBankAccount()">
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
  
<script>
    import $ from 'jquery'
    import * as moment from "moment/moment"
    import noData from '../../../assets/no-data.png'
    import Api from '../../../api/Api'
    import Swal from 'sweetalert2'
    import cashIn from '../../../assets/cash-in.png'
	import cashOut from '../../../assets/cash-out.png'
	import cash from '../../../assets/cash.png'
	import cashInCircle from '../../../assets/cash-in-circle.png'
	import cashOutCircle from '../../../assets/cash-out-circle.png'

    export default {
        data() {
            return{
                noData,
                cashIn:cashIn,
                cashOut:cashOut,
                cash:cash,
                cashInCircle: cashInCircle,
                cashOutCircle: cashOutCircle,
                cashData: [],
                cashFlow: {},
                bankAccounts: [],
                banks: [],
                validation_errors: [],
                req: {
                    name: '',
                    current_nominal: '',
                    no_account: '',
                    bank_id: '',
                }
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getCashlist()
            this.getBankAccount()
            this.getBankList()
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            date: function (date) {
                return moment(date).format('DD MMMM YYYY');
            },
            getCashlist() {
                Api.get('cash-book', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var cashFlow = res.data.cash_flow
                    var data = res.data.data
                    this.cashData = data
                    this.cashFlow = cashFlow
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            getBankAccount() {
                Api.get('bank-account', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.bankAccounts = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            getBankList() {
                Api.get('bank', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.banks = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            saveBankAccount() {
                var data = new FormData()

                data.append('name', this.req.name)
                data.append('current_nominal', this.req.current_nominal)
                data.append('no_account', this.req.no_account)
                data.append('bank_id', this.req.bank_id)

                Api.post('bank-account/store', data, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil disimpan!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Tutup',
                    })

                    if(response.success == true) {
                        this.getBankAccount()
                    }
                    $('.close').click()
                })
                .catch((err) => {
                    this.validation_errors = err.response.data.data
                })
            },
            deleteList(id) {
                Api.delete(`cash-book/${id}`, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil dihapus!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Ok',
                    })

                    if(response.success == true) {
                        this.getCashlist()
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
            }
        }
	}
</script>

<style lang="scss">
    .modern-table-boxed .d-table-row.header.none{
        display: none !important;
    }
    @media (max-width: 767px) {
        .d-table-cell.m-position-table{
            display: table-header-group !important;
        }
        .m-pr-unset{
            padding-right: unset !important
        }
    }
</style>