<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <div class="row">
            <div class="col-md-10">
                <h5 class="fw-medium mb-0">
                    Lis Testimoni Produk
                </h5>
                <p class="mt-2 text-gray500">
                    Testimoni yang sudah di upload yang aktif maupun tidak aktif
                </p>
            </div>
            <div class="col-md-2 mt-3 m-mt-0">
                <router-link :to="{name: 'admin-testimoni-create'}" class="btn btn-orange btn-block">
                    Tambah
                </router-link>
            </div>
        </div>
        <div class="mt-4">
            <template v-if="testimonials.length > 0">
                <div class="p-box m-none">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fw-500 text-gray400">
                                Gambar
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="fw-500 text-gray400">
                                Nama
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-500 text-gray400">
                                Testimoni
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="fw-500 text-gray400">
                                Status
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="fw-500 text-gray400">
                                Aksi
                            </div>
                        </div>
                    </div>
                </div>
                <div v-for="testimoni in testimonials" :key="testimoni.id">
                    <div class="box">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="image-list" :style="{'background-image': 'url(' + (testimoni.image) + ')'}"></div>
                            </div>
                            <div class="col-md-2 m-mt-2">
                                <p class="fw-medium mb-0">
                                    {{ testimoni.name }}
                                </p>
                            </div>
                            <div class="col-md-4 size-13 m-mt-1">
                                {{ testimoni.message }}
                            </div>
                            <div class="col-md-2 m-mt-1">
                                <span :class="testimoni.status == 1 ? 'text-green' : 'text-orange'">
                                    <template v-if="testimoni.status == 1">
                                        Aktif
                                    </template>
                                    <template v-else>
                                        Tidak Aktif
                                    </template>
                                </span>
                            </div>
                            <div class="col-md-1 m-mt-1">
                                <a href="javascript:void(0)" class="text-red size-18" @click="deleteTestimoni(testimoni.id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="line mb-0 mt-0"></div>
                </div>
            </template>
            <template v-else>
                <div class="text-center mt-5">
                    <img :src="noData" width="80" alt="">
                    <h5 class="mb-0 fw-medium mt-2 text-gray500">
                        Data kosong
                    </h5>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
	import noData from '../../../assets/no-data.png';
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'

	export default {
		setup() {
            return {
                noData,
            }
        },
        data() {
            return{
                testimonials: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getTestimonials()
        },
        methods: {
            getTestimonials() {
                Api.get('testimoni', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.testimonials = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            deleteTestimoni(id) {
                Api.delete(`testimoni/${id}`, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil dihapus!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Ok',
                    })

                    if(response.success == true) {
                        this.getTestimonials()
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
            }
        }
	}
</script>

<style lang="scss" scoped>
</style>