<template>
  <div class="page-all bg-light">
    <div class="container pb-5">
      <div class="card shadow-sm mt-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h2>
                Contact
              </h2>
              <div class="mt-4">
                <div class="form-group">
                  <label class="control-label" id="name">Nama</label>
                  <input type="text" class="form-control" id="name" placeholder="Masukkan nama"/>
                </div>
                <div class="form-group">
                  <label class="control-label" id="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Masukkan email"/>
                </div>
                <div class="form-group">
                  <label class="control-label" id="phone">No. Handphone</label>
                  <input type="text" class="form-control" id="phone" placeholder="Masukkan no hanphone"/>
                </div>
                <div class="form-group">
                  <label class="control-label" id="message">Pesan</label>
                  <textarea class="form-control" placeholder="Masukan pesan" id="message" rows="4">
                  </textarea>
                </div>
                <button class="btn btn-blue btn-lg mt-3 px-5">
                  Kirim
                </button>
              </div>
            </div>
            <div class="col-md-4 offset-md-1">
              <img :src="Illustration">
              <p class="mt-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit nisi, voluptas obcaecati nobis ab veritatis, ducimus facilis cupiditate consequatur, at culpa autem doloribus beatae itaque. Fugiat officia unde laboriosam deleniti!
              </p>
              <div class="d-flex mt-4">
                <img :src="Envelope" class="mr-3">
                <p class="my-0">
                  coolstore@mail.com
                </p>
              </div>
              <div class="d-flex mt-3">
                <img :src="Phone" class="mr-3">
                <p class="my-0">
                  0838 8088 1382
                </p>
              </div>
              <div class="d-flex mt-4">
                <router-link to="" class="btn mr-3">
                  <img :src="Facebook">
                </router-link>
                <router-link to="" class="btn mr-3">
                  <img :src="Twitter">
                </router-link>
                <router-link to="" class="btn mr-3">
                  <img :src="Instagram">
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Illustration from '../../assets/global/contact-illustration.svg';
	import Facebook from '../../assets/icons/facebook.svg';
	import Twitter from '../../assets/icons/twitter.svg';
	import Instagram from '../../assets/icons/instagram.svg';
	import Phone from '../../assets/icons/phone.svg';
	import Envelope from '../../assets/icons/envelope.svg';

  export default {
      setup() {
        return{
          Illustration,
          Facebook: Facebook,
          Twitter: Twitter,
          Instagram: Instagram,
          Envelope,
          Phone
        }
      }
  }
</script>
