<template>
  <div class="container py-5">
		<div class="row">
			<div class="col-md-4">
				<img :src="Logo">
				<p class="mt-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</p>
				<p class="font-weight-bold">
					Follow Us On
				</p>
				<div class="d-flex">
					<router-link to="" class="btn p-3">
						<img :src="Facebook">
					</router-link>
					<router-link to="" class="btn p-3">
						<img :src="Twitter">
					</router-link>
					<router-link to="" class="btn p-3">
						<img :src="Instagram">
					</router-link>
				</div>
			</div>
			<div class="col-md-4 px-4">
				<h5>Metode Pembayaran</h5>
				<a href="#" class="btn bg-grey p-3 m-2">
					<img :src="BCA">
				</a>
				<a href="#" class="btn bg-grey p-3 m-2">
					<img :src="BNI">
				</a>
				<a href="#" class="btn bg-grey p-3 m-2">
					<img :src="BRI">
				</a>
				<a href="#" class="btn bg-grey p-3 m-2">
					<img :src="Gopay">
				</a>
				<a href="#" class="btn bg-grey p-3 m-2">
					<img :src="Indomaret">
				</a>
				<a href="#" class="btn bg-grey p-3 m-2">
					<img :src="AtmBersama">
				</a>
			</div>
			<div class="col-md-2">
				<h5>Jual Beli</h5>
				<router-link to="" class="my-2 footer-nav-link">
					Pembelian
				</router-link><br/>
				<router-link to="" class="my-2 footer-nav-link">
					Pembayaran
				</router-link><br/>
				<router-link to="" class="my-2 footer-nav-link">
					Afiliasi
				</router-link><br/>
				<router-link to="" class="my-2 footer-nav-link">
					Reseller
				</router-link>
			</div>
			<div class="col-md-2">
				<h5>Halaman Toko</h5>
				<router-link :to="{name: 'home'}" class="my-2 footer-nav-link">
					Home
				</router-link><br/>
				<router-link :to="{name: 'about'}" class="my-2 footer-nav-link">
					About
				</router-link><br/>
				<router-link :to="{name: 'contact'}" class="my-2 footer-nav-link">
					Blog
				</router-link><br/>
				<router-link :to="{name: 'blog'}" class="my-2 footer-nav-link">
					Contact
				</router-link><br/>
				<router-link :to="{name: 'term-and-condition'}" class="my-2 footer-nav-link">
					Term and Conditions
				</router-link><br/>
				<router-link :to="{name: 'faq'}" class="my-2 footer-nav-link">
					FAQ
				</router-link><br/>
			</div>
			<div class="col-md-12 py-4">
				<h6>&nbsp; coolstore 2021</h6>
			</div>
		</div>
	</div>
</template>

<script>
	import Logo from '../assets/global/logo-blue.svg';
	import Facebook from '../assets/icons/facebook.svg';
	import Twitter from '../assets/icons/twitter.svg';
	import Instagram from '../assets/icons/instagram.svg';
	import BCA from '../assets/logo/bca.png';
	import BNI from '../assets/logo/bni.png';
	import BRI from '../assets/logo/bri.png';
	import Gopay from '../assets/logo/gopay.png';
	import Indomaret from '../assets/logo/indomaret.png';
	import AtmBersama from '../assets/logo/atm-bersama.png';

	export default {
		setup() {
			return{
				Logo: Logo,
				Facebook: Facebook,
				Twitter: Twitter,
				Instagram: Instagram,
				BCA: BCA,
				BNI: BNI,
				BRI: BRI,
				Gopay: Gopay,
				Indomaret: Indomaret,
				AtmBersama: AtmBersama
			}
		}
	}
</script>

<style>
.footer-nav-link{
	font-weight: normal;
	font-size: 12px;
	line-height: 179.9%;
	color: #707070;
	text-decoration: none;
	transition: 0.5s;
}
.footer-nav-link:hover, .footer-nav-link:focus{
	font-weight: normal;
	font-size: 12px;
	line-height: 179.9%;
	color: #707070;
	text-decoration: underline;
}
</style>