<template>
  <div class="fixed-top">
    <div class="bg-dark-blue">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-between align-self-center">
            <div class="d-flex">
              <a href="#" class="text-top-nav ml-top"><img :src="InstagramTop" class="img-fluid ig-transform"/> Follow Us On Instagram</a>
            </div>
            <div class="d-flex">
              <router-link :to="{name: 'about'}" class="text-top-nav ml-top px-1">About</router-link>
              <router-link :to="{name: 'contact'}" class="text-top-nav ml-top px-1">Contact</router-link>
              <router-link :to="{name: 'blog'}" class="text-top-nav ml-top px-1">Blog</router-link>
              <router-link :to="{name: 'term-and-condition'}" class="text-top-nav ml-top px-1">Term and Conditions</router-link>
              <router-link :to="{name: 'faq'}" class="text-top-nav ml-top px-1">FAQ</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-light bg-blue py-2">
      <div class="container">
        <div class="row w-100">
          <div class="col-2 d-flex">
            <div class="justify-content-start align-self-center w-100">
              <router-link :to="{name: 'home'}" class="navbar-brand">
                <img :src="Logo" class="img-fluid"/>
              </router-link>
            </div>
          </div>
          <div class="col-7 d-flex">
            <div class="justify-content-center align-self-center w-100 text-center">
              <form class="form-horizontal d-flex">
                <button type="button" class="btn btn-search-category">
                  Kategori
                </button>
                <div class="input-group">
                  <input type="text" class="form-control form-search" placeholder="Cari apa hari ini?">
                  <button type="button" class="btn btn-search">
                    <img :src="Search" class="img-fluid"/>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-3 d-flex">
            <div class="justify-content-end align-self-center w-100 text-end">
              <div class="d-flex justify-content-center">
                <router-link :to="{name: 'cart'}" class="btn mx-1 position-relative">
                  <img :src="Cart"/>
                  <span class="badge rounded-pill badge-cart bg-yellow text-dark">4</span>
                </router-link>
                <router-link to="" class="btn mx-1 position-relative">
                  <img :src="Notification"/>
                  <span class="badge rounded-pill badge-notification bg-yellow text-dark">4</span>
                </router-link>
                <router-link to="" class="btn btn-md btn-white mx-2">
                  Masuk/Daftar
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
  import Logo from '../assets/global/logo.svg';
  import InstagramTop from '../assets/global/ig-top.svg';
  import ArrowCategory from '../assets/icons/arrow-category.svg';
  import Search from '../assets/icons/search.svg';
  import Cart from '../assets/icons/cart.svg';
  import Notification from '../assets/icons/notification.svg';

  export default {
    setup() {
      return {
        Logo: Logo,
        InstagramTop: InstagramTop,
        ArrowCategory: ArrowCategory,
        Search: Search,
        Cart: Cart,
        Notification: Notification,
      }
    }
  }
</script>
<style scoped>
  .ml-top{
    margin-left: 5px;
  }
  .ig-transform{
    transform: translateY(-1px);
  }
  .btn-search-category{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--white);
  }
  .btn-search{
    border-radius: 0 10px 10px 0 !important;
    background-color: var(--white);
    padding: 0 10px !important;
  }
  .btn-search img{
    transform: translateY(-2px);
  }
  .form-search{
    width: 80%;
    padding: 10px 20px;
    font-size: 12px !important;
    background-color: var(--white) !important;
  }
  .badge-cart{
    position: absolute;
    top: 5px;
    left: 22px;
  }
  .badge-notification{
    position: absolute;
    top: 5px;
    left: 16px;
  }
</style>
