<template>
    <div>
        <div class="main-header">
            <div class="container">
                <div class="d-flex">
                    <div>
                        <a href="" class="text-white mr-3">
                            <i class="fa fa-comment mr-1"></i>
                            Memiliki Pertanyaan?
                        </a>
                        <a href="" class="text-white mr-3">
                            <i class="fa fa-phone mr-1"></i>
                            089898687676
                        </a>
                        <a href="" class="text-white">
                            <i class="fa fa-envelope mr-1"></i>
                            infonamawebsite@gmail.com
                        </a>
                    </div>
                    <div class="ml-auto">
                        <a href="" class="text-white size-14 mr-3">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="" class="text-white size-14 mr-3">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="" class="text-white size-14">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center" style="position: relative; z-index: 99">
                            <h1 class="mb-0 d-none d-lg-block fw-bold mr-4">
                                <img :src="Logo" width="60" alt="">
                            </h1>
                            <nav class="nav-menu d-none d-lg-block">
                                <ul>
                                    <li class="active">
                                        <a href="index.html">Beranda</a>
                                    </li>
                                    <li>
                                        <a href="">Produk</a>
                                    </li>
                                    <li>
                                        <a href="">Blog</a>
                                    </li>
                                    <li>
                                        <a href="">Kontak Kami</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-6 mt-header">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Cari...">
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <a href="">
                                        <div class="box-chart border mr-3">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="box-chart bg">
                                            <i class="fa fa-shopping-basket"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</template>
<script>
    import Logo from '../assets/logo-prod.png';
    import { useStore } from 'vuex'
    import { useRouter } from 'vue-router'

    export default {
        setup() {
            const store = useStore()
            const router = useRouter()

            function logout() {
                store.dispatch('auth/logout')
                    .then(() => {
                        router.push({
                            name: 'login'
                        })
                    }).catch(error => {
                        console.log(error)
                    })
            }

            return {
                Logo: Logo,
                logout
            }
        },
        computed: {
        },
        created() {
        }
    }
</script>
<style lang="scss" scoped>
    .mt-header{
        margin-top: 12px;
    }
    .box-chart{
        width: 35px;
        height: 35px;
        border-radius: 6px;
        text-align: center;
        font-size: 16px;
    }
    .box-chart.bg{
        padding: 5px;
        color: #fff;
        background: #F3A032;
    }
    .box-chart.border{
        padding: 4px;
        border: 1px solid #F3A032 !important;
        color: #F3A032;
    }

    .main-header{
        background: #f3a032;
        padding: 12px;
        font-size: 12px;
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100%;
    }

    #header {
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 5px rgb(196 205 213 / 25%);
        padding: 10px 0;
        position: fixed;
        top: 42px;
        left: 0;
        z-index: 99999999;
    }

    .nav-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav-menu > ul {
        display: flex;
    }

    .nav-menu > ul > li {
        position: relative;
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .nav-menu a {
        display: block;
        position: relative;
        color: #5f687b;
        transition: 0.3s;
        font-size: 14px;
    }
    .nav-menu .active > a{
        font-weight: 600;
    }
    .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
        color: #000;
    }

    .nav-menu .drop-down ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        padding: 10px 0;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
    }

    .nav-menu .drop-down:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .nav-menu .drop-down li {
        min-width: 180px;
        position: relative;
    }

    .nav-menu .drop-down ul a {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
        text-transform: none;
        color: #5f687b;
    }

    .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
        color: #FE912A;
    }

    .nav-menu .drop-down .drop-down ul {
        top: 0;
        left: calc(100% - 30px);
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
    }

    .nav-menu .drop-down .drop-down > a {
        padding-right: 35px;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\eaa0";
        font-family: IcoFont;
        position: absolute;
        right: 15px;
    }
    @media screen and (max-width: 500px) {
        .form-search {
            width: 70%;
        }

        .cart-dropdown,
        .notification-dropdown {
            margin-top: 2px;

            img {
                height: 18px;
            }
        }

        .profile-dropdown {
            margin-top: 0px;
        }

        .action-header {
            margin-right: -7.5px;
        }
    }
</style>