<template>
  <div class="page-sidebar">
    <div class="p-4 mt-1">
        <center>
            <img :src="logo" class="m-none mt-3 mb-3" width="230" alt="">
            <img :src="mobileLogo" class="m-block w-100" alt="">
        </center>
    </div>
    <ul class="sidebar-menu" id="system-menu">
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-dashboard'}" class="has-child sidebar-menu-link">
                <img :src="dashboard" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Dashboard
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-childa line m-none">
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-slider'}" class="has-child sidebar-menu-link">
                <img :src="slider" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Slider Header
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-about'}" class="has-child sidebar-menu-link">
                <img :src="aboutUs" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Tentang Kami
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-product-category'}" class="has-child sidebar-menu-link">
                <img :src="productCategory" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Kategori Produk
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-marketing-list'}" class="has-child sidebar-menu-link">
                <img :src="marketingList" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    List Marketing
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-testimoni'}" class="has-child sidebar-menu-link">
                <img :src="testimoni" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Testimoni
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-childa line m-none">
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-orders'}" class="has-child sidebar-menu-link">
                <img :src="order" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Order
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-product-list'}" class="has-child sidebar-menu-link">
                <img :src="manageProduct" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Manage Produk
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-cash-book'}" class="has-child sidebar-menu-link">
                <img :src="cashBook" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Buku Kas
                </span>
            </router-link>
        </li>
        <li class="sidebar-menu-list has-childa line m-none">
        </li>
        <li class="sidebar-menu-list has-child">
            <router-link :to="{name: 'admin-article'}" class="has-child sidebar-menu-link">
                <img :src="article" width="16" class="mr-sidebar m-mr-sidebar" alt="">
                <span class="m-none">
                    Artikel
                </span>
            </router-link>
        </li>
    </ul>
  </div>
</template>

<script>
	import logo from '../assets/logo.png';
	import mobileLogo from '../assets/m-logo.png';
	import dashboard from '../assets/dashboard-interface.png';
	import slider from '../assets/slider-tool.png';
	import aboutUs from '../assets/about-us.png';
	import productCategory from '../assets/structure.png';
	import marketingList from '../assets/mail-list.png';
	import testimoni from '../assets/testimonial.png';
	import order from '../assets/order-food.png';
	import manageProduct from '../assets/product.png';
	import cashBook from '../assets/wallet.png';
	import article from '../assets/newsletter.png';

	export default {
		setup() {
			return{
        logo:logo,
        mobileLogo:mobileLogo,
				dashboard: dashboard,
				slider: slider,
        aboutUs: aboutUs,
        productCategory: productCategory,
        marketingList: marketingList,
        testimoni:testimoni,
        order:order,
        manageProduct,
        cashBook: cashBook,
        article: article,
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>
