<template>
  <div>
    <div class="px-3 line d-block d-lg-none"></div>
    <div class="row">
        <div class="col-md-10">
            <h5 class="fw-medium mb-0 m-mt-1">
                List Kategori Produk
            </h5>
            <p class="mt-2 text-gray500">
                List kategori yang sudah di upload yang aktif maupun tidak aktif
            </p>
        </div>
        <div class="col-md-2 mt-3 m-mt-0">
            <router-link :to="{name: 'admin-product-category-create'}" class="btn btn-orange btn-block">
                Tambah
            </router-link>
        </div>
    </div>
    <div class="mt-4">
        <template v-if="categories.length > 0">
            <div class="p-box m-none">
                <div class="row">
                    <div class="col-md-3">
                        <div class="fw-500 text-gray400">
                            Gambar
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="fw-500 text-gray400">
                            Nama
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="fw-500 text-gray400">
                            Status
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="fw-500 text-gray400">
                            Aksi
                        </div>
                    </div>
                </div>
            </div>
            <div v-for="category in categories" :key="category.id">
                <div class="box">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="image-list" :style="{'background-image': 'url(' + (category.image) + ')'}"></div>
                        </div>
                        <div class="col-md-6 m-mt-2">
                            <p class="fw-medium mb-0">
                                {{ category.name }}
                            </p>
                        </div>
                        <div class="col-md-2 m-mt-2">
                            <span :class="category.status == 1 ? 'text-green' : 'text-orange'">
                                <template v-if="category.status == 1">
                                    Aktif
                                </template>
                                <template v-else>
                                    Tidak Aktif
                                </template>
                            </span>
                        </div>
                        <div class="col-md-1 m-mt-1">
                            <a href="javascript:void(0)" class="text-red size-18" @click="deleteCategory(category.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="line mb-0 mt-0"></div>
            </div>
        </template>
        <template v-else>
            <div class="text-center mt-5">
                <img :src="noData" width="80" alt="">
                <h5 class="mb-0 fw-medium mt-2 text-gray500">
                    Data kosong
                </h5>
            </div>
        </template>
    </div>
  </div>
</template>

<script>
	import noData from '../../../assets/no-data.png';
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function sliderList() {
                router.go({
                    name: 'admin-slider',
                })
            }
            
            return {
                sliderList,
                noData,
            }
        },
        data() {
            return{
                categories: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getCategories()
        },
        methods: {
            getCategories() {
                Api.get('category-product', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.categories = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            deleteCategory(id) {
                Api.delete(`category-product/${id}`, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data
                    console.log(response)

                    Swal.fire({
                        text: 'Data berhasil dihapus!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Ok',
                    })

                    if(response.success == true) {
                        this.getCategories()
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
            }
        }
	}
</script>

<style lang="scss" scoped>
</style>