<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <h5 class="fw-medium mb-0">
            Input Produk Baru
        </h5>
        <p class="mt-2 text-gray500">
            Kelola produk anda
        </p>
        <div class="box mt-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="">Nama Produk</label>
                    <input type="text" class="form-control" placeholder="Ketik nama produk anda" v-model="req.name">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['name']">
                            Nama wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 m-mt-1">
                    <label for="">Kategori</label>
                    <select class="form-control capitalize" v-model="req.category_id">
                        <option value="">Pilih kategori</option>
                        <template v-for="category in categories" :key="category.id">
                            <option :value="category.id">{{ category.name }}</option>
                        </template>
                    </select>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['category_id']">
                            Kategori wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Gambar</label>
                    <div class="row" :if="images.length">
                        <div class="col-md-3 mb-3" v-for="(f, index) in images" :key="index">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <input type="file" class="images[] form-control file" @change="previewImage(index, $event)">
                                </div>
                                <div>
                                    <a href="javascript:void(0)" class="text-danger size-18" @click.prevent="removeImage(index, $event)">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                            </div>
                            <div :class="'images[' + index + ']-preview'"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-outline-orange btn-sm add-image btn-block" @click.prevent="addNewImage">
                                <i class="fa fa-plus mr-1"></i>
                                Tambah Gambar Produk
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Stok</label>
                    <input type="number" min="0" class="form-control" placeholder="Ketik stok" v-model="req.stock">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['stock']">
                            Stok wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="">Hrga Jual</label>
                    <input type="number" min="0" class="form-control" placeholder="Ketik harga jual" v-model="req.price">
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['price']">
                            Hrga Jual wajib diisi
                        </small>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Deskripsi</label>
                    <textarea name="" cols="30" rows="6" class="form-control textarea" placeholder="Ketik deskripsi produk" v-model="req.desc"></textarea>
                    <div>
                        <small class="text-danger size-12" v-if="validation_errors['desc']">
                            Deskripsi wajib diisi
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <router-link :to="{name: 'admin-product-list'}" class="btn btn-outline-orange btn-block">
                    Kembali
                </router-link>
            </div>
            <div class="col-md-2 m-mt-1">
                <button class="btn btn-orange btn-block" @click="saveProduct()">
                    Simpan
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery'
    import Api from '../../../api/Api';
    import Swal from 'sweetalert2'
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function productList() {
                router.push({
                    name: 'admin-product-list',
                })
            }
            
            return {
                productList,
            }
        },
        data() {
            return{
                req: {
                    name: '',
                    category_id: '',
                    stock: '',
                    price: '',
                    status: 1,
                    desc: '',
                },
                validation_errors: [],
                categories: [],
                images: [],
                maxImages: 3,
                addImage: 'button.add-image',
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getCategories()
        },
        methods: {
            saveProduct() {
                var data = new FormData()

                data.append('name', this.req.name)
                data.append('category_id', this.req.category_id)
                data.append('status', this.req.status)
                data.append('stock', this.req.stock)
                data.append('price', this.req.price)
                data.append('desc', this.req.desc)

                $('[class~="images[]"]', this.el).each(function(i) {
                    if (i > this.maxImages - 1) {
                    return;
                    }
                    data.append('images[' + i + ']', this.files[0]);
                });

                Api.post('product/store', data, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil disimpan!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Tutup',
                    })

                    if(response.success == true) {
                        return this.productList()
                    }
                })
                .catch((err) => {
                    this.validation_errors = err.response.data.data
                })
            },
            getCategories() {
                Api.get('category-product', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.categories = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            addNewImage: function() {
                var n = this.maxImages || -1;
                if (n && this.images.length < n) {
                    this.images.push('');
                }
                this.checkImages();
            },

            removeImage: function(index) {
                this.images.splice(index, 1);
                this.checkImages();
            },

            checkImages: function() {
                var n = this.maxImages || -1;
                if (n && this.images.length >= n) {
                    $(this.addImage, this.el).prop('disabled', true);
                } else {
                    $(this.addImage, this.el).prop('disabled', false);
                }
            },

            previewImage: function(index, e) {
                var r = new FileReader(),
                f = e.target.files[0];

                r.addEventListener('load', function() {
                    $('[class~="images[' + index + ']-preview"]', this.el).html(
                    '<div class="image-preview" style="background-image: url('+ r.result +')"></div>'
                    );
                }, false);

                if (f) {
                    r.readAsDataURL(f);
                }
            },
        }
	}
</script>

<style lang="scss" scoped>
</style>