<template>
    <div>
        <div class="px-3 line d-block d-lg-none"></div>
        <h5 class="fw-medium mb-0">
            Detail Produk
        </h5>
        <p class="mt-2 text-gray500">
            Detail produk yang anda mikiki
        </p>
        <div class="box mt-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <template v-for='(image, index) in details.images' :key="image.id">
                        <li :data-target="'#carouselExampleIndicators' + index" :data-slide-to="index" :class="index == 0 ? 'active' : ''"></li>
                    </template>
                </ol>
                <div class="carousel-inner">
                    <template v-for='(image, index) in details.images' :key="image.id">
                        <div class="carousel-item" :class="index == 0 ? 'active' : ''">
                            <div class="image-product-detail" :style="{'background-image': 'url(' + image.image + ')'}"></div>
                        </div>
                    </template>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <div class="circle-slide">
                        <i class="fa fa-angle-left size-20"></i>
                    </div>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <div class="circle-slide">
                        <i class="fa fa-angle-right size-20"></i>
                    </div>
                </a>
            </div>
            <div class="mt-4">
                <span class="box-salary-product-detail" style="position: relative">
                    Rp.{{ formatPrice(details.price) }}
                </span>
            </div>
            <h5 class="mb-0 fw-medium mt-3">
                {{ details.name }}
            </h5>
            <p class="mt-3">
                {{ details.desc }}
            </p>
            <div class="mt-3 text-orange">
                Stok: <b>{{ details.stock }}</b>
            </div>
        </div>
    </div>
</template>

<script>
    import Api from '../../../api/Api';

	export default {
        props: ['id'],

		setup() {
            return {
            }
        },
        data() {
            return{
                details: {},
                req: {
                    id: '',
                }
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getProductDetail()
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            getProductDetail() {
                Api.get(`product/${this.id}`, {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.details = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
        }
	}
</script>

<style lang="scss">
    .modern-table-boxed .d-table-row{
        box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 2%);
    }
</style>