<template>
  <div>
    <div class="px-3 line d-block d-lg-none"></div>
    <div class="row">
        <div class="col-md-10">
            <h5 class="fw-medium mb-0">
                Manage Produk
            </h5>
            <p class="mt-2 text-gray500">
                Kelola produk anda
            </p>
        </div>
        <div class="col-md-2 mt-3 m-mt-0">
            <router-link :to="{name: 'admin-product-create'}" class="btn btn-orange btn-block">
                Tambah Produk
            </router-link>
        </div>
    </div>
    <template v-if="products.length > 0">
        <div class="row mt-4">
            <div class="col-md-4 mt-3" v-for="(product, index) in products" :key="product.id">
                <div class="box product p-0">
                    <div class="box-salary">
                        Rp.{{ formatPrice(product.price) }}
                    </div>
                    <div :id="'carouselExampleIndicators' + index" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <template v-for='(image, index) in product.images' :key="image.id">
                                <li :data-target="'#carouselExampleIndicators' + index" :data-slide-to="index" :class="index == 0 ? 'active' : ''"></li>
                            </template>
                        </ol>
                        <div class="carousel-inner">
                            <template v-for='(image, index) in product.images' :key="image.id">
                                <div class="carousel-item" :class="index == 0 ? 'active' : ''">
                                    <div class="product-image" :style="{'background-image': 'url(' + image.image + ')'}"></div>
                                </div>
                            </template>
                        </div>
                        <a class="carousel-control-prev" :href="'#carouselExampleIndicators' + index" role="button" data-slide="prev">
                            <div class="circle-slide">
                                <i class="fa fa-angle-left size-20"></i>
                            </div>
                        </a>
                        <a class="carousel-control-next" :href="'#carouselExampleIndicators' + index" role="button" data-slide="next">
                            <div class="circle-slide">
                                <i class="fa fa-angle-right size-20"></i>
                            </div>
                        </a>
                    </div>
                    <div class="p-4">
                        <h6 class="fw-bold">
                            {{ product.name }}
                        </h6>
                        <p class="mb-0 size-13 text-gray500 max-character">
                            {{ product.desc }}
                        </p>
                        <div class="mt-3 text-orange">
                            Stok: <b>{{ product.stock }}</b>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 mt-2">
                                <a href="javascript:void(0)" class="btn btn-orange btn-block text-align-center btn-sm" @click="productDetail(product)">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <div class="col-md-6 mt-2">
                                <a href="javascrit:void(0)" class="btn btn-outline-orange btn-block text-align-center btn-sm" @click="deleteProduct(product.id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template v-else>
        <div class="text-center mt-5">
            <img :src="noData" width="80" alt="">
            <h5 class="mb-0 fw-medium mt-2 text-gray500">
                Data kosong
            </h5>
        </div>
    </template>
  </div>
</template>

<script>
	import noData from '../../../assets/no-data.png';
    import Swal from 'sweetalert2'
    import Api from '../../../api/Api';
    import { useRouter } from 'vue-router'

	export default {
		setup() {
            const router = useRouter()

            function productDetail(product) {
                router.push({
                    name: 'admin-product-detail',
                    params: {
                        id: product.id,
                        product: JSON.stringify(product)
                    }
                })
            }

            function productList() {
                router.push({
                    name: 'admin-product',
                })
            }
            
            return {
                productList,
                noData,
                productDetail,
            }
        },
        data() {
            return{
                products: []
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
        },
        created() {
            this.getProducts()
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            getProducts() {
                Api.get('product', {
                    headers:{
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.products = data
                })
                .catch((err) => {
                    console.log(err)
                })                
            },
            deleteProduct(id) {
                Api.delete(`product/${id}`, {
                    headers: {
                        'token': `${this.token}`,
                    }
                })
                .then((res) => {
                    var response = res.data

                    Swal.fire({
                        text: 'Data berhasil dihapus!',
                        icon: 'success',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Ok',
                    })

                    if(response.success == true) {
                        this.getProducts()
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
            }
        }
	}
</script>

<style lang="scss" scoped>
</style>