<template>
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="card px-5 pb-5 pt-1 mt-3 rounded shadow">
                    <h3 class="text-decoration-none fw-bold lh-lg text-center">
                        Change Password
                    </h3>
                    <div class="row mx-3 my-2">
                        <div class="col-12">
                            <form action="#">
                                <div class="mb-3">
                                    <label for="old_password" class="form-label fs-10">Old Password</label>
                                    <input type="password" class="form-control" id="old_password" aria-describedby="old_password">
                                </div>
                                <div class="mb-3">
                                    <label for="new_password" class="form-label fs-10">New Password</label>
                                    <input type="password" class="form-control" id="new_password" aria-describedby="new_password">
                                </div>
                                <div class="mb-3">
                                    <label for="repeat_new_password" class="form-label fs-10">Repeat New Password</label>
                                    <input type="password" class="form-control" id="repeat_new_password" aria-describedby="repeat_new_password">
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary float-right fw-bold">SAVE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            editCheckoutButton: false,
            editConfirmButton: false,
            editPaymentButton: false,
        }
    },
    methods: {
        toggleButton(x) {
            if (x == 'checkout') {
                this.editCheckoutButton = this.editCheckoutButton == false ? true : false
            } else if(x == 'konfirmasi') {
                this.editConfirmButton = this.editConfirmButton == false ? true : false
            } else if(x == 'payment') {
                this.editPaymentButton = this.editPaymentButton == false ? true : false
            } else {
                console.log(x);
            }
        }
    }
}
</script>

<style scoped>
.fs-10 {
    font-size: 0.8rem !important;
    font-weight: 400 !important;
}

.p-list {
    padding: 5px 10px 5px 15px !important;
}
</style>