<template>
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="card p-5 pt-1 mt-3 rounded shadow">
                    <div class="row">
                        <div class="col-md-5 d-flex">
                        <div class="justify-content-center text-center align-self-start w-100 pt-0 pt-md-4 pb-4 px-0 px-md-5">
                            <div class="d-flex d-md-block align-items-center">
                            <div class="image-text d-flex justify-content-center align-items-center">
                                <h1>H</h1>
                            </div>
                            <div>
                                <button class="btn btn-light btn-lg mt-0 mt-md-4"> Ubah Foto Profil</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-7 d-flex">
                        <div class="justify-content-start align-self-center w-100">
                            <div class="form-group mb-3">
                                <label class="control-label">Nama Depan</label>
                                <input type="text" class="form-control" id="firstname" placeholder="Nama depan anda"/>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label">Nama Belakang</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Nama belakang anda"/>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label">Alamat</label>
                                <textarea name="address" id="address" class="form-control" cols="30" rows="2" placeholder="Alamat anda"></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label">Nomor Handphone</label>
                                <input type="text" class="form-control" id="phone" placeholder="No handphone anda"/>
                            </div>
                            <div class="form-group text-end mb-5">
                                <button class="btn btn-blue">Simpan</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    methods: {
    }
}
</script>

<style scoped>
.image-text{
  background: #FDE512;
  border: 2px solid #3686E3;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20% 0;
}
.image-text h1{
  font-weight: bold;
  font-size: 129px;
  line-height: 176px;
  color: #1F5EA9;
}
@media screen and (max-width: 768px){
  .image-text{
    height: 100px;
    width: 100px;
    padding: 0;
    margin-right: 1.5rem;
  }
  .image-text h1{
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 0 !important;
  }
}
</style>