<template>
    <div class="container d-flex align-items-center" style="height: 550px;">
        <div class="row w-100 justify-content-center">
            <div class="col-md-6">
                <div class="bg-primary rounded">
                    <div class="img-logo text-center">
                        <router-link :to="{name: 'home'}">
                            <img :src="Logo" class="img-fluid align-middle w-50"/>
                        </router-link>
                    </div>
                </div>
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <h4>RESET PASSWORD</h4>
                        <hr>
                        <form @submit.prevent="login">
                            <div class="form-group">
                                <label class="mb-1">Email</label>
                                <input type="email" v-model="user.email" class="form-control"
                                    placeholder="Email Address">
                            </div>
                            <div v-if="validation.email" class="mt-2 alert alert-danger">
                                {{ validation.email[0] }}
                            </div>
                            <div class="mt-1" style="float: right;">
                                <button type="submit" class="px-4 py-1 btn btn-primary btn-block">RESET</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, reactive } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import Logo from '../../assets/global/logo.svg'

    export default {

        setup() {

            //user state
            const user = reactive({
                email: '',
            })

            //validation state
            const validation = ref([])

            //store vuex
            const store = useStore()

            //route
            const router = useRouter()

            //method login
            function reset() {

                //define variable 
                let email    = user.email      
               
               //panggil actions login dari module auth
                store.dispatch('auth/login', {
                    email
                })
                .then(() => {
                    //redirect ke dashboard
                    router.push({name: 'dashboard'})
                }).catch(error => {
                    //assign validaation message
                    validation.value = error
                })
            }

            //return object
            return {
                Logo: Logo,
                user,
                validation,
                reset
            }

        }

    }
</script>