<template>
    <div class="container d-flex align-items-center" style="height: 550px;">
        <div class="row w-100 justify-content-center">
            <div class="col-md-6">
                <div class="justify-content-center">
                    <div v-if="validation.length > 0" class="mt-2 alert alert-danger">
                        {{ validation }}
                    </div>
                    <div class="card border-0 shadow rounded">
                        <div class="card-body">
                            <h4 class="mx-2">ADMIN ONLY</h4>
                            <div class="separator"></div>
                            <form @submit.prevent="login">
                                <div class="mb-3">
                                    <div class="form-group mb-0">
                                        <label class="control-label">Email Address</label>
                                        <input type="email" v-model="user.email" class="form-control"
                                            placeholder="Email Address">
                                    </div>
                                    <template v-if="validation.error">
                                        <small v-if="validation.error.email" class="text-danger">
                                            {{ validation.error.email[0] }}
                                        </small>
                                    </template>
                                </div>
                                <div>
                                    <div class="form-group mb-0">
                                        <label class="control-label">Password</label>
                                        <input type="password" v-model="user.password" class="form-control"
                                            placeholder="Password">
                                    </div>
                                    <template v-if="validation.error">
                                        <small v-if="validation.error.password" class="text-danger">
                                            {{ validation.error.password[0] }}
                                        </small>
                                    </template>
                                </div>
                                <div class="d-flex mt-3">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Ingatkan Saya</label>
                                    </div>
                                    <div class="ml-auto">
                                        <router-link :to="{name: 'forgot'}">
                                            <p class="text-primary font-weight-bold">
                                                Lupa password?
                                            </p>
                                        </router-link>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-blue btn-lg btn-block mt-3">Masuk</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 bg-primary rounded">
                <div class="img-logo w-100 d-flex align-items-center h-100 justify-content-center">
                    <router-link :to="{name: 'home'}">
                        <img :src="Logo" class="img-fluid align-middle"/>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ref,reactive} from 'vue'
    import {useStore} from 'vuex'
    import {useRouter} from 'vue-router'
    import Logo from '../../assets/global/logo.svg'

    export default {
        props: ['successRegister'],
        setup() {

            //user state
            const user = reactive({
                email: '',
                password: ''
            })

            //validation state
            const validation = ref([])

            //store vuex
            const store = useStore()

            //route
            const router = useRouter()

            //method login
            function login() {

                //define variable 
                let email = user.email
                let password = user.password
                let login_as = 'admin'

                //panggil actions login dari module auth
                store.dispatch('auth/login', {
                        email,
                        password,
                        login_as
                    })
                    .then(() => {
                        //redirect ke dashboard
                        router.push({
                            name: 'admin-dashboard'
                        })
                    }).catch(error => {
                        //assign validaation message
                        validation.value = error.data.error;
                    })
            }

            //return object
            return {
                user,
                validation,
                login,
                Logo,
            }

        },
        created() {},

    }
</script>

<style scoped>
    .fs-7 {
        font-size: 0.8rem;
    }
</style>