<template>
  <div class="page-all bg-light">
    <div class="container pb-5">
      <div class="card mt-5">
        <div class="card-body">
          <h1>About Us</h1>
          <div class="row mt-4">
            <div class="col-md-4">
              <img :src="Image" class="about-iamge">
            </div>
            <div class="col-md-8 px-3 px-md-5 mt-4 mt-md-0">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fermentum iaculis eu non diam. Volutpat est velit egestas dui. Ante metus dictum at tempor commodo ullamcorper a. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Mauris ultrices eros in cursus. At ultrices mi tempus imperdiet nulla malesuada. Ipsum dolor sit amet consectetur adipiscing elit. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Nisl vel pretium lectus quam. Sed augue lacus viverra vitae congue eu.

                Lorem mollis aliquam ut porttitor leo a. Pellentesque habitant morbi tristique senectus. Feugiat in ante metus dictum at tempor commodo ullamcorper. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Elementum eu facilisis sed odio morbi quis commodo odio. Tortor posuere ac ut consequat semper viverra nam libero justo. Purus in massa tempor nec. Nunc sed augue lacus viverra. Condimentum lacinia quis vel eros. Nec ullamcorper sit amet risus nullam eget felis eget nunc.

                Nec sagittis aliquam malesuada bibendum. Sit amet massa vitae tortor condimentum lacinia quis vel. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Tempor commodo ullamcorper a lacus. Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Eu sem integer vitae justo eget magna fermentum. In dictum non consectetur a erat. Vulputate ut pharetra sit amet aliquam id. Mauris a diam maecenas sed enim. Laoreet suspendisse interdum consectetur libero id faucibus. Nisl nisi scelerisque eu ultrices vitae auctor eu. Varius sit amet mattis vulputate. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Image from '../../assets/img/bg.jpg';

export default {
  setup() {
    return{
      Image
    }
  },
}
</script>

<style scoped>
  .about-iamge{
    width: 100%;
    border-radius: 1rem;
  }
</style>