<template>
  <div class="page-all" style="background: url(require('@/assets/background/bg-order-success.svg'));">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 p-3">
          <div class="card shadow-sm">
            <div class="card-header bg-soft-green py-4 border-0">
              <div class="d-flex justify-content-center align-items-center">
                <img :src="Success" class="img-fluid"/>
                <h5 class="mb-0 mx-3">Pesanan Kamu Berhasil</h5>
              </div>
            </div>
            <div class="card-body text-center">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="font-weight-regular py-2">
                    Silahkan melakuakan pembayaran Dalam
                  </h6>
                  <h2 class="text-blue text-countdown mb-4" v-text="currentTime">
                    
                  </h2>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 border detail-order text-center py-3">
                  <h6 class="text-center mb-3">Detail Transaksi</h6>
                  <div class="d-flex justify-content-between">
                    <p class="font-weight-regular mb-1">
                      Pembayaran
                    </p>
                    <p class="font-weight-regular mb-1">
                      Transfer Bank BCA
                    </p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="font-weight-regular mb-1">
                      Pengiriman
                    </p>
                    <p class="font-weight-regular mb-1">
                      JNE Reguler
                    </p>
                  </div>
                  <hr class="my-4"/>
                  <div class="d-flex justify-content-between">
                    <h6 class="font-weight-regular mb-1">
                      Pengiriman
                    </h6>
                    <h6 class="font-weight-regular mb-1">
                      JNE Reguler
                    </h6>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-12 py-4">
                  <router-link :to="{name: 'pay'}" class="btn btn-blue">
                    Lihat Status Pembayaran
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
import * as moment from "moment/moment";

import Success from '../../assets/icons/success.svg';
import BgOrderSuccess from '../../assets/background/bg-order-success.svg';

export default {
  setup() {
    return{
      Success,
      BgOrderSuccess,
      curentTime: null,
    }
  },
  methods: {
    updateCurrentTime() {
      this.currentTime = moment().format("LTS");
    }
  },
  created() {
    this.currentTime = moment().format("LTS");
    setInterval(() => this.updateCurrentTime(), 1000);
  }
}
</script>

<style scoped>
.text-countdown{
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
}
.detail-order{
  border-radius: 10px;
}
</style>
