<template>
  <div class="page-all bg-light">
    <div class="container pb-5">
      <div class="card mt-5">
        <div class="card-body pb-5">
          <div class="row">
            <div class="col-md-7">
              <h2>
                FAQ
              </h2>
              <div class="mt-4">
                <a class="collapse-faq" data-bs-toggle="collapse" href="#faq-1" role="button" aria-expanded="false" aria-controls="faq-1">
                  Bagaimana cara melakukan pembayaran?
                </a>
                <div class="collapse mt-4" id="faq-1">
                  <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                  </div>
                </div>
                <a class="collapse-faq" data-bs-toggle="collapse" href="#faq-2" role="button" aria-expanded="false" aria-controls="faq-2">
                  Bisa melakukan pembayaran Gopay?
                </a>
                <div class="collapse mt-4" id="faq-2">
                  <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 offset-md-1">
              <img :src="Illustration">
              <h5 class="mt-4">
                Butuh bantuan lain?
              </h5>
              <router-link :to="{name: 'contact'}" class="btn btn-outline-blue px-4 mt-3">
                Kontak Kami
              </router-link>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Illustration from '../../assets/global/contact-illustration.svg';

  export default {
      setup() {
        return{
          Illustration,
        }
      }
  }
</script>

<style scoped>
  .collapse-faq{
    padding: 1rem;
    border: solid 2px #DFE3E8;
    width: 100%;
    border-radius: .5rem;
    display: block;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
  }
</style>