<template>
    <div class="page-all bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <SideNavigation />
                </div>
                <div class="col-md-9">
                    <div class="card shadow-sm">
                        <div class="card-header bg-white p-4 border-0 d-flex align-items-center">
                            <img :src="Logo" class="account-header-logo" />
                            <h5 class="px-3 mb-0">Edit Profil</h5>
                        </div>
                        <div class="card-body px-4 profile-card">
                            <div class="row">
                                <div class="col-md-6 d-flex">
                                    <div class="justify-content-center text-center align-self-start w-100 pt-0 pt-md-4 pb-4 px-0 px-md-5">
                                        <div class="d-flex d-md-block align-items-center">
                                            <div class="image-text d-inline-flex justify-content-center align-items-center" :style="{'background-image': 'url(' + (profile.avatar) + ')'}">
                                                <h1 v-if="!profile.avatar">
                                                    {{ profile.name.substring(0, 1) }}
                                                </h1>
                                            </div>
                                            <div>
                                                <label for="avatar" class="btn btn-light btn-lg mt-0 mt-md-4"> 
                                                    Ubah Foto Profil
                                                    <input type="file" id="avatar" @change="changeAvatar()">
                                                </label>
                                            </div>
                                            <div class="mt-2" v-if="is_changing_avatar">
                                                <button class="btn btn-outline-blue" @click="resetAvatar()">
                                                    Batal
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <div class="justify-content-start align-self-center w-100">
                                        <div class="form-group mb-3">
                                            <label class="control-label">Nama</label>
                                            <input type="text" class="form-control" id="name" placeholder="Nama anda" v-model="profile.name" />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Email</label>
                                            <input type="text" class="form-control" id="email" placeholder="contoh: hendry@mail.com" disabled v-model="profile.email" />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Nomor Handphone</label>
                                            <input type="text" class="form-control" id="phone" placeholder="No handphone anda"  v-model="profile.phone_number" />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Jenis Kelamin</label>
                                            <select class="form-control" id="gender"  v-model="profile.jenkel">
                                                <option value="L">Laki-laki</option>
                                                <option value="P">Perempuan</option>
                                            </select>
                                        </div>
                                        <div class="form-group text-end mb-5">
                                            <button class="btn btn-blue" @click="updateProfile()">Simpan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SideNavigation from '../../components/SideNavigation.vue';
    import Logo from '../../assets/icons/edit-profile-active.svg';
    import $ from 'jquery'
    import Api from '../../api/Api';

    export default {
        components: {
            SideNavigation
        },
        setup() {
            return {
                Logo,
            }
        },
        data() {
            return {
                profile: {
                    avatar: '',
                    email: '',
                    jenkel: '',
                    id: '',
                    name: '',
                    phone_number: ''
                },
                is_changing_avatar: false,
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
            user() {
                return this.$store.getters['auth/currentUser']
            }
        },
        created() {
            this.getProfile()
        },
        methods: {
            getProfile() {
                Api.get('/customer/profile', {
                    headers:{
                        'X-DOMAIN-MEMBER': this.user.domain,
                        'Authorization': `Bearer ${this.token}`
                    }
                })
                .then((res) => {
                    var data = res.data.data
                    this.profile = data.user
                })
                .catch((err) => {
                    console.log(err)
                })
            },
            updateProfile() {
				var file = $('#avatar')[0].files[0]
				var data = new FormData()
                
                if(this.is_changing_avatar) {
                    data.append('avatar',file)
                }

                data.append('jenkel', this.profile.jenkel)
                data.append('name', this.profile.name)
                data.append('phone_number', this.profile.phone_number)
                data.append('_method', 'PATCH')

                Api.post('customer/profile', data, {
                    headers: {
                        'X-DOMAIN-MEMBER': this.user.domain,
                        'Authorization': `Bearer ${this.token}`,
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then((res) => {
                    var data = res.data.data

                    this.profile = data.user
                    this.is_changing_avatar = false

                    this.$store.dispatch('auth/getUserProfile')
                })
                .catch((err) => {
                    console.log(err)
                })

            },
            changeAvatar() {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-text').css('background-image', 'url('+ e.target.result + ')')
                };

                reader.readAsDataURL($('#avatar')[0].files[0]);

                this.is_changing_avatar = true
            },
            resetAvatar() {
                var avatar = this.profile.avatar

                $('.image-text').css('background-image', 'url(' + avatar + ')')

                this.is_changing_avatar = false
            }
        }
    }
</script>

<style scoped>

    .image-text {
        background: #FDE512;
        border: 2px solid #3686E3;
        box-sizing: border-box;
        border-radius: 30px;
        height: 150px;
        width: 150px;
        background-size: cover;
        background-position: center;
    }

    .image-text h1 {
        font-weight: bold;
        font-size: 129px;
        line-height: 176px;
        color: #1F5EA9;
    }

    label input{
        opacity: 0;
        position: absolute;
    }

    @media screen and (max-width: 768px) {
        .image-text {
            height: 100px;
            width: 100px;
            padding: 0;
            margin-right: 1.5rem;
        }

        .image-text h1 {
            font-size: 40px;
            line-height: 60px;
            margin-bottom: 0 !important;
        }
    }
</style>