<template>
    <div class="page-all bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <SideNavigation />
                </div>
                <div class="col-md-9">
                    <div class="card shadow-sm">
                        <div
                            class="card-header bg-white p-4 border-0 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img :src="Logo" class="account-header-logo" />
                                <h5 class="px-3 mb-0">
                                    <router-link :to="{name: 'settings-address'}" class="breadcumb-profile">
                                        Pengaturan Alamat
                                    </router-link> 
                                    / Edit Alamat
                                </h5>
                            </div>
                        </div>
                        <div class="card-body px-3 profile-card">
                            <div v-if="validation.message" class="mt-2 alert alert-danger">
                                {{ validation.message }}
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 pb-4">
                                        <div class="form-group">
                                            <label class="control-label">Label Alamat</label>
                                            <input type="text" class="form-control" id="address-label" placeholder="Masukkan label alamat" v-model="request.label" />
                                            <span class="mb-0 bottom-form">
                                                Contoh: alamat rumah, alamat orang tua, dsb
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-8 pb-4">
                                        <div class="form-group">
                                            <label class="control-label">Nama Penerima</label>
                                            <input type="text" class="form-control" id="name" placeholder="Nama Penerima" v-model="request.penerima" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 pb-4">
                                        <div class="form-group">
                                            <label class="control-label">No Handphone Penerima</label>
                                            <input type="text" class="form-control" id="phone" placeholder="No Handphone Penerima" @keypress="isNumber()" v-model="request.phone_number" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 pb-4">
                                        <div class="form-group">
                                            <label class="control-label">Provinsi</label>
                                            <select class="form-control" id="province" v-model="request.province_id" @change="getCities()">
                                                <option value="">Pilih Provinsi</option>
                                                <option v-for="data in provinces" :key="data.province_id" :value="data.province_id">
                                                    {{ data.province }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pb-4">
                                        <div class="form-group">
                                            <label class="control-label">Kota</label>
                                            <select class="form-control" id="city" v-model="request.city_id" @change="getSubDistricts()">
                                                <option value="">Pilih Kota</option>
                                                <option v-for="data in cities" :key="data.city_id" :value="data.city_id">
                                                    {{ data.type }} {{ data.city }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pb-4">
                                        <div class="form-group">
                                            <label class="control-label">Kecamatan</label>
                                            <select class="form-control" id="districts" v-model="request.subdistrict_id">
                                                <option value="">Pilih Kecamatan</option>
                                                <option v-for="data in sub_districs" :key="data.subdistrict_id" :value="data.subdistrict_id">
                                                    {{ data.subdistrict }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3 pb-4">
                                    <div class="form-group">
                                        <label class="control-label">Kode Pos</label>
                                        <input type="text" class="form-control" id="zip-code" placeholder="Kode Pos" maxlength="5" @keypress="isNumber($event)"/>
                                    </div>
                                    </div> -->
                                    <div class="col-md-12 pb-4">
                                        <div class="form-group">
                                            <label class="control-label">Detail Alamat</label>
                                            <textarea type="text" class="form-control" id="address-detail" rows="5" placeholder="Detail Alamat" v-model="request.detail"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pb-5 text-end">
                                        <button class="btn btn-blue" @click="updateAddress()">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SideNavigation from '../../components/SideNavigation.vue';
    import Api from '../../api/Api';
    import { useRouter } from 'vue-router'

    import Logo from '../../assets/icons/address-settings-active.svg';
    import ArrowLeft from '../../assets/icons/arrow-left.svg';
    import ArrowRight from '../../assets/icons/arrow-right.svg';
    import Edit from '../../assets/icons/edit.svg';
    import Delete from '../../assets/icons/delete.svg';

    export default {
        components: {
            SideNavigation,
        },
        props: ['id', 'address'],
        setup() {
            const router = useRouter()

            function addressList() {
                router.push({
                    name: 'settings-address',
                })
            }

            return {
                Logo,
                ArrowLeft: ArrowLeft,
                ArrowRight: ArrowRight,
                Edit: Edit,
                Delete: Delete,
                addressList
            }
        },
        data() {
            return {
                provinces: [],
                cities: [],
                sub_districs: [],
                request: {
                    label: '',
                    penerima: '',
                    phone_number: '',
                    province_id: '',
                    city_id: '',
                    subdistrict_id: '',
                    detail: '',
                    id: '',
                },
                validation: {
                    message: ''
                },
                init: true,
            }
        },
        created() {
            if(!this.address) {
                return this.addressList()
            }
            
            this.request = JSON.parse(this.address)

            this.getProvinces()
            this.getCities()
            this.getSubDistricts()
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
            user() {
                return this.$store.getters['auth/currentUser']
            }
        },
        methods: {
            isNumber: function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault()
                } else {
                    return true;
                }
            },
            getProvinces() {
                Api.get('/provinces', {
                        headers: {
                            'X-DOMAIN-MEMBER': this.user.domain,
                            'Authorization': `Bearer ${this.token}`
                        }
                    })
                    .then((res) => {
                        var data = res.data.data
                        this.provinces = data.provinces
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            getCities() {
                if(!this.init) {
                    this.request.city_id = ''
                    this.request.subdistrict_id = ''
    
                    this.sub_districs = []
                }

                Api.get(`/cities/${this.request.province_id}`, {
                        headers: {
                            'X-DOMAIN-MEMBER': this.user.domain,
                            'Authorization': `Bearer ${this.token}`
                        }
                    })
                    .then((res) => {
                        var data = res.data.data
                        this.cities = data.cities
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            getSubDistricts() {
                if(!this.init) {
                    this.request.subdistrict_id = ''
                }

                Api.get(`/subdistricts/${this.request.city_id}`, {
                        headers: {
                            'X-DOMAIN-MEMBER': this.user.domain,
                            'Authorization': `Bearer ${this.token}`
                        }
                    })
                    .then((res) => {
                        var data = res.data.data
                        // this.sub_districs = data.sub_districs
                        this.sub_districs = data.cities

                        this.init = false
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            updateAddress() {
                Api.patch(`/customer/address/${this.request.id}`,
                        this.request, 
                        {
                            headers: {
                                'X-DOMAIN-MEMBER': this.user.domain,
                                'Authorization': `Bearer ${this.token}`
                            }
                        })
                    .then((res) => {
                        var response = res.data

                        if(response.meta.status == 'success') {
                            return this.addressList()
                        }
                    })
                    .catch((err) => {
                        var error = err.response.data.data.error

                        var first_key = Object.keys(error)[0]

                        this.validation.message = error[first_key][0]
                    })
            }
        },
    }
</script>

<style scoped>
    .image-text {
        background: #FDE512;
        border: 2px solid #3686E3;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 20% 0;
    }

    .image-text h1 {
        font-weight: bold;
        font-size: 129px;
        line-height: 176px;
        color: #1F5EA9;
    }

    .badge-status {
        font-weight: 600;
        font-size: 6px;
        line-height: 8px;
        text-align: center;
        color: var(--white);
    }

    .address-detail {
        width: 80%;
    }

    .footer-button {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0;
        margin-left: 10px;
        transition: 0.5s;
    }

    .footer-button:hover {
        opacity: 0.8;
    }

    .profile-card .active {
        background: #F8FBFF;
        border: 2px solid var(--blue);
    }

    .bottom-form {
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 12px;
        color: #A8A6A6;
    }
</style>