<template>
  <div class="page-all bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <SideNavigation/>
        </div>
        <div class="col-md-9">
          <div class="card shadow-sm">
            <div class="card-header bg-white p-4 border-0 d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img :src="Logo" class="account-header-logo"/>
                <h5 class="px-3 mb-0">
                    Refund
                </h5>
              </div>
            </div>
            <div class="card-body px-3 profile-card">
              <div v-for="data in Order" :key="data.id" class="card border">
                <div class=" card-header bg-white d-block d-md-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <img :src="TransactionDetail" />
                    <span class="invoice">
                      {{ data.invoice_number }} - {{ data.date }}
                    </span>
                  </div>
                  <div class="ml-auto mt-3 mt-md-0">
                    <p class="cancel mb-0">
                      Refund Date:
                      <span>{{ data.ended_date }}</span>
                    </p>
                  </div>
                </div>
                <div class="card-body d-block d-md-flex justify-content-between align-items-center py-4">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="d-flex justify-content-start align-items-center">
                        <img :src="Example" class="img-fluid img-transaction-show"/>
                        <h4 class="product-name">IPhone 12 Pro Max - IPad Generasi 8</h4>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="d-flex mt-3 mt-md-0">
                        <div class="ml-0 ml-md-auto w-50 text-md-right">
                          <p class="mb-1 mt-0">Total Belanja</p>
                          <h4 class="price">{{ data.total }}</h4>
                        </div>
                        <div class="ml-0 ml-md-4 w-50">
                            <p class="mb-1 mt-0">Refund</p>
                            <h4 class="price text-danger">{{ data.refund }}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ml-4 text-right">
                    <button class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#buktiTransfer">
                      Bukti Transfer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
import SideNavigation from '../../components/SideNavigation.vue';

import Logo from '../../assets/icons/money-blue.svg';
import TransactionDetail from '../../assets/icons/transaction-detail.svg';

import Example from '../../assets/product/pad.png';

const orderData = [
  {
    "id": "1",
    "invoice_number": "O-1234520210120",
    "date": "20 Januari 2021",
    "ended_date": "21 Januari 2021",
    "courier": "JNE - Reguler (Rp. 9000) Estimasi tiba 1 - 2 Hari",
    "qty": 2,
    "total": "Rp.36.000.000",
    "ongkir": "Rp. 9.000",
    "refund": "Rp. 36.000.000",
    "payment_method": "Transfer Bank BCA",
    "product":[
      {
        "name": "Iphone 12 Pro Max",
        "price": "Rp. 16.000.000",
        "weight": "1",
        "image": require('@/assets/product/phone.png'),
      },
      {
        "name": "Macbook Air 2020",
        "price": "Rp. 20.000.000",
        "weight": "1",
        "image": require('@/assets/product/laptop.png'),
      },
    ]
  },
  {
    "id": "2",
    "invoice_number": "O-1234520210120",
    "date": "20 Januari 2021",
    "ended_date": "21 Januari 2021",
    "courier": "JNE - Reguler (Rp. 9000) Estimasi tiba 1 - 2 Hari",
    "qty": 2,
    "total": "Rp.36.000.000",
    "ongkir": "Rp. 9.000",
    "refund": "Rp. 36.000.000",
    "payment_method": "Transfer Bank BCA",
    "product":[
      {
        "name": "Iphone 12 Pro Max",
        "price": "Rp. 16.000.000",
        "weight": "1",
        "image": require('@/assets/product/phone.png'),
      },
      {
        "name": "Macbook Air 2020",
        "price": "Rp. 20.000.000",
        "weight": "1",
        "image": require('@/assets/product/laptop.png'),
      },
    ]
  }
]

export default {
  components: {
    SideNavigation,
  },
  setup() {
    return{
      Order: orderData,
      displayModal: false,
      Logo,
      TransactionDetail,
      Example,
    }
  },
  methods: {
    showModal() {
      this.displayModal = true
    },
    closeModal() {
      this.displayModal = false
    }
  }
}
</script>

<style scoped>
.nav-transaction li .link-item{
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #888888;
}
.nav-line{
  height: 6px;
  width: 100%;
  color: var(--blue) !important;
}
.nav-item{
  padding: 20px 0;
}
.nav-item.active, .nav-item:hover{
  border-bottom: 5px solid var(--blue);
}
.nav-item.active .link-item, .nav-item:hover .link-item{
  color: var(--blue);
}
.invoice{
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #666363;
  margin-left: 10px;
}
.cancel{
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #505050;
}
.cancel span{
  color: var(--blue);
}
.img-transaction-show{
  width: 80px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}
.product-name{
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  margin-left: 10px;
}
.total-payment{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
}
.price{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #4B4B4B;
}
</style>
