<template>
    <div class="page-all bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <SideNavigation />
                </div>
                <div class="col-md-9">
                    <div class="card shadow-sm">
                        <div class="card-header bg-white p-4 border-0 d-flex align-items-center">
                            <img :src="Logo" class="account-header-logo" />
                            <h5 class="px-3 mb-0">Wishlist</h5>
                        </div>
                        <div class="card-body px-3 profile-card">
                            <template v-if="wishlists.length > 0">
                                <div class="row">
                                    <div class="col-md-4 col-xs-6" v-for="wishlist in wishlists" :key="wishlist.id">
                                        <div class="card">
                                            <div class="card-body d-flex flex-column product-card">
                                                <div class="product-thumbnail" :style="{'background-image': 'url(' + wishlist.image + ')'}">
                                                </div>
                                                <div class="product-name">
                                                    {{  wishlist.title }}
                                                </div>
                                                <div class="product-prices mt-2">
                                                    <div class="d-flex">
                                                        <div class="product-price discounted">
                                                            Rp{{ moneyFormat(wishlist.price) }}
                                                        </div>
                                                        <span class="badge bg-soft-blue text-blue mx-2">
                                                            <template v-if="wishlist.discount_type == 'nominal'">
                                                                -Rp{{ moneyFormat(wishlist.discount) }}
                                                            </template>
                                                            <template v-else>
                                                                -{{ wishlist.discount }}%
                                                            </template>
                                                        </span>
                                                    </div>
                                                    <div class="product-reseller-price">
                                                        Rp{{ moneyFormat(calculateDiscount(wishlist)) }}
                                                    </div>
                                                </div>
                                                <div class="row mt-auto">
                                                    <div class="col">
                                                        <button class="btn btn-block btn-blue" @click="buyWishlist(wishlist.id)">
                                                            Beli
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button class="btn btn-block btn-outline-blue" @click="deleteWishlist(wishlist.id)">
                                                            Hapus
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center py-4">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item"><a class="page-link" href="#"><img :src="ArrowLeft" /></a></li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#"><img :src="ArrowRight" /></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="my-5 text-center">
                                    <h4>
                                        Wishlist Kosong
                                    </h4>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SideNavigation from '../../components/SideNavigation.vue';
    import Api from '../../api/Api';

    import Logo from '../../assets/icons/wishlist-active.svg';
    import ArrowLeft from '../../assets/icons/arrow-left.svg';
    import ArrowRight from '../../assets/icons/arrow-right.svg';
    import Phone from '../../assets/product/phone.png';
    import {useRouter} from "vue-router";
    import Swal from 'sweetalert2'

    export default {
        components: {
            SideNavigation,
        },
        setup() {
            return {
                Logo,
                ArrowLeft: ArrowLeft,
                ArrowRight: ArrowRight,
                Phone: Phone,
            }
        },
        data() {
            return {
                wishlists: [],
            }
        },
        computed: {
            token() {
                return this.$store.getters['auth/isLoggedIn']
            },
            user() {
                return this.$store.getters['auth/currentUser']
            }
        },
        created() {
            this.getWishlists()
        },
        methods: {
            getWishlists() {
                Api.get('/customer/wishlist', {
                        headers: {
                            'X-DOMAIN-MEMBER': this.user.domain,
                            'Authorization': `Bearer ${this.token}`
                        }
                    })
                    .then((res) => {
                        var data = res.data.data
                        this.wishlists = data.wishlists
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            deleteWishlist(id) {
                Api.delete(`/customer/wishlist/${id}`, {
                        headers: {
                            'X-DOMAIN-MEMBER': this.user.domain,
                            'Authorization': `Bearer ${this.token}`
                        }
                    })
                    .then((res) => {
                        var response = res.data

                        if(response.meta.status == 'success') {
                            this.getWishlists()
                        }
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            buyWishlist(id) {                
                this.$store.dispatch('cart/addToCart', {
                    product_id: id
                })
                .then(() => {
                    const router = useRouter();

                    //return alert berhasil
                    Swal.fire({
                        title: 'Sukses',
                        text: 'Produk berhasil ditambahkan ke keranjang!',
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonText: 'Lihat Keranjang',
                        cancelButtonText: 'Tutup',
                        padding: '2rem',
                        confirmButtonColor: '#3686E3'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            router.push({
                            name: "cart",
                            });
                        }
                    })
      
                }).catch(error => {
                    //assign validaation message
                  console.log(error)
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
.image-text{
  background: #FDE512;
  border: 2px solid #3686E3;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20% 0;
}
.image-text h1{
  font-weight: bold;
  font-size: 129px;
  line-height: 176px;
  color: #1F5EA9;
}
  .product-thumbnail{
    width: 100%;
    height: 180px;
    background: #f8f8f8;
    border-radius: 1rem;
    position: relative;
    .stock{
        background: white;
        padding: 4px 8px;
        border-radius: 0 0 4px 4px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin-left: 1rem;
    }
  }
  .product-name{
    font-size: 14px;
    font-weight: 400;
    margin-top: .5rem;
    line-height: 28px;
  }
  .product-price{
      font-size: 14px;
      &.discounted{
          text-decoration: line-through;
          color: #919EAB;
      }
  }
  .product-reseller-price{
      font-weight: 600;
      margin-top: 4px;
  }
  .product-card{
    height: 350px;
    padding: .75rem;
  }
</style>