@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::-webkit-scrollbar {
  width: .4em;
  height: .4em;
}

*::-webkit-scrollbar-track {
background: #edf0f5;
border-radius: .25em;
}

*::-webkit-scrollbar-thumb {
background-color: #d2d3d4;
border-radius: .25em;
cursor: pointer;
}
body{
  background: #F9FAFE !important;
  font-size: 14px !important;
  color: #384956 !important;
  font-family: 'Poppins', sans-serif;
}
a{
  color: #000 !important;
  text-decoration: none !important;
}
img{
  vertical-align: middle !important;
  border-style: none !important;
}
.size-12{
  font-size: 12px !important;
}
.size-13{
  font-size: 13px !important;
}
.page-sidebar-layout .page-sidebar{
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  position: fixed;
  height: 100%;
  z-index: 0;
  width: 300px;
  left: 0;
  top: 0;
  transition: 0.3s all;
  /* padding: 3rem; */
}
.page-sidebar-layout .page-sidebar .sidebar-menu {
  padding-left: 0;
  list-style: none;
  overflow-y: auto;
  transition: all 0.3s;
  /* max-height: calc(100% - 200px); */
  position: relative;
  white-space: nowrap;
}
.page-sidebar-layout .page-sidebar .sidebar-menu li{
  background: #fff;
  padding: 10px 25px;
  margin-bottom: 0.5rem;
  color: #000;
}
.page-sidebar-layout .page-sidebar .sidebar-menu li.active{
  background: #FAFDFF;
  padding: 10px 25px;
  border-left: 4px solid #1181E9;
}
.page-sidebar-layout .page-sidebar .sidebar-menu li.line{
  width: 100%;
  height: 1px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #eee;
}
.line{
  width: 100%;
  height: 1px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #eee;
}
.page-sidebar-layout .page-content {
  padding-left: 300px;
  transition: 0.3s padding-left;
  width: 100%;
}
.page-sidebar-layout .page-content .page-body {
  padding: 30px;
}
.sidebar-calendar{
  position: fixed;
  top: 40px;
  width: 440px;
  max-height: calc(100% - 140px);
  overflow-y: auto;
}
.image-poster{
  width: 380px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.color-chart1{
  color: #fc4541;
}
.color-chart2{
  color: #ff7b43;
}
.box-scroll-list-data{
  height: 170px;
  max-height: calc(100% - 40px);
  overflow-y: auto;
}
.footer-menu li{
  display: inline;
}
.line-side{
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background: #f4f6f8;
}
.box-header{
  background: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
}
.btn-outline-orange{
  background: #fff !important;
  border: 1px solid #FB503B !important;
  color: #FB503B !important;
  /* box-shadow: 0px 2.5px 8px 0px #e74c3c52 !important; */
}
.btn-orange{
  border: 1px solid #FB503B !important;
  background: #FB503B !important;
  color: #fff !important;
  box-shadow: 0px 2.5px 8px 0px #e74c3c52 !important;
}
.btn-black-outline{
  background: #fff !important;
  border: 2px solid #000 !important;
  color: #000 !important;
  border-radius: 3px !important;
}
.btn-blue-strong{
  border-color: solid 2px transparent !important;
  background: #35488C !important;
  color: #fff !important;
  border: unset !important;
  box-shadow: 0px 2.5px 8px 0px #35488c73 !important;
}
.progress-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 20px;
  color: #000;
  background: #fff;
  font-size: 28px;
  font-weight: 700;
}
.progress-circle.red{
  border: 8px solid #ff4343;
}
.progress-circle.orange{
  border: 8px solid #ff7b44;
}
.progress-circle.dark{
  border: 8px solid #2b468b;
}
.color-red{
  color: #ff4343;
}
.color-orange{
  color: #ff7b44;
}
.text-orange{
  color: #ff7b44 !important;
}
.color-dark{
  color: #2b468b;
}
.size-20{
  font-size: 20px !important;
}
.size-25{
  font-size: 25px !important;
}
.size-28{
  font-size: 28px !important;
}
.form-control {
  font-size: 13px !important;
  border: solid 2px #F4F6F8 !important;
  background: #fff !important;
  border-radius: 7px !important;
  display: block !important;
  width: 100% !important;
  padding: 2px 13px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.form-control.textarea{
  padding: 8px 13px !important;
}
.form-control.file{
  padding: 2px 3px !important;
}
.image-preview{
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid #F4F6F8;
  border-radius: 10px;
  margin-top: 10px;
}
.max-character{
  width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.btn.disabled, .btn:disabled{
  cursor: no-drop;
}
.form-control:disabled, .form-control[readonly]{
    background: #e9ecef !important;
    border: solid 2px #e9ecef !important;
    cursor: no-drop;
    color: #637381 !important;
}
.form-control:focus {
  border: solid 2px #dee2e6 !important;
}

.form-control:focus {
  color: #495057 !important;
  background-color: #fff !important;
  box-shadow: unset !important;
}
.field-icon {
  float: right;
  margin-left: 13px !important;
  margin-top: -25px;
  position: relative;
  padding-right: 25px;
  z-index: 2;
}
.box {
  padding: 1.5rem;
  background-color: #fff;
  background-repeat: no-repeat;
  float: unset !important;
  position: relative;
}
.box.order{
  border: 2px solid #f2f2f2;
  border-radius: 4px;
}
.fw-thin{
font-weight: 200 !important;
}

.fw-light{
font-weight: 300 !important;
}

.fw-normal{
font-weight: 400 !important;
}

.fw-medium{
font-weight: 600 !important;
}

p{
  margin-bottom: 0px !important;
}

.capitalize{
  text-transform: capitalize !important;
}

.fw-bold{
font-weight: 700 !important;
}

.fw-black{
font-weight: 900 !important;
}
.radius{
  border-radius: 50% !important;
}
.pull-right{
  text-align: right;
}
.btn {
  border-radius: 5px !important;
  font-size: 14px !important;
  padding-right: 1rem;
  padding-left: 1rem;
  background-size: 120% !important;
  background-position-x: -5px !important;
  font-weight: 500 !important;
}
.btn-sm {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 13px !important;
  line-height: 1.5 !important;
  border-radius: .2rem !important;
}
.btn-primary{
  border-color: solid 2px transparent !important;
  background: #1081e9 !important;
  color: #fff !important;
  box-shadow: 0px 2.5px 8px 0px rgb(36 155 215 / 40%) !important;
}
.btn-primary:hover{
  border-color: #1081e9 !important;
}
.btn-outline-primary{
  border-color: solid 2px transparent !important;
  background: #fff !important;
  color: #1081e9 !important;
  border: 2px solid #1081e9;
}
.btn-border{
  border: solid 3px #f4f6f8 !important;
  background: #fafafa !important;
  border-radius: 50px !important;
}
.text-green{
color: #06BC35 !important;
}
.text-gray100{
color: #F4F6F8 !important;
}
.text-gray200{
color: #DFE3E8 !important;
}
.text-gray300{
color: #C4CDD5 !important;
}
.text-gray400{
color: #919EAB !important;
}
.text-gray500{
color: #637381 !important;
}
.text-gray600{
color: #454F5B !important;
}
.text-red{
  color: #f24d49 !important;
}
.text-blue{
  color: #1292ee !important;
}
.text-yellow{
  color: #ffc555 !important;
}
.dt-search .dt-search-box{
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  background: #fff;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 3px solid #f4f6f8;
}
.dt-search .dt-search-box .search-field{
  width: 100%;
}
.dt-search .dt-search-box .search-field .search-input{
  background: transparent;
  border: none;
  width: 100%;
}
.dt-search .dt-search-box .search-field .search-input:focus{
  outline: 0px solid black;
}
.dt-search .dt-search-box .search-button{
  justify-self: end;
}
.dt-search .dt-search-box .search-button .btn-search {
  height: 28px !important;
  width: 28px !important;
  padding: 3px !important;
  font-size: 12px !important;
}
.tag-notif{
  background: #fed130;
  min-width: 12px;
  height: 12px;
  color: #fff;
  font-size: 10px;
  border-radius: 16px;
  text-align: center;
  letter-spacing: 0px;
  padding: 2px 7px;
}
.text-white{
  color: #fff;
}
.size-10{
  font-size: 10px !important;
}
.size-12{
  font-size: 12px !important;
}
.size-14{
  font-size: 14px !important;
}
.size-16{
  font-size: 16px !important;
}
.size-18{
  font-size: 18px !important;
}
.border-3{
  border: 3px solid #f4f6f8;
}
.modern-table-boxed{
  display: table;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px 7px;
}
.modern-table-boxed .d-table-row.header {
  background: transparent;
  box-shadow: none !important;
  color: #C4CDD5;
  font-weight: 600;
}
.modern-table-boxed .d-table-row .d-table-cell:first-child{
  border-radius: 5px 0 0 5px;
  padding-left: 15px;
}
.modern-table-boxed .d-table-row .d-table-cell {
  vertical-align: middle;
  padding: 10px;
}
.d-table-cell {
  display: table-cell;
}
.modern-table-boxed .d-table-row .d-table-cell.shrink {
  width: 1%;
  white-space: nowrap;
}
.modern-table-boxed .d-table-row .d-table-cell:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 15px;
}
.modern-table-boxed .d-table-row {
  background: #fff;
  font-weight: 500;
  min-height: 60px;
  height: 10px;
  box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 2%);
}
.modern-table-boxed .d-table-row.header {
  background: transparent;
  box-shadow: none !important;
  color: #C4CDD5;
  font-weight: 500;
}
.tag{
  white-space: nowrap;
padding: 3px 10px 2px 10px;
  background: #A0D4FF;
  border-radius: 5px;
  font-weight: 600;
  color: #005CA4;
margin-right: 5px;
margin-bottom: 3px;
display: inline-block;
}
.tag.yellow{
  color: #6A4C14;
  background: #ffe7b8;
}
.tag.green{
  color: #1B5E4B;
  background: #ceefe8;
}
.tag.red{
  color: #5F1616;
  background: #ff8080;
}
.tag.gray{
  color: #000;
  background: #F4F6F8;
}
.footer-dashboard{
  background: #000;
  padding: 15px 65px;
  position: fixed;
  color: #fff;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 99;
}
ol, ul, dl{
  margin-bottom: 0px !important;
}
.pagination-content {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.pagination-content .page-item-content .page-link {
  padding: 7px;
  text-align: center;
  height: 30px;
  min-width: 30px;
  border-radius: 4px;
  margin: 0 5px;
  font-weight: 500;
  border-color: transparent;
  color: #6c757d !important;
  background: transparent;
  font-size: 12px;
}
.pagination-content .page-item-content.active .page-link{
  background: #0062cc !important;
  border-color: #0061cc !important;
  box-shadow: 0px 2.5px 8px 0px rgb(0 123 255 / 25%);
  color: #fff !important;
}
.image-produk{
  width: 100%;
  border-radius: 15px;
  height: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box-salary{
  padding: 3px 15px;
  background-color: #f3a032;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 99;
}
.box-salary-product-detail{
  padding: 3px 15px;
  background-color: #ffc555;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
}
.box-status{
  padding: 3px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.box-status.not-active{
  background-color: #ffc555;
}
.box-status.active{
  background-color: #06BC35;
}
.box-chart {
  border-radius: 1rem;
}
.box-chart.blue{
  background: #1292ee29;
}
.box-chart.blue .inside{
  background: #1292ee;
  padding: 1.5rem;
  border-radius: 1rem;
  height: 100%;
}
.box-chart.red{
  background: #f24d491f;
}
.box-chart.red .inside{
  background: #f24d49;
  padding: 1.5rem;
  border-radius: 1rem;
  height: 100%;
}
.box-chart.yellow{
  background: #ffc5552e;
}
.box-chart.yellow .inside{
  background: #ffc555;
  padding: 1.5rem;
  border-radius: 1rem;
  height: 100%;
}
.chart {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 700px;
  height: 200px;
  margin: 0 auto;
  background-image: linear-gradient(to top, #f4f6f8 2%, rgba(0, 0, 0, 0) 2%);
  background-size: 100% 50px;
  background-position: left top;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
  right: 35px;
}
.chart span {
  margin: 0 1em;
  display: block;
  background: #1292ee29;
  animation: draw 1s ease-in-out;
  font-size: 10px;
}
.chart span:before {
  position: absolute;
  left: 0;
  color: #212529;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

@keyframes draw {
  0% {
      height: 0;
  }
}
.chart-point{
  position: absolute;
  right: 45%;
  font-size: 10px;
  margin-top: -18px;
}
.box.profile{
  background: #e9ecef;
}
.product-image{
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.profile-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.line-header{
  width: 100%;
  height: 1px;
  background: #f7f7f7
}
.slider-box{
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
}
.slider-image-content{
  padding: 40px;
}
.box-name{
  background: #fff;
  padding: 10px 20px;
  position: absolute;
  border-radius: 8px;
}
.slider-action{
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.logo{
  width: 90px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  border: 2px solid #f7f7f7;
}
.nav-item .nav-link,
.nav-tabs .nav-link {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.card a {
  -webkit-transition: all 150ms ease 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
  -webkit-transition: transform 150ms ease 0s;
  -moz-transition: transform 150ms ease 0s;
  -o-transition: transform 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


@-webkit-keyframes nc-icon-spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes nc-icon-spin {
  0% {
      -moz-transform: rotate(0deg);
  }

  100% {
      -moz-transform: rotate(360deg);
  }
}

@keyframes nc-icon-spin {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.nav-tabs {
  border: 0;
  padding: 15px 0.7rem;
  background: transparent;
  border-bottom: 0px solid red !important;
}

.card .nav-tabs {
  border-top-right-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
  color: #000;
  margin: 0;
  margin-right: 5px;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}

.nav-tabs>.nav-item>.nav-link:hover {
  background-color: transparent !important;
}

.nav-tabs>.nav-item>.nav-link.active {
  border-color: solid 2px transparent !important;
  background: #1081e9 !important;
  color: #fff !important;
  box-shadow: 0px 2.5px 8px 0px rgb(36 155 215 / 40%) !important;
}

.nav-tabs>.nav-item>.nav-link i.now-ui-icons {
  font-size: 14px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
  color: #FFFFFF;
}

.card-header {
  background-color: transparent !important;
  border-bottom: 0 !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  border-color: transparent !important;
}
.about-banner{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.box-socila{
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background: #f7f7f7;
  font-size: 50px;
  position: relative;
}
.action-social{
  width: 24px;
  height: 24px;
  border-radius: 50px;
  padding: 3px;
  text-align: center;
  font-size: 12px;
  background: #fff;
  position: absolute;
  right: 10px;
  top: 8px;
}
.action-category{
  width: 24px;
  height: 24px;
  border-radius: 50px;
  padding: 3px;
  text-align: center;
  font-size: 12px;
  background: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
}
.circle-hide-menu{
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #eee;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  right: -18px;
  top: 20px;
  font-size: 22px;
  padding: 1px;
}
.dashboard-box{
  width: 60px;
  height: auto;
  border-radius: 5px;
  text-align: center;
  padding: 17px;
}
.dashboard-box.red{
  background: #FFD9D9;
}
.dashboard-box.orange{
  background: #FFE5D9;
}
.dashboard-box.yellow{
  background: #FFF0D9;
}
.dashboard-box.green{
  background: #CCF2D7;
}
.dashboard-box.blue{
  background: #D0E5FB;
}
.footer-menu{
  position: absolute;
  bottom: 15px;
  /* padding: 20px; */
  /* background: #ffff; */
  /* width: 100%; */
}
.m-block{
  display: none;
}
.user-image{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mr-sidebar{
  margin-right: 10px;
}
.image-list{
  width: 100%;
  height: 90px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #e9ecef;
}
.switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 49px;
}
.switch input {
  display:none;
}

.radio-slider {
  background-color: #dee2e6;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.radio-slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  position: absolute;
  transition: .4s;
}

input:checked + .radio-slider {
  background-color: #007bff;
}

input:checked + .radio-slider:before {
  transform: translateX(26px);
}

.radio-slider.round {
  border-radius: 34px;
}

.radio-slider.round:before {
  border-radius: 50%;
}
.chart{
  overflow: unset !important;
}
label:not(.form-check-label):not(.custom-file-label){
  font-weight: 500 !important;
}
.box.product{
  border-radius: 15px !important;
}
.box.header{
  padding: 15px 20px;
  margin-bottom: 40px;
}
.modal-content{
  border-radius: 5px;
  padding: 20px;
  box-shadow: unset !important;
  border: unset !important;
}
.modal-footer{
  display: block !important;
  border-top: unset !important;
}
.modal-dialog-centered {
  min-height: calc(100% - 18rem) !important;
}
.p-box{
  padding: 1.5rem;
}
.fw-500{
  font-weight: 500 !important;
}
.image-article{
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 2px solid #f2f2f2;
}
.image-product-detail{
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 2px solid #f2f2f2;
}
.circle-slide{
  width: 28px;
  height: 28px;
  border-radius: 50px;
  text-align: center;
  background: #dae0e5;
  color: #000;
  padding: 4px;
}
.carousel-inner{
  border-radius: 5px;
}
@media (max-width: 767px) {
  .m-none{
      display: none !important;
  }
  .m-block{
      display: block !important;
  }
  .no-ml{
      margin-left: unset !important;
  }
  .m-text-center{
      text-align: center !important;
  }
  .m-pt-0{
    padding-top: 0px !important;
  }
  .m-pt-0{
    padding-top: 0px !important;
  }
  .m-pt-1{
    padding-top: 10px !important;
  }
  .m-pt-2{
    padding-top: 20px !important;
  }
  .m-mt-min{
    margin-top: 16px !important;
  }
  .m-mt-1{
      margin-top: 10px;
  }
  .no-mr{
      margin-right: unset !important;
  }
  .m-mt-2{
      margin-top: 20px;
  }
  .m-mb-1{
    margin-bottom: 10px !important;
  }
  .m-mb-2{
    margin-bottom: 20px !important;
  }
  .m-mb-3{
    margin-bottom: 30px !important;
  }
  .m-ml-1{
    margin-left: 10px;
  }
  .m-ml-2{
    margin-left: 20px;
  }
  .m-align-items-center{
      align-items: unset !important;
      -webkit-box-align: unset !important;
  }
  .page-sidebar-layout .page-sidebar{
      width: 67px;
  }
  .page-sidebar-layout .page-sidebar .sidebar-menu{
      width: 67px;
  }
  .page-sidebar-layout .page-sidebar .sidebar-menu li.active{
      border-left: 2px solid #1181E9;
  }
  .page-sidebar-layout .page-content{
      padding-left: 60px
  }
  .no-flex{
      display: none !important;
  }
  .chart{
      max-width: 100%;
      padding-left: 0px;
      height: 150px;
  }
  .chart li{
      height: 150px;
  }
  .chart-content{
      margin-left: -1rem;
      margin-right: -1rem;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      border-radius: .5rem;
      white-space: nowrap;
  }
  .chart span{
      margin: 5px;
  }
  .chart-point{
      right: 41%;
  }
  .m-mt-0{
    margin-top: 0px !important;
  }
  .m-mt-3{
      margin-top: 30px;
  }
  .m-mt-4{
      margin-top: 40px;
  }
  .m-size-12{
    font-size: 12px !important;
  }
  .m-size-14{
    font-size: 14px !important;
  }
  .m-size-16{
    font-size: 16px !important;
  }
  .chart span:before{
      font-size: 9px;
  }
  .user-image{
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .overflow-auto{
      overflow: auto;
  }
  .logout{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 26px;
  }
  .m-content-center{
    display: block;
    text-align: -webkit-center;
  }
}
.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.page-all{
  padding-top: 130px !important;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 18px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #5f687b;
  transition: 0.3s;
  font-size: 14px;
}
.nav-menu .active > a{
  font-weight: 600;
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #F3A032 !important;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #5f687b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #FE912A;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}