<template>
	<div>
		<section class="mt-first-section">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="image-slider" :style="{'background-image': 'url(' + defaultSlider + ')'}"></div>
						<div class="carousel-caption d-none d-md-block">
							<div class="row">
                                <div class="col-md-7">
                                    <div class="title-first-section fw-bold mt-2 text-dark">
                                        Inovasi Olahan Nugget
                                    </div>
                                    <div class="mt-4 text-dark fw-normal">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero reprehenderit dolorem quasi laborum assumenda, facilis itaque, eum doloremque, saepe quia rerum distinctio dolor facere ex omnis quisquam veniam modi. Nemo?
                                    </div>
                                    <div class="mt-5">
                                        <a href="" class="btn btn-order btn-lg radius px-4">
                                            <i class="fa fa-shopping-cart mr-1"></i>
                                            Order Sekarang
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-5 text-center">
                                    <img src="asset/image-not-found.png" width="100%" alt="">
                                </div>
                            </div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<div class="circle-slide">
						<i class="fa fa-angle-left"></i>
					</div>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<div class="circle-slide">
						<i class="fa fa-angle-right"></i>
					</div>
				</a>
			</div>
		</section>
		<section class="mt-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-3">
								<div class="box-category" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							</div>
							<div class="col-md-3">
								<div class="box-category" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							</div>
							<div class="col-md-3">
								<div class="box-category" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							</div>
							<div class="col-md-3">
								<div class="box-category" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="mt-5 about-us p-5">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h3 class="mb-0 text-white fw-bold mt-4">
							Tentang Kami
						</h3>
						<div class="mt-4 text-white fw-normal size-13">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum natus facilis ex rem nostrum reprehenderit autem iure porro odio placeat, nulla quasi nobis. Impedit, iure dolore. Quasi doloribus odio aliquam.<br><br>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, magni aspernatur? Debitis eos hic sunt quasi id! Quibusdam et, soluta dolor minima quos incidunt culpa minus. Accusantium atque at voluptatum!
						</div>
					</div>
					<div class="col-md-5">
						<div class="box-about mb-4" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="mt-5 p-5">
			<div class="container">
				<h3 class="mb-0 fw-bold">
					Produk Kami
				</h3>
				<div class="row mt-5">
					<div class="col-md-3">
						<div class="box product p-0">
							<a href="">
								<div class="box-salary">
									<i class="fa fa-shopping-basket"></i>
								</div>
							</a>
							<div class="image-produk" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							<div class="p-4">
								<div class="fw-medium size-16">
									Naget Pedes 90g
								</div>
								<div class="fw-medium size-14 text-orange mt-1">
									Rp. 300.000,00
								</div>
								<div class="mt-2 size-13 text-gray500">
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box product p-0">
							<a href="">
								<div class="box-salary">
									<i class="fa fa-shopping-basket"></i>
								</div>
							</a>
							<div class="image-produk" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							<div class="p-4">
								<div class="fw-medium size-16">
									Naget Pedes 90g
								</div>
								<div class="fw-medium size-14 text-orange mt-1">
									Rp. 300.000,00
								</div>
								<div class="mt-2 size-13 text-gray500">
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box product p-0">
							<a href="">
								<div class="box-salary">
									<i class="fa fa-shopping-basket"></i>
								</div>
							</a>
							<div class="image-produk" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							<div class="p-4">
								<div class="fw-medium size-16">
									Naget Pedes 90g
								</div>
								<div class="fw-medium size-14 text-orange mt-1">
									Rp. 300.000,00
								</div>
								<div class="mt-2 size-13 text-gray500">
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box product p-0">
							<a href="">
								<div class="box-salary">
									<i class="fa fa-shopping-basket"></i>
								</div>
							</a>
							<div class="image-produk" :style="{'background-image': 'url(' + cateCtegry + ')'}"></div>
							<div class="p-4">
								<div class="fw-medium size-16">
									Naget Pedes 90g
								</div>
								<div class="fw-medium size-14 text-orange mt-1">
									Rp. 300.000,00
								</div>
								<div class="mt-2 size-13 text-gray500">
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import circleImage from '../../assets/bubble_slide-01.png';
import defaultSlider from '../../assets/slider.jpeg';
import cateCtegry from '../../assets/category.jpeg';

export default {
	setup() {
		return{
			circleImage,
			defaultSlider,
			cateCtegry
		}
	},
	methods: {
	}
}
</script>

<style scoped lang="css">
	.product{
		border-radius: 10px;
	}
	.about-us{
		background: #2e2c36;
	}
	.box-category{
		width: 100%;
		height: 200px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 20px;
	}
	.box-about{
		width: 100%;
		height: 250px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 20px;
		box-shadow: 35px 32px 0 0 rgb(243 160 50);
	}
	.carousel-caption{
		text-align: unset;
		bottom: 25%;
	}
	.image-slider{
		width: 100%;
		height: 600px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.radius{
		border-radius: 50px !important;
	}
	.btn-order{
		border: 1px solid #F3A032 !important;
		background: #F3A032 !important;
		color: #fff !important;
		box-shadow: 0px 2.5px 8px 0px #ffc10775 !important;
	}
	.main-header{
		background: #fff;
		padding: 18px;
		font-size: 12px;
		position: fixed;
		top: 0;
		z-index: 99;
		width: 100%;
	}
	.mt-first-section{
		margin-top: 7rem;
	}
	.title-first-section{
		font-size: 55px;
		font-weight: bold;
		line-height: 65px;
	}
	.carousel-indicators{
		bottom: 25px;
	}
	.carousel-indicators li{
		background-color: #ffc107;
	}
	.left-row{
		position: absolute;
		left: -90px;
		bottom: 40%;
		width: 40px;
		height: 40px;
		background: #f3a032bf;
		color: #fff;
		border-radius: 50px;
		text-align: center;
		font-size: 25px;
		font-weight: 800;
		padding: 1px;
	}
	.right-row{
		position: absolute;
		right: -90px;
		bottom: 40%;
		width: 40px;
		height: 40px;
		background: #f3a032bf;
		color: #fff;
		border-radius: 50px;
		text-align: center;
		font-size: 25px;
		font-weight: 800;
		padding: 1px;
	}
	.container-fluid{
		background: #F9FAFE !important;
	}
	.circle-slide {
		width: 45px;
		height: 45px;
		border-radius: 50px;
		text-align: center;
		background: #f3a032;
		color: #fff;
		font-size: 30px;
		line-height: 35px;
	}
</style>
