<template>
  <div class="row">
    <div class="col-6 col-md">
      <router-link :to="{name: 'product'}" class="link-card">
        <div class="card">
          <img :src="Phone" class="card-img-top">
          <div class="card-body">
            <h6>Iphone 12 Pro Max</h6>
            <h5>Rp 16.000.000</h5>
          </div>
        </div>
      </router-link>
    </div>
    <div class="col-6 col-md">
      <router-link :to="{name: 'product'}" class="link-card">
        <div class="card">
          <img :src="Pad" class="card-img-top">
          <div class="card-body">
            <h6>Iphone 12 Pro Max</h6>
            <h5>Rp 16.000.000</h5>
          </div>
        </div>
      </router-link>
    </div>
    <div class="col-6 col-md">
      <router-link :to="{name: 'product'}" class="link-card">
        <div class="card">
          <img :src="Earphone" class="card-img-top">
          <div class="card-body">
            <h6>Iphone 12 Pro Max</h6>
            <h5>Rp 16.000.000</h5>
          </div>
        </div>
      </router-link>
    </div>
    <div class="col-6 col-md">
      <router-link :to="{name: 'product'}" class="link-card">
        <div class="card">
          <img :src="Laptop" class="card-img-top">
          <div class="card-body">
            <h6>Iphone 12 Pro Max</h6>
            <h5>Rp 16.000.000</h5>
          </div>
        </div>
      </router-link>
    </div>
    <div class="col-6 col-md">
      <router-link :to="{name: 'product'}" class="link-card">
        <div class="card">
          <img :src="PC" class="card-img-top">
          <div class="card-body">
            <h6>Iphone 12 Pro Max</h6>
            <h5>Rp 16.000.000</h5>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import Phone from '../../assets/product/phone.png';
import Pad from '../../assets/product/pad.png';
import Earphone from '../../assets/product/earphone.png';
import Laptop from '../../assets/product/laptop.png';
import PC from '../../assets/product/pc.png';

export default {
  setup() {
    return{
      Phone: Phone,
      Pad: Pad,
      Earphone: Earphone,
      Laptop: Laptop,
      PC: PC
    }
  }
}
</script>