<template>
  <component :is="layout"/>
</template>

<script scoped>
  /*eslint no-restricted-imports: ["error", "fs"]*/
  import 'jquery/dist/jquery.min.js'
  import './assets/js/summernote-lite.js'
  import './assets/css/summernote-lite.css'
  
  const layout = 'default';

  export default {
    name: 'App',
    computed: {
      layout(){
        console.log(this.$route.meta.layout);
        require('./assets/app.css');
        return (this.$route.meta.layout || layout) + '-layout'
      }
    },
  }
</script>

<style lang="css">
  .form-control:focus {
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  .form-control:hover {
    border-radius: .25rem;
  }
  
  .form-file:hover {
    background: #FFFFFF;
    border: 1px solid #bedfdf;
  }

  .form-check-input {
    font-size: 1.1rem !important;
  }

  .form-check-label {
    font-size: 0.9rem !important;
  }
</style>
