<template>
    <div class="page-all bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-12 py-4">
                    <h1>Cart</h1>
                </div>
                <div class="col-md-9">
                    <div class="card shadow-sm" v-for="item in cart" :key="'cart-item' + item.id">
                        <div class="card-body">
                            <div class="d-block d-md-flex justify-content-between">
                                <div class="d-flex h-100">
                                    <div class="form-check mt-4">
                                        <input class="form-check-input" type="checkbox" value="" id="Apple">
                                    </div>
                                    <img :src="item.product.image" class="img-cart" />
                                    <div class="px-3">
                                        <h6 class="mb-0">
                                            {{ item.product.title }}
                                        </h6>
                                        <h5 class="mt-1 mb-2">
                                            Rp{{ moneyFormat(item.price) }}
                                        </h5>
                                        <template v-if="item.note && !item.is_add_note">
                                            <div class="d-flex align-items-center" @click="item.is_add_note = true">
                                                <p class="text-grey my-0">Catatan:</p>
                                                <p type="text" class="text-grey bg-grey p-1 rounded w-100 ml-2 my-0 text-center" style="cursor:pointer">
                                                    {{ item.note }}
                                                </p>
                                            </div>
                                        </template>
                                        <template v-else>
                                            <a href="javascript:void(0)" @click="item.is_add_note = true" v-if="!item.is_add_note">
                                                <small>
                                                    Tambah Catatan
                                                </small>
                                            </a>
                                            <div class="d-flex" v-else>
                                                <input type="text" class="form-control" v-model="item.note" placeholder="Masukan Note">
                                                <button class="btn btn-blue ml-2" style="width: 50px" @click="updateCart(item.product.id, '', item.note)">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                                <button class="btn btn-outline-blue ml-2" style="width: 50px" @click="item.is_add_note = false">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start justify-content-md-end align-items-center mt-3 mt-md-0 ml-3 ml-md-0">
                                    <div class="">
                                        <button @click="decrement(item.product.id, item.note, item.qty)" class="btn btn-blue btn-sm mx-1 w-100 btn-qty">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <div class="text-center w-25 px-2 pl-3">
                                        <input type="text" class="form-control qty-form" v-model="item.qty" readonly @keypress="isNumber($event)" />
                                    </div>
                                    <div class="">
                                        <button @click="increment(item.product.id, item.note)" class="btn btn-blue btn-sm mx-1 w-100 btn-qty">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="px-4 ml-auto ml-md-0">
                                        <button class="btn" @click="deleteCart(item.id)">
                                            <img :src="Delete" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="mb-3">Sub Total</h5>
                            <div class="d-flex justify-content-between text-side-card">
                                <p>Jumlah Barang</p>
                                <p class="font-weight-bold">
                                    {{ cartCount }}
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-side-card">
                                <p>Total Harga</p>
                                <p class="font-weight-bold">
                                    Rp{{ moneyFormat(cartTotal + cartTotalDiscount) }}
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-side-card">
                                <p>Diskon</p>
                                <p class="font-weight-bold">
                                    -Rp{{ moneyFormat(cartTotalDiscount) }}
                                </p>
                            </div>
                            <hr class="my-3" />
                            <div class="d-flex justify-content-between text-side-card mb-3">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5>
                                    Rp{{ moneyFormat(cartTotal) }}
                                </h5>
                            </div>
                            <router-link :to="{name: 'checkout'}" class="btn btn-blue btn-lg w-100">
                                Beli Sekarang
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Phone from '../../assets/product/phone.png';
    import Delete from '../../assets/icons/delete.svg';

    export default {
        setup() {
            return {
                Phone: Phone,
                Delete: Delete,
            }
        },
        data() {
            return {
            }
        },
        computed: {
            user() {
                var user = this.$store.getters['auth/currentUser']

                if (user.email) {
                    user.firstname = user.name.split(' ')[0]
                }

                return user
            },
            cart() {
                return this.$store.getters['cart/getCart']
            },
            cartCount() {
                return this.$store.getters['cart/cartCount']
            },
            cartTotal() {
                return this.$store.getters['cart/cartTotal']
            },
            cartTotalDiscount() {
                return this.$store.getters['cart/cartTotalDiscount']
            },
        },
        methods: {
            isNumber: function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault()
                } else {
                    return true;
                }
            },
            increment(id, note) {
                this.updateCart(id, 'increase', note)
                return true
            },
            decrement(id, note, qty) {
                if (qty === 1) {
                    qty = 1
                } else {
                    this.updateCart(id, 'decrease', note)
                }
            },
            deleteCart(id) {
                this.$store.dispatch('cart/removeCart', {
                    cart_id: id
                })
                .then(() => {
                    //redirect ke dashboard
                }).catch(error => {
                    //assign validaation message
                  console.log(error)
                })
            },
            updateCart(id, type, note) {
                var payload = {
                    product_id: id,
                    note: note || null
                }

                if(type) {
                    payload.type = type
                }

                this.$store.dispatch('cart/updateCart', payload)
                .then(() => {
                    //redirect ke dashboard
                }).catch(error => {
                    //assign validaation message
                  console.log(error)
                })
            }
        },
    }
</script>


<style scoped>
    .img-cart {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        border: 0.5px solid #CBCBCB;
        flex: 80px 0 0;
    }

    .qty-form {
        text-align: center;
        transform: translateX(5px);
    }

    .btn-qty {
        font-size: 10px;
    }
</style>