<template>
    <div class="page-sidebar-layout">
        <Header></Header>
        <div class="page-content">
            <div class="page-body">
                <div class="d-flex align-items-center m-block box header m-mb-3">
                    <div class="d-flex align-items-center m-block m-align-items-center no-ml m-content-center">
                        <div class="user-image mr-3 no-mr" :style="{'background-image': 'url(' + (user) + ')'}"></div>
                        <h6 class="mb-0 fw-medium m-mt-1">
                            Muhamad Chori Zikrin
                        </h6>
                    </div>
                    <div class="ml-auto">
                        <a href="">
                            <img :src="logout" class="logout mr-2 no-mr" width="22" alt="">
                            <span class="text-orange m-none">Logout</span>
                        </a>
                    </div>
                </div>
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>

    import Header from "../components/HeaderAdmin.vue";
    import user from '../assets/user.jpeg';
    import logout from '../assets/logout.png';

    export default {
        components: {
            Header,
        },
        setup() {
            return {
                Notification: Notification,
                user:user,
                logout:logout,
            }
        }
    };
</script>

<style scoped lang="css">
    @import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700";
</style>
