<template>
  <div>
    <Header/>
      <router-view/>
    <Footer/>
  </div>
</template>

<script>
  import Header from '../components/HeaderCustomer.vue'
  // import Footer from '../components/FooterCustomer.vue'

  export default {
    components : {
      Header,
      // Footer
    },
  }
</script>